 /* *
/* This file includes the common styles used in Personalization
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
 /* new: the active status is now called enabled
 /* the inactive status is now called disabled 
 */
 
 .status-active {
     color: @text-color-green;
 }
 
 .status-ignore,
 .status-inactive {
     color: @text-color-grey;
 }
 
 .perso__scrollzone {
     position: fixed;
     z-index: 10000;
     left: 0;
     width: 100%;
     height: 10%;
     background-color: @background-color-grey;
 }
 
 .perso__scrollzone--top {
     top: 0;
 }
 
 .perso__scrollzone--bottom {
     bottom: 0;
 }