.customization-component {
    word-wrap: break-word; //in extreme scenarios
    font-size: 15px;
    .select2-container {
        margin-bottom: 20px;
        display: block;
    }
    .select2-result-label {
        font-weight: bold;
    }
    .combinedview-letter-in-modal {
        padding-right: 15px;
    }
    .modal-subheader-area {
        font-size: 17px;
        font-weight: @font-weight-semibold;
        padding-bottom: 20px;
        border-bottom: 1px solid @border-color-light-grey;
    }
    .modal-data {
        padding-top: 20px;
    }
}