// These are the direct style overwrites of angular-ui-tree, either for different look/feel or for bug fixes
// It is better to keep them separately for easier debugging when we use angular-ui-tree again
// They might not be needed with a new version of angular-ui-tree
.angular-ui-tree-placeholder {
    margin: 10px;
    padding: 0;
    min-height: 30px;
}

.angular-ui-tree-drag .tree-node-content {
    //fix bug when dragging top node in Chrome, Firefox
    margin-top: 0;
}

//only this should stay, specific look and feel in SE/personalization
.angular-ui-tree-drag {
    color: @text-color-dark-blue;
    font-size: 15px;
}