.personalizationsmarteditVariationComponentSelected-icon {
    background-image: @personalizationVariationComponentIcon;
    background-repeat: no-repeat;
    background-color: transparent; //in case the image does not load
}

.personalizationsmarteditVariationComponentSelected {
    border: 5px;
    border-style: solid;
    border-color: @personalizionComponentSelectedBorderColor;
}

.customization__marker {
    width: 30px;
    height: 30px;
    top: -5px;
    background-color: transparent; //in case the image does not load
    display: inline-block;
}

.commerce-customization__marker--icon {
    &:extend(.customization__marker);
    background-image: @personalizationCommerceCustomizationIcon;
    background-repeat: no-repeat;
}

.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-fullscreen > .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-color: @background-color-light-grey1;
}

.modal_bigger {
    font-size: 15px;
    .modal-body {
        min-height: 600px; //set a fixed minimal height for the customization modal
    }
}

.ySEComponentMenuW--button-with-context,
.ySEComponentMenuW--button-with-context:hover,
.ySEComponentMenuW--button-with-context:active,
.ySEComponentMenuW--button-with-context:hover:active,
.ySEComponentMenuW--button-with-context:focus,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:hover,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:active,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:hover:active,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:focus,
.ySEComponentMenuW.open .toolbar-context--btn,
.ySEComponentMenuW.open .toolbar-context--btn:hover,
.ySEComponentMenuW.open .toolbar-context--btn:active,
.ySEComponentMenuW.open .toolbar-context--btn:hover:active,
.ySEComponentMenuW.open .toolbar-context--btn:focus {
    border-right: 0 none;
}

.toolbar-context {
    display: inline-block; //fix for small screens layout
    background-color: @background-color-light-blue-grey;
    .hyicon {
        font-size: 20px;
        padding-top: 2px;
        padding-left: 0;
        &:hover {
            opacity: @opacity_point-six;
        }
    }
    .ySEComponentMenuW--button-hyicon {
        min-width: 30px;
    }
}

.toolbar-context--btn,
.toolbar-context--btn:hover,
.toolbar-context--btn:active,
.toolbar-context--btn:hover:active,
.toolbar-context--btn:focus {
    border-right: 0 none;
    margin-left: -4px;
    margin-right: -3px;
    background: @toolbar-context-border-image no-repeat;
    cursor: default;
    opacity: @opacity_one;
}

.toolbar-context--btn--txt {
    height: 51px;
    padding-top: 7px;
    padding-left: 15px;
    text-transform: capitalize;
    font-size: 13px;
}

.personalization-modal__label {
    font-size: 13px;
    font-weight: @font-weight-bold;
}

.personalization-ctx__icon:before {
    vertical-align: inherit;
}

.personalization-ctx__icon:hover {
    background: @background-color-white;
    color: @text-color-light-blue;
}