<label for="components-cloned-selector-id"
    class="control-label"
    data-translate="se.cms.clonepagewizard.options.title" />
<y-help data-title="$ctrl.helpTitle"
    data-template="$ctrl.helpTemplate"></y-help>
<div id="components-cloned-selector-id">
    <div>
        <input class="components-cloned-option-id"
            type="radio"
            ng-model="$ctrl.componentInSlotOption"
            ng-click="$ctrl.updateComponentInSlotOption($ctrl.CLONE_COMPONENTS_IN_CONTENT_SLOTS_OPTION.REFERENCE_EXISTING)"
            ng-value="$ctrl.CLONE_COMPONENTS_IN_CONTENT_SLOTS_OPTION.REFERENCE_EXISTING">
        <label data-translate="se.cms.clonepagewizard.options.existing" />
    </div>
    <div>

        <input class="components-cloned-option-id"
            type="radio"
            ng-model="$ctrl.componentInSlotOption"
            ng-click="$ctrl.updateComponentInSlotOption($ctrl.CLONE_COMPONENTS_IN_CONTENT_SLOTS_OPTION.CLONE)"
            ng-value="$ctrl.CLONE_COMPONENTS_IN_CONTENT_SLOTS_OPTION.CLONE">
        <label data-translate="se.cms.clonepagewizard.options.copies" />
    </div>
</div>