<div>
    <input type="radio"
        name="external"
        id="external"
        data-ng-model="$ctrl.model.external"
        data-ng-value="true"
        data-ng-change="$ctrl.emptyUrlLink()" />
    <label>{{$ctrl.field.externalI18nKey| translate}}</label>
    <input type="radio"
        name="external"
        id="internal"
        data-ng-model="$ctrl.model.external"
        data-ng-value="false"
        data-ng-change="$ctrl.emptyUrlLink()" />
    <label>{{$ctrl.field.internalI18nKey| translate}}</label>
    <br/>
    <input type="text"
        id="urlLink"
        name="urlLink"
        data-ng-model="$ctrl.model.urlLink"
        class="ng-class:{'col-xs-12':true, 'form-control':true, 'has-error':$ctrl.field.errors.length>0} " />
</div>