<y-message data-type="danger"
    class="se-page-restrictions-editor--y-message--modal-adjusted"
    ng-repeat="error in ctrl.errors">
    <message-description>
        <translate>{{error.message}}</translate>
    </message-description>
</y-message>

<page-restrictions-editor data-page="ctrl.page"
    data-editable="true"
    data-reset-fn="ctrl.resetTab"
    data-cancel-fn="ctrl.cancelTab"
    data-is-dirty-fn="ctrl.isDirtyTab"
    data-on-restrictions-changed="ctrl.restrictionsResult($onlyOneRestrictionMustApply, $restrictions)">
</page-restrictions-editor>