<div class="ySEPageInfoHeaderContainer">
    <div class="row">
        <div class="col-xs-6">
            <p>{{"se.pageinfo.page.type" | translate}}</p>
            <h3 class="page-type-code">{{$ctrl.pageTypeCode}}</h3>
        </div>
        <div class="col-xs-6">
            <p>{{"se.pageinfo.page.template" | translate}}</p>
            <h3 class="page-template">{{$ctrl.pageTemplate}}</h3>
        </div>
    </div>
</div>