<div>
    <div class="ySEPageInfoMenu__header">
        <page-info-header data-page-type-code="$ctrl.pageTypeCode"
            data-page-template="$ctrl.pageTemplate"></page-info-header>
    </div>
    <div class="ySEPageInfoMenu__content">
        <page-info-details data-page-uid="$ctrl.pageUid"
            data-page-type-code="$ctrl.pageTypeCode"
            data-page-structure="$ctrl.pageStructure"
            data-page-content="$ctrl.pageContent"
            data-on-edit-click="$ctrl.onEditClick()"></page-info-details>
    </div>
</div>