<div data-ng-class="{'perso-tree__segments-layout': ctrl.isContainer(node), 'perso-tree__empty-container': ctrl.isContainerWithDropzone(node), 'perso-tree__collapsed-container': collapsed }">
    <div class="perso-tree" data-ng-class="{'perso-tree__node': ctrl.isItem(node), 'perso-tree__container': ctrl.isContainer(node)}">
        <div data-ng-if="ctrl.isContainer(node)">
            <div class="perso-tree__toggle" data-ng-click="ctrl.toggle(this)" title="{{collapsed ? 'personalization.commons.icon.title.expand' : 'personalization.commons.icon.title.collapse' | translate}}">
                <span class="glyphicon perso-tree__glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
            </div>
            <div class="perso-tree__dropdown">
                <ui-select ng-model="node.operation" theme="select2" title="" search-enabled="false">
                    <ui-select-match>
                        <span ng-bind="$select.selected.name | translate"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in ctrl.actions" position="down">
                        <span ng-bind="item.name | translate"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div data-ng-if="ctrl.isItem(node)" ui-tree-handle class="perso-tree__node--content">{{node.selectedSegment.code}}</div>

        <div data-ng-if="ctrl.isDropzone(node)" class="perso-tree__empty-container-node">
            <div class="perso-tree__empty-container-node--text" data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.segments.dropzone"></div>
        </div>

        <div data-ng-if="ctrl.isContainer(node)" ui-tree-handle class="perso-tree__angular-ui-tree-handle--empty"></div>
        <div data-nodrag>
            <span class="pull-right">
                <a data-ng-if="ctrl.isItem(node)" class="perso-tree__actions perso-tree__node--icon" data-ng-click="ctrl.duplicateItem(node)" title="{{'personalization.commons.icon.title.duplicate' | translate}}">
                    <span class="hyicon hyicon-duplicate"></span>
                </a>
                <a data-ng-if="!ctrl.isTopContainer(this)" class="perso-tree__actions" data-ng-click="ctrl.removeItem(this)">
                    <div data-ng-if="ctrl.isContainer(node)" class="btn btn-link perso-tree__container--btn-icon" title="{{'personalization.commons.icon.title.remove' | translate}}">
                        <span class="hyicon hyicon-removelg"></span>
                    </div>
                    <div data-ng-if="ctrl.isItem(node)" class="perso-tree__node--icon" title="{{'personalization.commons.icon.title.remove' | translate}}">
                        <span class="hyicon hyicon-removelg"></span>
                    </div>
                </a>
            </span>
            <a data-ng-if="ctrl.isContainer(node)" class="btn btn-link perso-tree__btn" data-ng-click="ctrl.newSubItem(this, 'container')">
                <span class="perso-sliderpanel__btn-link" data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.segments.group.button"></span>
            </a>
        </div>
    </div>

    <ol data-ng-if="ctrl.isItem(node)" ui-tree-nodes data-nodrop-enabled="true" data-ng-model="node.nodes" data-ng-class="{hidden: collapsed}">
        <li data-ng-repeat="node in node.nodes" ui-tree-node data-collapsed="true" data-expand-on-hover="500" data-ng-include="'personalizationsmarteditSegmentNodeTemplate.html'">
        </li>
    </ol>
    <ol data-ng-if="ctrl.isContainer(node)" ui-tree-nodes data-ng-model="node.nodes" data-ng-class="{hidden: collapsed}">
        <li data-ng-repeat="node in node.nodes" ui-tree-node data-collapsed="true" data-expand-on-hover="500" data-ng-include="'personalizationsmarteditSegmentNodeTemplate.html'">
        </li>
    </ol>

</div>