<div class='{{cssClass}} yToolbar'>

    <div class="yToolbar__Left">
        <div data-ng-repeat="item in actions | filter:{section:'left'}"
            class="yTemplateToolbar yTemplateToolbar__left {{::item.className}}"
            data-ng-include="item.include && item.type =='TEMPLATE' ? item.include : 'toolbarActionTemplate.html'"></div>
    </div>
    <div class="yToolbar__Middle">
        <div data-ng-repeat="item in actions | filter:{section:'middle'}"
            class="yTemplateToolbar yTemplateToolbar__middle {{::item.className}}"
            data-ng-include="item.include && item.type =='TEMPLATE' ? item.include : 'toolbarActionTemplate.html'"></div>
    </div>
    <div class="yToolbar__Right">
        <div data-ng-repeat="item in actions | filter:{section:'right'}"
            class="yTemplateToolbar yTemplateToolbar__right {{::item.className}}"
            data-ng-include="item.include && item.type =='TEMPLATE' ? item.include : 'toolbarActionTemplate.html'"></div>
    </div>
</div>