<%@ tag language="java" pageEncoding="UTF-8" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>



<div class="cpq-overview-group-no-result">
	<div class="cpq-overview-no-result">
		<spring:message code="sapproductconfig.overview.filter.no.results" text="No Results"/>
	</div>
	<div  class="cpq-overview-no-result-logtext">
		<spring:message code="sapproductconfig.overview.filter.no.results.longtext" text="Remove filter(s) to see Content"/>
	</div>
</div>
