<span ng-repeat="word in ctrl.getExpressionAsArray() track by $index">
    <span ng-if="ctrl.operators.indexOf(word) > -1" class="perso-sliderpanel__expression-text"> {{word}} </span>
    <span ng-if="ctrl.emptyGroup === word" class="text-primary hyicon hyicon-caution" data-uib-tooltip="{{'personalization.modal.customizationvariationmanagement.targetgrouptab.segments.group.tooltip' | translate}}" data-tooltip-placement="auto top"></span>
    <span ng-if="ctrl.emptyGroupAndOperators.indexOf(word) === -1">{{word}}</span>
</span>