/*###  Table Styles  ############################################################*/

.product_table {
	border-top: solid black 2px;
	border-bottom: solid black 2px;
	border-left: solid black 2px;
	border-right: solid black 2px;
}

.details_table {
}


/*###  Table Cell Styles  ######################################################*/

.product_header {
	color: rgb(0,0,0);
	font-weight: bold;
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	border-bottom: solid black 1px;
	text-align: center;
}

.product_body {
	color: rgb(0,0,0);
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	text-align: left;
}

.product_body_right {
	color: rgb(0,0,0);
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	text-align: right;
}

.details_header {
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: 12pt;
	font-family: Verdana;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	background-color: rgb(100,100,100);
	text-align: center;
}
.details_body {
	color: rgb(0,0,0);
	font-size: 10pt;
	font-family: Verdana;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	text-align: left;
}
.details_body_highlight {
	color: rgb(0,0,0);
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	text-align: left;
	background-color: rgb(220,220,130);
}


.classification_table {
	border: solid 1px #767e92;
	border-collapse: collapse;
}

.classification_header {
	padding: 3px 3px 3px 3px;
	border: solid 1px gray;
	font-size: 10pt;
	font-family: Verdana;
	font-weight: bold;
	color: black;
	background-color: #8d98b7;
}

.classification_name {
	padding: 2px;
	border-right: solid 1px gray;
	font-size: 8pt;
	font-family: Verdana;
	color: black;
	text-align: right;
	background-color: #8d98b7;
}

.classification_value {
	padding: 2px;
	font-size: 8pt;
	font-family: Verdana;
	color: white;
	text-align: left;
	background-color: #8d98b7;
}

.classification_class {
	padding: 3px 3px 3px 3px;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	font-size: 10pt;
	font-family: Verdana;
	font-weight: normal;
	color: white;
	background-color: #8d98b7;
}

.variants_table {
	border: solid 1px #9999ff;
	border-collapse: collapse;
}

.variants_header {
	padding: 3px;
	border: solid 1px #9999ff;
	font-size: 8pt;
	font-family: Verdana;
	font-weight: bold;
	color: black;
	background-color: #cccccc;
}

.variants_body {
	padding: 2px;
	border: solid 1px #9999ff;
	font-size: 8pt;
	font-family: Verdana;
	font-weight: normal;
	color: #666666;
	background-color: #eeeeee;
}

.heading1 {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 18pt;
}

.heading2 {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 14pt;
}

.heading3 {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

.heading4 {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 10pt;
}

.heading5 {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 8pt;
}

.heading6 {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 6pt;
}


.table_classification_header {
	padding: 3px 3px 3px 3px;
	border: solid 1px gray;
	font-size: 10pt;
	font-family: Verdana;
	font-weight: bold;
	color: black;
	background-color: #8d98b7;
}

.table_classification_name {
	padding: 2px;
	border-right: solid 1px gray;
	font-size: 8pt;
	font-family: Verdana;
	color: black;
	text-align: right;
	background-color: #8d98b7;
}

.table_classification_value {
	padding: 2px;
	font-size: 8pt;
	font-family: Verdana;
	color: white;
	text-align: left;
	background-color: #8d98b7;
}

.table_classification_class {
	padding: 3px 3px 3px 3px;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	font-size: 10pt;
	font-family: Verdana;
	font-weight: normal;
	color: white;
	background-color: #8d98b7;
}

.table_details_header {
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: 12pt;
	font-family: Verdana;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	background-color: rgb(100,100,100);
	text-align: center;
}
.table_details_body {
	color: rgb(0,0,0);
	font-size: 10pt;
	font-family: Verdana;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	text-align: left;
}

.table_product_header {
	color: rgb(0,0,0);
	font-weight: bold;
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	border-bottom: solid black 1px;
	text-align: center;
}

.table_product_body {
	color: rgb(0,0,0);
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	text-align: left;
}

.table_product_body_right {
	color: rgb(0,0,0);
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	text-align: right;
}

.table_variants_header {
	padding: 3px;
	border: solid 1px #9999ff;
	font-size: 8pt;
	font-family: Verdana;
	font-weight: bold;
	color: black;
	background-color: #cccccc;
}

.table_variants_body {
	padding: 2px;
	border: solid 1px #9999ff;
	font-size: 8pt;
	font-family: Verdana;
	font-weight: normal;
	color: #666666;
	background-color: #eeeeee;
}

.toc_entry {
	font-size: 8pt;
}

.toc_header {
	font-size: 8pt;
	font-weight: bold;
	background-color: #dddddd;
	padding: 2px;
}
