/* http://www.zkoss.org/doc/styleguide/ch01s06.html */

td.tab-3d-tl-sel {
	background-image: url(images/tab/3d-tl-sel.gif);
	width:5px; height:5px;
	background-color:#D7E3EA;
	border-left:1px solid blue ;
	border-top:1px solid blue
}

td.tab-3d-tm-sel {
	background-image: url(images/tab/3d-tm-sel.gif);
	height:5px;width:10px;
	background-color:#D7E3EA;
	border-top:1px solid blue
}

td.tab-3d-tr-sel {
	background-image: url(images/tab/3d-tr-sel.gif);
	width:5px; height:5px;
	background-color:#D7E3EA;
	border-right:1px solid blue ;
	border-top:1px solid blue
}

td.tab-3d-ml-sel {
	border-left:1px solid blue ;
	width:5px; height:20px;
	background: #ffffff url(images/tab/3d-ml-sel.gif) repeat-x top left;

}

td.tab-3d-mm-sel {
	background: #ffffff url(images/tab/3d-mm-sel.gif) repeat-x top left;
	width:20px; height:20px;

}

td.tab-3d-mr-sel {
	background: #ffffff url(images/tab/3d-mr-sel.gif) repeat-x top left;
	width:5px; height:20px;
	border-right:1px solid blue
}

td.tab-3d-bl-sel {
	background-image: url(images/tab/3d-bl-sel.gif);
	width:5px; height:5px;
	border-left:1px solid blue ;
}
td.tab-3d-bm-sel {
	background-image: url(images/tab/3d-bm-sel.gif);
	width:20px; height:5px;

}

td.tab-3d-br-sel {
	background-image: url(images/tab/3d-br-sel.gif);
	width:5px; height:5px;
	border-right:1px solid blue ;
}


td.tab-3d-tl-uns {
	background-image: url(images/tab/3d-tl-uns.gif);
	width:5px; height:5px;
	background-color:#BBFFFF;
	border-left:1px solid yellow ;
	border-top:1px solid yellow
}

td.tab-3d-tm-uns {
	background-image: url(images/tab/3d-tm-uns.gif);
	height:5px;width:10px;
	background-color:#BBFFFF;
	border-top:1px solid yellow
}

td.tab-3d-tr-uns {
	background-image: url(images/tab/3d-tr-uns.gif);
	width:5px; height:5px;
	background-color:#BBFFFF;
	border-right:1px solid yellow ;
	border-top:1px solid yellow
}

td.tab-3d-ml-uns {
	border-left:1px solid yellow;
	width:5px; height:20px;
	background: #ffffff url(images/tab/3d-ml-uns.gif) repeat-x top left;

}

td.tab-3d-mm-uns {
	background: #ffffff url(images/tab/3d-mm-uns.gif) repeat-x top left;
	width:20px; height:20px;

}

td.tab-3d-mr-uns {
	background: #ffffff url(images/tab/3d-mr-uns.gif) repeat-x top left;
	width:5px; height:20px;
	border-right:1px solid yellow
}

td.tab-3d-bl-uns {
	background-image: url(images/tab/3d-bl-uns.gif);
	width:5px; height:5px;
	border-left:1px solid yellow ;
}
td.tab-3d-bm-uns {
	background-image: url(images/tab/3d-bm-uns.gif);
	width:20px; height:5px;

}

td.tab-3d-br-uns {
	background-image: url(images/tab/3d-br-uns.gif);
	width:5px; height:5px;
	border-right:1px solid yellow;
}

.tabsel, .tabsel a, a.tabsel {
	color:blue;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:small;
	font-weight:bold;
}

.tab, .tab a, a.tab {
	color:green;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:small;
	font-weight:normal;
}

.tabpanel
{
	background-color:#00A0DD;
	border-bottom:4px solid #5C6C7C;
	border-right:3px solid #5C6C7C;
}
