hmtl {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	padding-left: 1%;
	margin: 0;
	background-color: #4B5366;
	background-image: url(images/main_backgr.gif);
	background-repeat: repeat-x;
	font-family: Arial, non-serif;
	font-size: 12px;
	color: #333;
}

button {
	background-color: #2055CC;
	background-image: url(images/button_back.gif);
	background-repeat: repeat-x;
	border: 1px solid #93ADE6;
	color: #FFFFFF;
	padding: 2px;
	margin: 2px 2px 2px 0;
	cursor: pointer;
}

.buttonRight {
	/*position: absolute;
	right: 4px;*/
	vertical-align: middle;
}

*+html button {
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 2px;
}

* html button {
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 2px;
}

*+html button.buttonRight {
	width: 30%;
}

.buttonRight * {
	vertical-align: middle;
}

button.disabled {
	background-color: #666666;
	background-image: url(images/button_back_gray.gif);
	border: 1px solid #666666;
	color: #AAAAAA;
}

input.text,input.comboboxinp,input.dateboxinp {
	background-image: url(images/textinput_back.gif);
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid #CDCDCD;
	padding: 2px;
}

div.modal input.text,div.overlapped input.text,div.popup input.text,div.highlighted input.text
	{
	width: 90%;
}

div.modal input.dateboxinp,div.overlapped input.dateboxinp,div.popup input.dateboxinp,div.highlighted input.dateboxinp
	{
	width: 90%;
}

span.rbtnbk {
	background-image: url(images/combobtn_back.gif);
	background-repeat: no-repeat;
	border: 1px solid #CDCDCD;
}

div.modal input.comboboxinp,div.overlapped input.comboboxinp,div.popup input.comboboxinp,div.highlighted input.comboboxinp
	{
	width: 90%;
}

p,div,span,label,a,li,dt,dd,input,textarea,pre,body,button,input.button,input.file
	{
	font-family: Arial, non-serif;
	font-size: 12px;
}

textarea.text {
	background-image: url(images/textinput_back.gif);
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid #CDCDCD;
	padding: 2px;
}

div.modal textarea.text,div.overlapped textarea.text,div.popup textarea.text,div.highlighted textarea.text
	{
	width: 90%;
}

/* --- */
div.zk {
	height: 100%;
}

div.layout-container {
	background-color: transparent;
	float: left;
	margin-right: 1px;
	padding-right: 1px;
}

div.layout-region-normal {
	border: none;
}

div.layout-region-north {
	background-image: url(images/mainregion_backgr.gif);
	background-repeat: repeat-x;
	padding-top: 8px;
}

div.attributePath img {
	vertical-align: text-bottom;
}

.layout-region-center div.layout-region-north {
	background-image: none;
	padding-top: 0;
}

.layout-region-west div.layout-region-north {
	background-image: none;
	padding-top: 0;
}

div.layout-region-east {
	border-right: 1px solid #dddee0;
}

div.layout-region-east div.layout-region-north {
	background-image: none;
	padding-top: 0;
}

div.layout-region-west {
	border-left: 1px solid #dddee0;
}

div.layout-region-south {
	background-color: #e9ecee;
	background-image: url(images/footer_backgr.gif);
	background-repeat: no-repeat;
	background-position: center;
	border-top: 1px solid #dddee0;
	color: #555;
	padding-top: 3px;
}

div.layout-region-south span {
	font-size: 11px !important;
}

/*div.layout-split {
	background-color:#cedef2;
	background-image:none;
}*/
div.layout-split-h {
	border-right: 1px solid #b9c8dc;
}

div.layout-split-h {
	border-right: 1px solid #b9c8dc;
}

div.layout-split-h-ns {
	width: 0px;
}

div.layout-split-h-ns span.layout-split-btn-l {
	position: absolute;
	right: 0px;
	margin-top: 4px !important;
	z-index: 10;
}

div.layout-split-h-ns span.layout-split-btn-r {
	position: absolute;
	left: 0px;
	margin-top: 4px !important;
	z-index: 10;
}

div.layout-split-h span.layout-split-btn-l {
	margin-top: 4px !important;
}

div.layout-split-h span.layout-split-btn-r {
	margin-top: 4px !important;
}

tr.overd,td.overd {
	background: #c8dbf8 none repeat scroll 0% !important;
}

div.tree-body,div.listbox-body,div.grid-body {
	background: #fff none repeat scroll 0%;
}

.layout-region-west div.tree-body {
	background-color: #f2f7fc;
}

/* span.tree-tee, span.tree-last, span.checkmark-spacer { width: 8px; } */
span.tree-spacer,span.tree-vbar {
	width: 15px;
}

span.treeRowStatus {
	color: #888888;
	font-size: 10px;
	padding-left: 6px;
}

img.treeIcon,img.listIcon {
	margin-left: 2px;
	margin-right: 4px;
	max-width: 16px;
	max-height: 16px
}

img.treeStatusIcon {
	margin-bottom: 2px;
	margin-left: 4px;
}

span.treeStatusIconSpacer {
	width: 2px;
}

div.flowbox_status {
	position: absolute;
	display: inline;
	float: right;
	bottom: 14px;
	left: 9px;
	background-color: #fff;
}

img.flowbox_status {
	margin-left: 5px;
	top: 2px;
	position: absolute;
	right: 6px;
}

span.z-tree-root-close,span.z-tree-tee-close,span.z-tree-last-close {
	background-image: url(images/icon_func_arrow_forward_available_i.png);
	min-height: 18px;
	width: 18px;
}

span.z-tree-root-open,span.z-tree-tee-open,span.z-tree-last-open {
	background-image: url(images/icon_func_arrow_down_available_i.png);
	min-height: 18px;
	width: 18px;
	background-position: 0 0;
}

div.treeContent {
	display: inline;
	display: inline-block;
	white-space: normal !important;
	width: 100%;
}

/*
div.cell-inner {
	white-space:nowrap;
}*/
div.z-listbox,div.z-tree,div.z-grid {
	border: none;
}

div.main_menu {
	padding-top: 50px;
	background-image: url(images/head_backgr.gif);
	background-repeat: repeat-x;
	background-color: #2152c3;
	color: #f3f8ff;
	border: none;
}

div.main_menu_logo {
	background-image: url(images/y_logo.gif);
	background-repeat: no-repeat;
	position: absolute;
	right: -14px;
	top: 0;
	width: 150px;
	height: 65px;
}

.area_header {
	/*	background-color: #cedef2; */
	border-bottom: 1px solid #abc0db;
	height: 70px;
}

* html .layout-region-west .area_header {
	height: 72px;
}

.area_header .z-toolbar {
	height: 2em;
	background: none;
}

* html .area_header .z-toolbar {
	height: 2.2em;
}

*+html .area_header .z-toolbar {
	height: 2.2em;
}

.layout-region-center .area_header .z-toolbar {
	padding-left: 12px;
}

.focused.area_header,.focused .area_header {
	background-color: #b3c9ee;
	border-bottom: 1px solid #8aa5d4;
}

.highlighted .layout-region-center .layout-region-north .area_header {
	height: 27px;
}

.highlighted .layout-region-south .layout-region-center {
	/* position: relative; */

}

tr.vbox-sp {
	display: none;
}

span.vsep,span.vsep-bar {
	width: 20px;
}

.searchTextbox {
	margin: 3px;
	width: 65%;
	padding: 2px;
	border: 1px solid #a0abcb;
	background-image: url(images/textinput_back_blue.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

.infoTextbox {
	color: #999;
}

.z-toolbar {
	border: 0;
	border-top: 1px dotted #fff;
	padding: 5px 3px 0 5px;
	background-image: none;
}

.area_header_search {
	padding: 5px 3px 3px 5px;
}

.area_header_search img {
	vertical-align: -30% !important;
}

.breadcumbspacer {
	font-family: Arial;
	font-size: 12px;
	padding: 0 4px;
	background: transparent none repeat scroll 0%;
	border: 0;
}

.area_header .breadcrumb {
	border: 0;
	padding: 12px 4px 4px 4px;
	height: 1.6em;
}

* html .area_header .breadcrumb {
	height: 1.75em;
}

*+html .area_header .breadcrumb {
	height: 1.75em;
}

.toolbar_east {
	padding: 4px 2px 5px 4px;
}

div.main_menu .z-toolbar {
	padding: 7px 0 3px 6px;
	border: none;
	border-top: 1px dotted #fff;
	background-color: #2152c3;
	color: #f3f8ff;
}

div.main_menu .z-toolbar a,div.main_menu .z-toolbar a:link {
	background-color: transparent;
	color: #f3f8ff;
	border: none;
}

.z-toolbar a,.z-toolbar a:visited,.z-toolbar a:hover {
	font-family: Arial;
	font-size: 12px;
	padding-right: 4px;
	background: transparent none repeat scroll 0%;
	border: 0;
	color: #f3f8ff;
}

div.area_header .toolbar a,div.area_header .toolbar a:visited,div.area_header .toolbar a:hover
	{
	font-family: Arial;
	font-size: 11px;
	padding-right: 4px;
	background: transparent none repeat scroll 0%;
	border: 0;
	color: #3a4d77;
}

div.z-menubar,div.z-menubar-hor {
	background-color: #2152c3;
	color: #f3f8ff;
	border: none;
	background-image: none;
	border-color: transparent;
	border-style: none;
	border-width: 0;
	display: block;
	padding: 0;
	position: relative;
}

.z-menu-body .z-menu-inner-m div {
	background: none;
	padding-right: 0;
}

.main-menu .z-menu-body-over button {
	color: #CEDEF2 !important;
}

.z-menu-body-over td.z-menu-inner-l,.z-menu-body-over td.z-menu-inner-m,.z-menu-body-over td.z-menu-inner-r
	{
	background-image: none;
}

div.z-menubar td {
	color: #f3f8ff;
	border: 0;
	padding-bottom: 2px;
}

div.z-menubar td a,div.z-menubar td a:hover {
	font-size: 14px;
	font-weight: bold;
	font-family: tahoma;
	padding-right: 4px;
	background: transparent;
	border: 0;
}

tr.seld,td.seld {
	background: #a3b9dd !important;
}

.z-tabpanel tr.z-list-item td {
	padding: 4px 6px !important;
	border-top: 1px solid #f5f9ff;
}

tr.z-list-item table.treeContent td {
	padding: 0px;
}

tr.z-list-item td img {
	vertical-align: -25%;
}

tr.z-list-item td div.cell-inner {
	white-space: nowrap;
}

div.z-menubar tr.seld,div.z-menubar td.seld {
	background: transparent none repeat scroll 0% !important;
}

div.z-menubar a,div.z-menubar a:visited,div.z-menubar a:hover {
	background: transparent none repeat scroll 0%;
	border: 0;
}

div.menupopup {
	background-color: #EEEEEE;
	color: #666;
}

div.menupopup,div.ctxpopup {
	border: 1px solid #999;
}

div.menupopup td {
	padding: 2px 4px;
	width: 0;
}

div.menupopup a,div.menupopup a:visited,div.menupopup a:hover {
	background: transparent none repeat scroll 0%;
	color: #666;
	border: 0;
}

div.z-menubar a,div.z-menubar a:visited,div.z-menubar a:hover {
	background: transparent none repeat scroll 0%;
	color: #f3f8ff;
	border: 0;
}

div.menupopup a:hover {
	color: #f3f8ff;
}

div.menupopup a img {
	border: none;
}

.z-toolbar a.selected img {
	border: 1px solid #bcd3ee;
	background-color: #cfdff3;
}

div.normal_container {
	border: none;
	position: relative;
	margin: none;
	/*padding: 4px;*/
	overflow: auto;
	height: 100%;
}

div.preview_container {
	border: none;
	position: relative;
	/*padding: 4px;*/
	overflow: auto;
	height: 100%;
	background-color: #f4f4f4;
	/*border-top: 1px dotted #ddd;*/
}

.mainCenterContainer {
	border-top: 1px dotted #ddd !important;
	background-color: #fff !important;
}

.listElementBox {
	position: relative;
	width: 100%;
	height: auto;
	margin: 15px 5px 5px 15px;
	padding: 4px;
	border: none;
	float: left;
	background: none;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	min-height: 30px;
	min-width: 200px;
}

.listElementBox .before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 115px;
	margin: none;
	padding: none;
	border: none;
	background: none;
}

.listElementBox .after {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 115px;
	margin: none;
	padding: none;
	border: none;
	background: none;
}

.listElementBox .content {
	margin: none;
	padding: none;
	border: none;
	background: none;
	overflow: hidden;
}

.listElementBox .content img {
	max-height: 250px;
	width: auto;
}

.listElementBox .content table {
	width: 100%;
}

div.elementBox {
	position: relative;
	width: 230px;
	height: 90px;
	margin: 0 5px 5px 0;
	padding: 4px;
	border: none;
	float: left;
	background: none;
	cursor: pointer;
}

div.elementBox .before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 115px;
	margin: none;
	padding: none;
	border: none;
	background: none;
}

div.elementBox .after {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 115px;
	margin: none;
	padding: none;
	border: none;
	background: none;
}

div.elementBox .content {
	width: 230px;
	height: 90px;
	margin: none;
	padding: none;
	border: none;
	background: none;
	overflow: hidden;
}

div.flowbox_title {
	padding: 10px 0 16px 13px;
	font-size: 14px;
	background-color: #fff;
}

div.flowbox_title_preview {
	padding: 5px;
	font-size: 14px;
}

span.flowbox_title {
	font-size: 18px;
	font-weight: bold;
	color: #263966;
	font-family: Arial, serif;
}

div.elementBox .content img.elementImg {
	margin: 0 8px 37px 0;
}

div.selectedelementBox {
	border: 1px solid #334669;
	-moz-box-shadow: 0 5px 6px #555;
	-webkit-box-shadow: 0 5px 6px #555;
	box-shadow: 0 5px 6px #555;
}

div.previewplacement.selectedelementBox {

}

div.elementBox .content .elementImg {
	position: relative;
	float: left;
	top: 5px;
	left: 5px;
	max-height: 50px;
	max-width: 50px;
}

* html div.elementBox .content .elementImg {
	height: 50px;
	width: 50px;
}

div.elementBox .content .elementLbl {
	position: relative;
	top: 5px;
	left: 5px;
	white-space: nowrap;
	overflow: hidden;
}

div.elementBox .content .elementLbl span {
	font-size: 12px;
	font-weight: bold;
}

div.elementBox .content .elementSubLbl {
	position: relative;
	top: 5px;
	left: 5px;
	white-space: nowrap;
}

div.elementBox .content .elementSubLbl span {
	font-size: 11px;
}

div.elementBox .content .elementDescr {
	position: relative;
	top: 10px;
	left: 5px;
	font-size: 10px;
	color: #666;
}

div.elementBox .content .elementDescr span {
	font-size: 10px;
}

div.product_preview {
	max-width: 22em;
	/*background-color: #CEDEF2;*/
	background-image: none;
	position: absolute;
}

div.product_preview h1 {
	font-size: 130%;
}

div.product_preview img {
	max-width: 16em;
	margin: 1em;
}

.z-east-body .z-south-body div.product_preview h1 {
	font-size: 12px !important;
	margin: 0 0 0 1px;
}

div.product_preview span {
	font-size: 11px !important;
}

.z-south-body {
	color: #555555;
}

.z-east-body .z-south-body div.product_preview {
	max-width: none;
	background-color: #F2F7FC;
	background-image: none;
	padding: 6px;
}

.layout-region-east .layout-region-south div.product_preview h1 {
	margin: 0 0 0 1px;
	font-size: 12px !important;
}

.layout-region-east .layout-region-south div.product_preview img {
	margin: 2px 0 0 1px;
}

.layout-region-east .layout-region-south div.product_preview p {
	display: none;
}

.layout-region-east .layout-region-south {
	background-image: none;
	background-color: #F2F7FC;
}

.overlayInfoBar {
	z-index: 10;
	text-align: right;
	border: none;
	position: absolute;
	top: 3px;
	right: 3px;
	background: none;
	font-size: 100%;
	color: #D0D0D0;
}

.hooverToolbarHidden {
	z-index: 100;
	text-align: right;
	min-width: 2em;
	height: 1.5em;
	border: none;
	position: absolute;
	top: 1px;
	right: 1px;
	background: none;
	opacity: 0.1;
}

.hooverToolbar {
	z-index: 100;
	text-align: right;
	min-width: 2em;
	height: 1.5em;
	border: 1px solid #FFFFFF;
	position: absolute;
	top: 1px;
	right: 1px;
	background-color: #1246C8;
	opacity: 0.7;
}

.imagepreviewmaincontainer {
	position: relative;
	overflow: auto;
	float: left;
}

.imagepreviewmaincontainer .previewpagewithheaderandfooter .imagecanvascontainer
	{
	background: white;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
}

.previewpagecontainer {
	position: relative;
	/*float: left;
	clear: both;*/
	margin: 4px;
	padding: 10px;
	padding-top: 30px;
	background: #eee repeat-x scroll 0 0;
	overflow: auto;
}

.imagepreviewpagecontainer {
	position: relative;
	clear: both;
	margin: 4px;
	padding: 10px;
	overflow: visible;
}

img.preview_image_anchor {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.previewpagewithheaderandfooter {
	position: relative;
	float: left;
	margin: none;
	padding: none;
	background: transparent;
	overflow: visible;
}

div.previewpagewithheaderandfooter > div.z-drag-over {
	background: transparent !important;
	border-width: 1px 2px 2px 1px !important;
	border-style: solid !important;
	border-color: #CDCDCD #B8B8B8 #B8B8B8 #CDCDCD !important;
}

.commenticonnotselected {
	background: transparent !important;
}

.previewpageheader {
	position: relative;
	clear: both;
	margin: none;
	padding: 3px;
	background: transparent;
	width: 98%;
	text-align: left;
	overflow: visible;
}

.previewpageheader tr:first-child {
	text-align: left;
}

.previewpageheader tr:last-child {
	text-align: right;
	margin-right: 0px;
}

.pageheaderimg {
	float: right;
}

.pageheaderstatus {
	padding-left: 3px;
	vertical-align: top;
}

.previewpagetitle {
	position: relative;
	font-size: 100%;
	font-weight: bold;
	color: #1746B0;
}

.previewpage {
	position: relative;
	float: left;
	clear: both;
	margin: none;
	padding: none;
	background: white;
	border: 1px solid #cdcdcd;
	border-right: 2px solid #B8B8B8;
	border-bottom: 2px solid #B8B8B8;
	background-color: #FFFFFF;
	overflow: visible;
}

.previewpagefooter {
	position: relative;
	float: left;
	clear: both;
	margin: none;
	padding: none;
	background: transparent;
	font-size: 100%;
}

.previewpagefooterpathnode {
	position: relative;
	cursor: pointer;
}

.previewpagebackground {
	padding: 0;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.previewplacement {
	position: absolute;
	margin: none;
	padding: none;
	/* padding is set in code since we need to adjust scaled width and height !!! */
	border: 1px solid #cdcdcd;
	/* background:#fff; */
	z-index: 1;
	overflow: hidden;
	font-size: 100%;
	cursor: pointer;
}

.previewpage .empty {
	opacity: 0.7;
}

.previewplacement .icon {
	float: left;
	margin: 3px;
	max-width: 4em;
}

.previewplacement span {
	font-size: 100%;
}

.previewplacement span img {
	max-width: 90%;
	max-height: 90%;
}

* html .previewplacement span img {
	width: 90%;
	height: 90%;
}

.previewplacement .label {
	font-size: 140%;
	font-weight: bold;
}

.previewplacement .sublabel {
	font-size: 120%;
	font-weight: bold;
}

.previewplacement .description {
	font-size: 80%;
}

div.gc {
	color: #333;
	font-size: 12px;
}

td.gc {
	padding: 3px;
}

tr.z-grid-odd td.z-row-inner,tr.z-grid-odd,tr.z-listbox-odd {
	background: transparent;
}

div.wc-modal,div.wc-highlighted,div.wc-popup,div.wc-overlapped {
	border: 1px solid #cdcdcd;
}

td.rwt-modal,td.rwt-highlighted,td.rwt-popup,td.rwt-overlapped {
	background-image: url(images/button_back.gif);
	background-repeat: repeat-x;
	background-color: #2055cc;
}

td.mwt-modal,td.mwt-highlighted,td.mwt-popup,td.mwt-overlapped {
	background-image: url(images/button_back.gif);
	background-repeat: repeat-x;
	background-color: #2055cc;
}

td.lwt-modal,td.lwt-highlighted,td.lwt-popup,td.lwt-overlapped {
	background-image: url(images/button_back.gif);
	background-repeat: repeat-x;
	background-color: #2055cc;
}

.login_logo {
	position: absolute;
	right: 0;
	top: 0;
}

div.comboboxpp,div.bandboxpp {
	background: #f4f4f4 none repeat scroll 0%;
	border: 1px solid #cdcdcd;
}

.z-toolbar .user_logout {
	right: 7px;
	position: absolute;
}

.source_browser_header {
	height: 71px !important;
}

* html .highlighted table {
	empty-cells: show;
	border-collapse: collapse;
}

*+html .highlighted table {
	empty-cells: show;
	border-collapse: collapse;
}

* html .popup table {
	empty-cells: show;
	border-collapse: collapse;
}

*+html .popup table {
	empty-cells: show;
	border-collapse: collapse;
}

td.tab-3d-tm-sel,td.tabaccd-3d-tm-sel {
	background-image: none;
	background-color: #F2F2F3;
}

td.tab-3d-tl-sel,td.tabaccd-3d-tl-sel {
	background-image: none;
	background-color: #F2F2F3;
}

td.tab-3d-tr-sel,td.tabaccd-3d-tr-sel {
	background-image: none;
	background-color: #F2F2F3;
}

td.tab-3d-mm-sel,td.tabaccd-3d-mm-sel {
	background-image: url(images/button_back_white.gif);
	background-repeat: repeat-x;
	background-color: #F2F2F3;
	border-top: 1px solid #5c6c7c;
}

td.tab-3d-ml-sel,td.tabaccd-3d-ml-sel {
	background-image: url(images/button_back_white.gif);
	background-repeat: repeat-x;
	background-color: #F2F2F3;
	border-left: 1px solid #5c6c7c;
	border-top: 1px solid #5c6c7c;
}

td.tab-3d-mr-sel,td.tabaccd-3d-mr-sel {
	background-image: url(images/button_back_white.gif);
	background-repeat: repeat-x;
	background-color: #F2F2F3;
	border-right: 1px solid #5c6c7c;
	border-top: 1px solid #5c6c7c;
}

td.tab-3d-bm-sel,td.tabaccd-3d-bm-sel {
	background-image: none;
	background-color: #F2F2F3;
	border-top: 1px solid #F2F2F3;
}

td.tab-3d-bl-sel,td.tabaccd-3d-bl-sel {
	background-image: none;
	background-color: #F2F2F3;
	border-top: 1px solid #F2F2F3;
}

td.tab-3d-br-sel,td.tabaccd-3d-br-sel {
	background-image: none;
	background-color: #F2F2F3;
	border-top: 1px solid #F2F2F3;
}

/* */
td.tab-3d-tm-uns,td.tabaccd-3d-tm-uns {
	background-image: none;
	background-color: #F2F2F3;
}

td.tab-3d-tl-uns,td.tabaccd-3d-tl-uns {
	background-image: none;
	background-color: #F2F2F3;
}

td.tab-3d-tr-uns,td.tabaccd-3d-tr-uns {
	background-image: none;
	background-color: #F2F2F3;
}

td.tab-3d-mm-uns,td.tabaccd-3d-mm-uns {
	background-image: url(images/button_back_lightgrey.gif);
	background-repeat: repeat-x;
	background-color: #959799;
}

td.tab-3d-ml-uns,td.tabaccd-3d-ml-uns {
	background-image: none;
	background-color: #F2F2F3;
}

td.tab-3d-mr-uns,td.tabaccd-3d-mr-uns {
	background-image: none;
	background-color: #F2F2F3;
}

.tabsel,.tabsel a,a.tabsel {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.tab,.tab a,a.tab {
	color: #EDEDED;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
}

td.tab-3d-last1 {
	background-image: none;
	background-color: #F2F2F3;
	border-top: 1px solid #dfe0e1;
}

div.highlighted {
	overflow: auto;
}

div.popup {
	overflow: auto;
}

.dialogbutton_newpub {
	right: 3px;
	position: absolute;
}
/*
*+.dialogbutton_newpub { width: 85px }
*/
div.paging {
	padding: 4px 2px;
	font-size: 11px;
	color: #444;
}

div.listbox-pgi-t,div.grid-pgi-t {
	/*border-bottom:1px solid #cedef2;*/

}

div.paging a {
	padding: 0 2px;
	font-size: 11px;
	color: #666;
	text-decoration: none;
}

div.paging a:hover {
	background-color: transparent;
	color: #000;
}

div.keylistener {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: -100;
}

div.keylistener:focus {
	text-decoration: none;
}

table.gridInfo {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: -100;
	z-index: 0;
}

table.gridInfo td {
	text-align: center;
	vertical-align: middle;
	color: #D0D0D0;
}

table.gridInfo td span {
	font-size: 800%;
	color: #D0D0D0;
}

.right {
	text-align: right;
}

.link {
	color: #263966;
	text-decoration: underline;
	cursor: pointer;
	text-align: right;
}

div.overlay_box {
	background-color: #EEEEEE;
	border-bottom: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	bottom: 4%;
	font-size: 100%;
	left: 7%;
	opacity: 0.9;
	overflow: hidden;
	padding: 4px;
	position: absolute;
	text-align: right;
	width: 80%;
	_filter: alpha(opacity = 90);
}

.overlay_box table {
	width: 100%;
	height: 100%;
}

div.performance_box {
	text-align: right;
	vertical-align: bottom;
}

div.preview_overlay_box {
	min-height: 12%;
	max-height: 85%;
}

div.performance_under {
	background-color: #ffcece;
	border-bottom: 1px solid #bc9898;
	border-right: 1px solid #bc9898;
}

div.performance_even {
	background-color: #fdffce;
	border-bottom: 1px solid #c2c39e;
	border-right: 1px solid #c2c39e;
}

div.performance_over {
	background-color: #e4ffdf;
	border-bottom: 1px solid #b1c6ad;
	border-right: 1px solid #b1c6ad;
}

span.revenue {
	font-size: 95%;
	font-weight: bold;
	color: #333;
	white-space: nowrap;
}

div.comment_area {
	text-align: left;
	font-style: italic;
	max-height: 100%;
}

.comment_area textarea {
	border: none;
	background: none;
	overflow: hidden;
	width: 97%;
	font-size: 95%;
	font-weight: bold;
	color: #333333;
}

span.stock {
	font-size: 95%;
	font-weight: bold;
	color: #666;
	margin-right: 0;
	white-space: nowrap;
}

span.area_used {
	font-size: 95%;
	font-weight: bold;
	color: #666;
	white-space: nowrap;
}

span.status_created,span.status_modified {
	color: #e0e000;
}

span.status_invalid {
	color: red;
}

div.placeholderListEntry {
	white-space: nowrap;
	overflow: hidden;
}

div.placeholderListEntry img {
	float: left;
	margin: 2px;
}

div.placeholderListEntry .typeInfo {
	display: inline-block;
	margin-top: 3%;
	font-weight: bold;
}

div.placeholderListEntry .customLanguage {
	font-weight: bold;
	margin-left: 2%;
}

div.placeholderListEntry .placeholderInfo {
	margin-top: 1%;
	display: block;
	font-weight: lighter;
}

div.publicationTitle {
	position: absolute;
	top: 12px;
	left: 5px;
	cursor: pointer;
}

div.publicationTitle span {
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
}

div.z-tabpanel,div.z-tabpanel-accordion {
	border: 0;
	padding: 4px;
}

.layoutContainerFaderArea {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

td.tab-3d-first1 {
	background-image: none;
}

td.tab-3d-first2 {
	background-image: none;
}

td.tab-3d-last2 {
	background-image: none;
}

.highlighted button {
	margin-left: 4px;
}

* html div.wc-overlapped {
	padding-bottom: 0;
}

form {
	margin: 0;
	padding: 0;
}

span.listItemElementEditor {
	display: block;
	width: 100%;
}

span.classificationSystemAttributeLabel {
	margin-right: 10px;
}

span.classificationSystemAttributeValue {
	font-weight: bold;
}

td.focusd {
	background-image: none;
}

/*added after migrating to zk 3.5.x */
/* .z-east-splt, .z-west-splt
{
	background-image: none;
	ackground-color: #CEDEF2;
	border-right:1px solid #B9C8DC;
}

.z-north-splt, .z-south-splt
{
	background-image: none;
	background-color: #CEDEF2;
	border-bottom:1px solid #B9C8DC;
}

.z-border-layout {
	background-color: #CEDEF2;
}

.z-west, .z-center, .z-east, .z-north, .z-south {
	border: none;
	background-color: #CEDEF2
}*/
td.z-menu {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.main-menu button {
	font-size: 14px !important;
	font-weight: bold !important;
	font-family: tahoma !important;
	padding-right: 4px !important;
	background: transparent !important;
	border: 0 !important;
}

.z-menu-btn .z-menu-btn-m em {
	background-image: none;
	padding-right: 0 !important;
}

td.z-menu-btn-m,td.z-menu-btn-r,td.z-menu-btn-l {
	background-image: none !important;
}

div.z-tree-cell-cnt {
	white-space: nowrap;
}

.z-tabs-scroll {
	border: none;
	padding-bottom: 0;
}

div.z-list-cell-cnt {
	white-space: nowrap;
}

.listNavigator div.z-listbox-body {
	overflow-x: hidden;
	/*height: auto !important;*/
}

.z-paging-os .z-paging-os-seld {
	background-image: none;
	color: #444444;
	font-size: 11px;
	/*font-weight: normal;*/
}

.z-paging-os .z-paging-os-cnt {
	background-color: transparent;
	background-image: none;
	border: none;
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	text-decoration: none;
}

tr.z-list-item {
	height: 16px;
}

tr.z-list-item-seld {
	background: #B3C8E8 none repeat scroll 0 0;
	border: 1px solid #6F97D2;
}

tr.z-list-item-over {
	background: #DAE7F6 none repeat scroll 0 0;
}

.z-shadow {
	display: none !important;
	background: none;
}

.z-shadow div {
	display: none !important;
	background-image: none !important;
	background: none;
}

.z-ie-shadow {
	display: none !important;
	background: none;
}

.z-ie-shadow div {
	display: none !important;
	background-image: none !important;
	background: none;
}

.srcBrowserBorderlayout,.pubBrowserBorderlayout {
	position: static;
}

.comboitem .z-combo-item-img img {
	width: auto;
}

.z-combo-item-img img {
	width: 100px;
}

.loginContainerWindow {
	background-image: url(../images/login-printcockpit.png);
}

.choosePageFormat .z-list-item .elementLbl {
	font-size: 11px;
	white-space: nowrap;
}

.choosePageFormat .z-list-item .elementDescr {
	color: #888888;
	font-size: 10px;
	padding-left: 6px;
}

.choosePageFormat .PageFormatListBox {
	border: thin solid black;
}

.choosePageFormat .PageFormatListBox .z-listbox-body {
	height: 300px;
}

td.z-row-inner,td.z-group-foot-inner {
	padding: 3px;
}

.z-tabs-scroll .z-tabs-cnt {
	background-color: #F2F2F3;
	background-image: none;
	border-bottom: 1px solid #999;
}

.z-tabs-scroll .z-tabs-cnt {
	background-color: #F2F2F3;
	background-image: none;
	border-bottom: 1px solid #999;
}

.z-tabs-cnt li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #c8c8c8;
	margin-left: 2px;
	background-image: url(images/combobtn_back.gif);
	background-repeat: repeat-x;
}

.z-tab-hl,.z-tab-hm,.z-tab-hr {
	background-image: none;
}

.z-tab-body {
	background-image: url(images/combobtn_back.gif);
	background-repeat: repeat-x;
	background-position: top left;
	padding-left: 1px;
}

.z-tab em {
	background-image: url(images/combobtn_back.gif);
	background-repeat: repeat-x;
	background-position: top left;
	padding: 0 5px;
}

.z-tab-inner {
	background-image: url(images/combobtn_back.gif);
	background-repeat: repeat-x;
	background-position: top left;
}

.z-tab .z-tab-text {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.z-tab-seld .z-tab-text {
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 11px;
}

.div_child_height_100>div {
	height: 100% !important;
}

.div_child_child_height_100>div>div {
	height: 100% !important;
}

.div_child_child_height_250 {
	height: 270px !important;
}

.browserMainContentBox {
	bottom: 0px !important;
}

.printcockpitWelcomePage {
	overflow-y: auto;
	height: 100%;
}

.printcockpitWelcomePage div.title span {
	font-size: 24px;
	font-weight: bold;
	color: #1C48A9;
	line-height: 24px;
}

.printcockpitWelcomePage div.subtitle span {
	font-size: 16px;
	font-weight: bold;
	color: #1C48A9;
}

.printcockpitWelcomePage div.content {
	margin: 20px 0 0 0;
}

.printcockpitWelcomePage span.content {
	font-size: 12px;
	line-height: 18px;
}

.printcockpitWelcomePage .welcome-content {
	max-width: 550px;
}

.printcockpitWelcomePage .welcome-image {
	padding: 15px 15px 0 0;
}

.chaptersstripescontainer {
	/*border: 1px solid orange;*/
	height: 234px;
	width: 30%;
	float: right;
	text-align: right;
}

.chapterstripe {
	/*border: 1px solid green;*/
	display: table;
	height: 100%;
	width: 30px;
	margin-right: 3px;
	float: right;
	background-color: #F1EDC2;
}

.pagecontainersandstripes {
	position: relative;
	width: 100%;
	clear: both;
	/*border: 1px solid black;*/
}

.chapteremtpystripe {
	height: 100%;
	width: 10px;
	float: right;
}

.stripecodecenteringdiv {
	/*border: 1px solid navy;*/
	display: table-cell;
	width: 20px;
	position: relative;
	top: 40%;
	vertical-align: middle;
}

.verticaltext {
	position: relative;
	font-size: 70%;
	font-weight: bold;
	color: #04B4AE;
	writing-mode: tb-rl; /* for IE */
	-moz-transform: rotate(90deg); /* for FF */
	text-align: center;
	vertical-align: middle;
	overflow: visible;
}

/* all elements of page structure view toolbar */
.pagestructuretoolbar tr td {
	vertical-align: middle;
}

/* labales for combos of page structure view */
.pagestructuretoolbar tr td span.z-label {
	padding-left: 15px;
}

/* style for any image in page structure view toolbar */
.pagestructuretoolbar tr td img.toolimg {
	left: 15px;
}

/* page structure view toolbar */
.pagestructuretoolbar {
	height: 20px;
	float: right;
	text-align: right;
	cellspacing: 0px;
	cellpadding: 0px;
}

/* just a wrapper class so the content (toolbar) will align right in IE */
.toolbarwrapper {
	width: 100%;
	float: right;
	padding-right: 0px;
}

.query-browser-paging .toolbarwrapper .pagestructuretoolbar {
	float: right;
}

div.graytext span {
	color: #ddd;
	font-style: italic;
	font-size: 0.9em;
}

.main-previewarea-div {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
}

.printPagesMainArea {
	position: relative;
	overflow: auto;
	height: 100%;
}

.printPreviewSubarea {
	vertical-align: bottom;
	text-align: left;
	page-break-before: avoid;
	page-break-after: always;
	page-break-inside: avoid;
}

.printPreviewSubarea:after,.printPreviewSubarea:BEFORE {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

* html .printPreviewSubarea {
	height: 1%;
	display: block;
}

.previewpagecontainer {
	/*	display:inline-block;*/
	float: left;
	clear: both;
	page-break-inside: avoid;
}

.doublePagePreview .previewpagecontainer {
	clear: none;
}

.printMainAreaCnt .printPagesMainArea {
	overflow: visible;
}

.previewArea {
	text-align: left;
}

.query-browser-paging {
	padding-bottom: 2px;
}

.query-browser-paging .z-toolbar-button,.query-browser-paging .leftBorderDivider
	{
	display: block;
	float: left;
}

.printMainAreaCnt .previewpageheader .pageheaderimg {
	display: none;
}

.toolimg img {
	padding-right: 3px;
}

.ie .commentDiv {
	position: absolute;
	left: 0px;
	right: 0px;
}

div.toolbarwrapper div.printEnumUIEditor span.z-combobox input.z-combobox-inp,div.toolbarwrapper div.printSelectUIEditor span.z-combobox input.z-combobox-inp
	{
	width: 45px;
}

div.printToolbarEditorCnt img.cancelEditorButton {
	display: none;
}

div.printToolbarEditorCnt input.z-combobox-inp {
	width: 95px;
}

div.toolbarwrapper table.z-hbox input.z-combobox-inp {
	min-width: 40px;
}

div.printToolbarEditorCnt .enumEditor input.z-combobox-inp {
	width: 60px;
}

div.printToolbarEditorCnt .selectEditor input.z-combobox-inp {
	width: 120px;
}

div.printPlannerSection div.sectionRowComponent {
	padding-right: 15px;
}

.contextArea .topflat .z-groupbox-header table.z-hbox table.z-hbox {
	width: 100%;
}

.contextArea .topflat .z-groupbox-header table.z-hbox table.z-hbox img {
	float: right;
}

.contextArea .topflat .z-groupbox-header table.z-hbox table.z-hbox .toolimg img
	{
	float: left;
}

.contextArea .printComments,.contextArea .printComments div.z-groupbox-hl
	{
	height: 34px;
}

.contextArea .printComments .z-groupbox-header table.z-hbox table.z-hbox
	{
	width: auto;
}

.contextArea .printComments .z-groupbox-header table.z-hbox td.z-hbox-sep
	{
	width: 0.5em;
}

.contextArea .printComments td {
	vertical-align: middle;
}

.printComments .contextAreaTitle {
	margin-right: 40px;
}

.contextArea .printComments .printCommentFilter>tbody>tr>td:first-child
	{
	vertical-align: middle;
	padding-left: 1em;
}

.contextArea .printComments .printCommentFilter td div.z-menubar-hor {
	font-size: 11px;
/*	background-image: url("images/textinput_back.gif");  */
	background-image: none;
	background-color: white;
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid rgb(205, 205, 205);
	height: 19px;
}

.contextArea .printComments .printCommentFilter td div.z-menubar-hor .z-menu-inner-m .z-menu-btn
	{
	color: #5A5A5A;
	padding-right: 20px;
}

.contextArea .printComments .printCommentFilter td div.z-menubar-hor .z-menu-body .z-menu-inner-m div,
.contextArea .printComments .printCommentFilter td div.z-menubar-hor .z-menu-body-over .z-menu-inner-m div
	{
	background: url("images/combobtn_24px.gif") no-repeat right;
}

.contextArea .commentBox>div.z-groupbox-hl,.contextArea .commentBox div.z-groupbox-header
	{
	padding: 0px;
}

.contextArea .commentBox .arrowLeft>tbody>tr>td:first-child {
	height: 40px !important;
	width: 10px !important;
}

.contextArea .commentBox .arrowLeft>tbody>tr>td.z-hbox-sep {
	width: 0px;
}

.contextArea .commentBox .arrowLeft div.advancedGroupboxClosed {
	height: 40px !important;
	width: 10px !important;
	background-image: url("images/comment-reply-toggle.png");
	background-position: 0px 0px;
}

.contextArea .commentBox .arrowLeft div.advancedGroupboxOpen {
	height: 40px !important;
	width: 10px !important;
	background-image: url("images/comment-reply-toggle.png");
	background-position: -10px 0px;
}

.contextArea .commentBox .commentTextLabel {
    float: left;
    padding-right: 85px;
    text-align: left;
}

.contextArea .commentBox .commentModifiedDateLabel {
    font-weight: bold;
}

.commentsCnt .caption_table tr.z-vbox-sep>td {
	margin: 0px;
	padding: 0px;
}

.contextArea .commentDiv span {
	line-height: 100%;
	padding: 0 0 5px 0;
	display: inline-block;
}

.jobhistorypopup .jobhistory {
	text-transform: uppercase;
	border-bottom: 1px #999 solid;
}

.jobhistorypopup .header .z-label {
	font-weight: bold;
}

.jobhistorypopup .z-popup-cm {
	border-width: 1px;
	background: #FEFEFE url("images/white_gradient_big.png") repeat-x scroll left bottom !important;
}

.jobhistorypopup .z-popup-cnt {
	max-height: 100px;
	overflow-y: auto;
}

.jobhistorypopup .comment {
	margin-bottom: 5px;
}

.browserareatabs .z-tabs-cnt li {
	margin-left: 0;
}

.printToolbarEditorCnt {
	margin-right: 5px;
}

.query-browser-paging .z-combobox {
	margin: 0 3px 0 0;
}

.browserMainBorderLayout .printToolbarEditorCnt,.browserMainBorderLayout .query-browser-paging .z-combobox
	{
	margin: 0;
}

.publications_mainWindow_spacer {
	border-left: 1px solid #CCCCCC;
	float: left;
	height: 24px;
	margin-left: 3px;
	width: 6px;
}

.borderDivider {
	border-left: 1px solid #ccc;
	height: 24px;
	width: 1px;
	display: inline-block;
	position: relative;
	margin: 0 -6px -6px 6px;
}

.leftBorderDivider {
	border-left: 1px solid #ccc;
	height: 24px;
	width: 1px;
	display: inline-block;
	position: relative;
	margin: 0 -6px -6px 6px;
	padding: 0 10px 0 0;
}

a.toolimg,a.browser_view_mode_switch {
	padding-right: 0;
}

div.perspectiveChooser .z-groupbox-hl {
	padding-left: 45px;
	background: transparent url(images/icon_cockpits_print.png) no-repeat
		6px 3px;
	min-height: 36px;
}

.printcockpitWelcomePage .welcome_group {
	background: url("images/groupbox-tb.png") repeat-x scroll 0 0
		transparent;
}

.navigation_center.perspChooserHidden {
	top: 94px;
}

div.perspectiveChooser {
	display: block !important;
}

div.contentBrowserGroupbox table.hiddenLabel {
	padding: 2px 0 3px 4px;
}

.query-browser-paging .z-label {
    float: left;
    margin-top: 3px;
    padding-right: 6px;
}

.query-browser-paging label.z-checkbox-cnt {
	padding-right: 15px;
}

.commentDiv span.z-combobox-btn {
	padding: 0px;
}

.commentDiv .z-combobox .z-combobox-img {
	margin-top: 4px;
}

.commentDiv .z-caption input {
	padding: 2px;
}

.caption_table .caption .header {
	display: none;
}

.commentstatusnocheck img {
	display: none;
}

.commentDiv div.commentvisibilitynotvisible,
.commentDiv div.commentvisibilityvisible {
    padding: 0 10px;
}

.commentBox .caption_table .contextAreaPageCommentHeaderOpened,
.commentBox .caption_table .contextAreaPageCommentHeaderClosed {
	height: 32px;
}

.caption_table .contextAreaPageCommentHeaderClosed td table .commentTextLabel {
	padding-right: 5px;
    width: auto;
    line-height: 14px;
    text-align: justify;
}
.replyDiv .caption_table .contextAreaPageCommentHeaderClosed td table .commentTextLabel {
    margin-right: 90px;
    margin-left: 127px;
}

.caption_table .contextAreaPageCommentHeaderOpened td table.z-vbox .collapsed,
.caption_table .contextAreaPageCommentHeaderClosed td table.z-vbox .collapsed {
    height: 10px;
    overflow-y: hidden;
    width: auto;
}

.printComments .z-hbox .z-menu-body,
.printComments .z-hbox .z-menu-btn {
	width: 120px !important;
}

.printComments .contextAreaTitle {
	font-size: 12px;
	font-weight: bold;
}

.z-menu-popup ul.z-menu-popup-cnt {
    /*width: 126px;*/
}

div.z-menu-popup {
    padding: 0;
}

.contextArea .context-header-div {
	height: 0 !important;
}

/* Job/Comment list top aligned  */
.commentsCnt {
	position: absolute;
	top: 35px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
}
.commentsCnt .caption_table td {
	vertical-align: top;
	padding-top: 2.5px;
}
/* comemnts/job hover state issue fix */
.commentDiv .activeComment .z-groupbox-hm {
	background:url("images/gradient_darker_gray.gif") repeat-x scroll right 0 #c5c5c5;
}
.commentDiv .activeComment .z-groupbox-header {
	margin-right: 6px;
}
.commentDiv .activeComment .z-groupbox-hr {
	background-color:#c5c5c5;
	padding-right: 0;
}
/* positioning switch on/off button */
.commentDiv div.commentvisibilitynotvisible, .commentDiv div.commentvisibilityvisible {
	padding-top: 4px;
}
.commentMultiSelectContainer {
	display: none;
}
.commentDiv {
	min-width: 1030px !important;
}

/* Expand/collapse description */
.caption_table .contextAreaPageCommentHeaderClosed td table.commentTextButton,
.caption_table .contextAreaPageCommentHeaderClosed td table.commentTextButton.z-button,
.caption_table .contextAreaPageCommentHeaderOpened td table.commentTextButton,
.caption_table .contextAreaPageCommentHeaderOpened td table.commentTextButton.z-button {
	background-image: none;
	background-color: transparent !important;
	padding-right: 0px !important;
	width: 16px;
	height: 16px;
	position: relative;
	top: -4px;
	margin-right: 90px;
}

.commentTextLabel {
	float: left !important;
	padding-right: 85px;
	text-align: left;
}

/* Html styling within collapsed text label */
.commentTextRow span.collapsed p {
	margin: 0px;
	padding: 0px;
}
.commentTextRow span.collapsed ul, .commentTextRow span.collapsed ol {
	margin-top: 0px;
	padding-top: 0px;
}

.contextArea .commentDiv span {
	line-height: 12px;
	padding: 0 0 5px 0;
	display: inline-block !important;
}
.caption_table .contextAreaPageCommentHeaderOpened .commentTextLabel {
	line-height: 14px;
}

.commentBoxContent .commentAuthorLabelContextArea, .commentBoxContent .commentDateLabelContextArea, .commentBoxContent .commentSubjectLabelContextArea {
	text-align: left !important;
}
.commentBoxContent .commentAuthorLabelContextArea {
	width: 80px;
}
.commentBoxContent .commentDateLabelContextArea {
	width: 50px;
}
.commentBoxContent .commentSubjectLabelContextArea {
	width: 100px;
}

/* Far from ideal but trying up to some degree to style it (td width is % based inline in cmscockpit cmp and we need it not to be % based). Ideal add class in cmscockpit to td's to control width! */
/* note: this is only incrmeantal addition to already styled - doesn't break anything if selector isn't supported */
.replyDiv .caption_table .caption td[style="width:5%"] {
	width: 80px !important;
}
.replyDiv .caption_table .caption td[style="width:90%"] {
	width: auto !important;
}
.replyDiv .caption_table .caption td[style="width:90%"] {

}
.replyDiv .caption_table .caption td[style="width:90%"] .commentTextLabel {
    margin-left: 100px;
}

.replyPopupWorkflowStatus {
	margin: 0.5em 0;
}
.replyPopupWorkflowStatus td {
	vertical-align: middle;
}

.assignedList_short{
	width: 100%;
}