.table_grid {
	 background-color: #FFFFFF;
}

.table_grid .z-grid-body {
	 overflow: hidden;
}

.tablecell_core {
	padding: 3px;
	color: #000000;
	background-color: #FFFFFF;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_core_selected {
	padding: 3px;
	color: #000000;
	background-color: #B5C5EF;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_core_loc {
	padding: 3px;
	color: #999999;
	background-color: #FFFFFF;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_core_loc_selected {
	padding: 3px;
	color: #999999;
	background-color: #B5C5EF;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	cursor: pointer;
}

.tablecell_column {
	padding: 3px;
	color: #000000;
	font-weight: bold;
	background-color: #E9E9E9;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-top: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_column_selected {
	padding: 3px;
	color: #000000;
	background-color: #80ADE7;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-top: 1px solid #D0D0D0;
	cursor: pointer;
}

.tablecell_column_loc {
	padding: 3px;
	color: #999999;
	font-weight: bold;
	background-color: #E9E9E9;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-top: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_column_loc_selected {
	padding: 3px;
	color: #999999;
	background-color: #80ADE7;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-top: 1px solid #D0D0D0;
	cursor: pointer;
}

.tablecell_row {
	padding: 3px;
	color: #000000;
	font-weight: bold;
	background-color: #E9E9E9;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_row_selected {
	padding: 3px;
	color: #000000;
	background-color: #80ADE7;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_row_loc {
	padding: 3px;
	color: #999999;
	font-weight: bold;
	background-color: #E9E9E9;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	cursor: pointer;
}
.tablecell_row_loc_selected {
	padding: 3px;
	color: #999999;
	background-color: #80ADE7;
	white-space: pre;
	border-bottom: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	cursor: pointer;
}

.emptycell {
	padding: 3px;
	color: #000000;
	background-color: #E9E9E9;
	white-space: pre;
	border: 1px solid #D0D0D0;
	cursor: pointer;
}
.emptycell_selected {
	padding: 3px;
	color: #000000;
	background-color: #80ADE7;
	white-space: pre;
	border: 1px solid #D0D0D0;
	cursor: pointer;
}

.emptycell_loc {
	padding: 3px;
	color: #999999;
	background-color: #E9E9E9;
	white-space: pre;
	border: 1px solid #D0D0D0;
	cursor: pointer;
}

.emptycell_loc_selected {
	padding: 3px;
	color: #999999;
	background-color: #80ADE7;
	white-space: pre;
	border: 1px solid #D0D0D0;
	cursor: pointer;
}

.newcolumncell_header {
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: #999999;
	font-weight: bold;
	background-color: #FFFFFF;
	white-space: pre;
	border: 1px dashed #D0D0D0;
}

.newrowcell_header {
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: #999999;
	font-weight: bold;
	background-color: #FFFFFF;
	white-space: pre;
	text-align: left;
	border: 1px dashed #D0D0D0;
}

.tablecell_label {
	width:100%;
	height:100%;
	white-space: pre;
}
.tablecell_label_empty {
	width:100%;
	height:100%;
	font-style: italic;
	color: #999999;
	white-space: pre;
}
.tablecell_label_header {
	width:100%;
	height:100%;
	font-weight: bold;
	white-space: pre;
}
.tablecell_label_newaxis {
	width:100%;
	height:100%;
	font-style: italic;
	color: #999999;
	white-space: pre;
}

.table_itemeditor_label {
}
.table_itemeditor_label_readonly {
	color: #999999;
}

.table_itemeditor_separator {
	color: #272727;
	font-weight: bold;
	padding-top: 4px;
	width: 100%;
}
.table_itemeditor_separator_readonly {
	color: #999999;
	font-weight: bold;
	padding-top: 4px;
	width: 100%;
}

.editor_expressioninfo_header {
	font-weight: bold;
	color: #555555;
	padding-bottom: 5px;
	cursor: pointer;
}

.editor_expressioninfo {
	padding: 3px;
	color: #555555;
}

.tableEditor .area_header
{
	background: transparent url(images/groupbox-corners-flat.png) repeat-x scroll 0 0;
}

.tableEditor .z-border-layout {
	background-color: #ccc;
}

.tableEditor {
	background-color: #fff;
}

.tableEditor .z-center, .tableEditor .z-west, .tableEditor .z-east, .tableEditor .z-north, .tableEditor .z-south {
	background-color: #fff;
	border: 1px solid #ccc;
}

.tableEditor .z-toolbar a, .tableEditor .z-toolbar a:visited, .tableEditor .z-toolbar a:hover {
	color: #3A4D77;
}

.table_grid .z-row-cnt {
	padding: 0px 0;
}

.table_grid .z-row .z-row-inner {
	border-width:medium 0 0;
}

.tableSrcBrowser
{
	position: absolute;
	top: 71px;
	left: 0;
	bottom: 0;
	width: 100%;
}

.tableSrcBrowser div.z-tree { background: transparent; position: absolute; width: 100%; top: 0; left: 0; }
.tableSrcBrowser div.z-tree-body { overflow-y: auto; overflow-x: hidden; height: 100%; }
