<div data-ng-show="$ctrl.ready === true"
    class="ySENewPageDisplayCondition">

    <div class="page-condition-selector-wrapper form-group">

        <label for="page-condition-selector-id"
            class="control-label">{{ 'page.condition.selection.label' | translate }}</label>
        <ui-select id="page-condition-selector-id"
            data-ng-model="$ctrl.conditionSelected"
            class="form-control"
            search-enabled="false"
            theme="select2"
            data-dropdown-auto-width="false"
            data-ng-change="$ctrl.dataChanged()">
            <ui-select-match id="select-type"
                class="ySEPageRestr-picker--select__match">
                {{ $ctrl.conditionSelected.label | translate }}
            </ui-select-match>
            <ui-select-choices repeat="c in $ctrl.conditions">
                {{ c.label | translate }}
            </ui-select-choices>
        </ui-select>
        <span class="help-inline">
            <span class="help-block-inline">{{ $ctrl.conditionSelected.description | translate }}</span>
        </span>
    </div>

    <div data-ng-if="$ctrl.showPrimarySelector()"
        class="page-condition-primary-selector-wrapper form-group">
        <label for="page-condition-primary-selector-id"
            class="control-label">{{ 'page.condition.primary.association.label' | translate }}</label>
        <ui-select id="page-condition-primary-selector-id"
            data-ng-model="$ctrl.primarySelected"
            class="form-control"
            search-enabled="true"
            theme="select2"
            data-dropdown-auto-width="false"
            data-ng-change="$ctrl.dataChanged()">
            <ui-select-match id="select-type"
                class="ySEPageRestr-picker--select__match">
                {{ $ctrl.primarySelected.name }}
            </ui-select-match>
            <ui-select-choices repeat="page in $ctrl.primaryPageChoices | filter:$select.search">
                {{ page.name }}
            </ui-select-choices>
        </ui-select>
        <span data-ng-show="$ctrl.primarySelected.label"
            class="help-inline">
            <span class="help-block-inline">{{ 'page.label.label' | translate }}: {{ $ctrl.primarySelected.label }}</span>
        </span>
    </div>
</div>