header {
    .page-cartPage &,
    .page-productGrid &,
    .page-searchGrid &,
    .page-search &,
    .pageType-CategoryPage &,
    .page-multiStepCheckoutSummaryPage & {
      border-bottom: 1px solid @color-mild-grey;
		background: @color-light-grey;
    }
}
header {
    .page-multiStepCheckoutSummaryPage & {
        margin-bottom: 0;
    }
}
body {
	background: @color-white;
	color: @color-body;
}
body:not(.page-homepage):not(.page-BankingCategoryLandingPage) {
	#skip-to-content + div {
		display: inline-block;
		width: 100%;
	}
	.main-content-wrapper {
		.mainWidth;
		margin: 0 auto;
	}
}
main {
	position: relative;
	&.offcanvas {
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			-webkit-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}
		@media (max-width: @screen-xs-max) {
			-webkit-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}
	}
}
a {
	color: @color-body;
	.transition;
	text-decoration: none;
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5, h6 {
    color: @color-heading;
    .transition;
}
h1 {
    text-align: center;
}
#page {
    background-color: @color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 0 35px;
    width: 100%;
}


/*************************************************************/
/********************** Mobile header ***********************/
/***********************************************************/
.branding-mobile {
	background-color: @color-white;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	height: 62px;
	@media (max-width: @screen-xs-max) {
		& > div {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			img {
				max-width: 250px;
				width: 100%;
			}
		}	
	}
}
/*************************************************************/
/******************** Mobile header end *********************/
/***********************************************************/


/*************************************************************/
/********************** Icon overrides **********************/
/***********************************************************/
.glyphicon-chevron-down {
	.glyphicon-menu-down;
}
.glyphicon-chevron-up {
	.glyphicon-menu-up;
}
.glyphicon-chevron-left {
	.glyphicon-menu-left;
}
.glyphicon-chevron-right {
	.glyphicon-menu-right;
}
/*************************************************************/
/******************** Icon overrides end ********************/
/***********************************************************/


/*****************************************************/
/*************** Global messages alert **************/
/***************************************************/
.alert-dismissable, .alert-dismissible {
	.close {
		height: auto;
		top: 0;
	}
}
/******************************************************/
/*********** Global messages alert end ***************/
/****************************************************/


/*************************************************************/
/************************* Homepage *************************/
/***********************************************************/
.page-homepage {
	header {
		background: @color-white;;
	}
	.content {
		@media (max-width: @screen-lg) {
			padding: 0 15px;
		}
	}
}
.quotes {
	.mainWidth;
	margin: 0 auto 90px;
	a:hover {
		transform: scale(1.2);
	}
	@media (max-width: @screen-lg) {
		padding: 0 15px;
	}

}
.main-title {
	&__headline-border {
		.mainWidth;
		margin: 100px auto 15px;
		border-top: 3px solid @color-mild-grey;
		text-align: center;
	}
	&__quote-heading {
		width: 300px;
		background-color: @color-white;
		display: inline-block;
		position: relative;
		top: -20px;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 30px;
		@media (max-width: @screen-xs-max) {
			width: 230px;
			font-size: 30px;
		}
	}
}
.service-links {
	padding: 40px;
	@media (max-width: @screen-md-max) {
		padding: 30px;
	}
	@media (max-width: @screen-sm-max) {
		padding: 15px 50px;
	}
	@media (max-width: @screen-xs-max) {
		padding: 15px 30px;
	}
}
.popup-content-wrapper {
	width: 92%;
	margin: 0 auto;
}
.save-data {
	margin-top: 20px;
	margin-bottom: 0;
}
.none-quote, .none-policies {
	&__title {
		margin: 20px auto;
		text-align: center;
		line-height: 1.458em;
	}
	&__content {
		color: @color-dark-grey;
		background-color: @color-light-grey;
		font-size: 16px;
		text-align: center;
		padding: 20px;
		margin: 0 auto;
	}
}
.review {
	&__wrapper {
		.mainWidth;
		overflow: hidden;
		margin: 0 auto 100px;
		@media (max-width: @screen-lg) {
			padding: 0 15px;
		}
		@media (max-width: @screen-xs-max) {
			margin: -30px auto 0;
		}
		ul {
			list-style: none;
			padding: 0;
		}
	}
	&__quote {
		@media (max-width: @screen-xs-max) {
			margin-top: 30px;
		}
	}
	&__policies {
		@media (max-width: @screen-xs-max) {
			margin-top: 30px;
		}
	}
}
/*************************************************************/
/*********************** Homepage end ***********************/
/***********************************************************/


/*************************************************************/
/************************ Navigation ************************/
/***********************************************************/
.desktop__nav {
	z-index: 1000;
	position: relative;
	float: left;
	top: 14px;
	left: 10px;
	.btn {
		font-size: 24px;
	 	&:hover, &:active, &:focus {
			background-color: transparent;
		}
	}
	.nav__left {
		transition: all 600ms ease;
	}
	.mobile-menu {
		padding: 0;
		button {
			padding: 0 20px;
			min-width: initial;
			width: auto;
			background-color: transparent;
			transition: all 600ms ease;
			color: @color-mobile-menu-bckg;
			.offcanvas & {
				color: @color-white;
				transition: all 600ms ease;
			}
		}
	}
	@media (max-width: @screen-xs) {
		left: 5px;
	}
}
.navigation--top {
    .nav__left {
        padding: 30px 0;
    }
    .nav__right {
		text-align: right;
        .nav__links--account {
			display: inline-block;
			float: none;
            .myAccountLinksHeader{
                background-color: transparent;
                color: @color-link-hover;
                &:before {
                    font-family: 'Glyphicons Halflings';
                    margin-right: 5px;
                   	display: inline-block;
                    vertical-align: bottom;
                }
                .glyphicon-briefcase;
            }
            li {
                color: @color-link;
                &.logged_in {
                    padding: 12px;
                    line-height: 1;
                }
                a {
                    &:hover, &:focus {
                        color: @color-link-hover !important;
                    }
                }
				.find-agent-link {
					.icon-FSA-agent;
					&:before {
						.FSA-icon;
						margin-right: 5px;
						display: inline-block;
						top: 0;
					}
				}
            }
        }
    }
}
//LANGUAGE-CURRENCY SWITCHER
.language-currency {
	padding-right: 52px;
}
.language, .currency {
	display: none;//until we decide on how to show/hide through BE
//	display: inline-block;
	padding: 3px 12px;
	max-width: 130px;
	width: 100%;
	float: none;
	.form-group {
		margin-bottom: 0;
		position: relative;
		.form-control {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			border: 1px solid @color-grey;
			background-color: transparent;
			line-height: 1;
			padding: 6px;
			box-shadow: none;
			position: relative;
			z-index: 5;
			&:focus	{
				border-color: @color-blue;
			}
		}
		.glyphicon-chevron-down;
		&:before {
			.glyphicon;
			right: 10px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}
	}
	@media (max-width: @screen-sm-max) {
		padding: 0;
		margin: 30px auto;
		.form-group {
			padding: 0 30px;
			.form-control {
				color: @color-white;
				option {
					background-color: @color-mobile-menu-bckg;
				}
				&:focus	{
					border-color: @color-white;
				}
			}
			&:before {
				color: @color-white;
				right: 40px;
			}
		}
	}
	@media (max-width: @screen-xxs) {
		max-width: 100% !important;
		display: none;//until we decide on how to show/hide through BE
//		display: block;
	}
}
//LANGUAGE-CURRENCY SWITCHER END
#accNavComponentDesktopOne, #accNavComponentDesktopTwo {
	background-color: @color-button-secondary;
//	transition: none;
	ul.nav__links li {
		border-right: 1px solid @color-button-secondary-hover;
		border-bottom: 1px solid @color-button-secondary-hover;
		&:hover {
			background-color: @color-button-secondary-hover;
		}
	}
}

.navigation--bottom {
	background-color: @color-white;
	border-top: 1px solid @color-mild-grey;
	border-bottom: 1px solid @color-mild-grey;
	transition: all 600ms ease;
	&.js-enquire-offcanvas-navigation {
		.close-nav{
			display: none;
		}
	}
	.offcanvas & {
		left: 0;
		transition: all 600ms ease;
	}
	.sticky-nav-top {
		position: relative;
		top: 0;
		left: 0;
		padding: 0 15px;
		li {
			list-style: none;
			background-color: @color-mobile-menu-opaque;
			&.liUserSign {
				background-color: transparent;
				a {
					color: @color-white;
					width: 100%;
					padding: 20px 30px;
					text-transform: uppercase;
					.FSA-icon {
						margin-right: 12px;
						font-size: 20px;
						vertical-align: sub;
						top: 0;
					}
				}
			}
		}
		@media (max-width: @screen-xs-max) {
			width: auto;
		}
	}
	.userGroup {
		float: none;
		width: 100%;
		background-color: transparent;
		color: @color-white;
		padding-left: 25px;
		.myAcctUserIcon {
			margin-left: 5px;
			top: 0;
			vertical-align: middle;
		}
		.userName {
			padding-left: 15px;
			width: 67%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
		}
	}
	.nav__links--products {
		li {
			background-color: @color-white;
			a {
				color: @color-dark-grey;
				padding: 20px 30px;
				@media (min-width: @screen-md) {
					&:hover {
						color: @color-link-hover;
					}
				}
			}
            .find-agent-link {
                .icon-FSA-agent;
                &:before {
                    .FSA-icon;
                    margin-right: 12px;
                    font-size: 20px;
                    vertical-align: sub;
                    top: 0;
                }
            }
		}
	}
	@media (max-width: @screen-sm-max) {
		top: -64px;
		padding-top: 60px;
		background-color: @color-mobile-menu-bckg;
		.navigation__overflow {
			margin: 0 15px;
		}
		.nav__links--products {
			background-color: transparent;
			li {
				background-color: @color-mobile-menu-bckg;
				&.yCmsComponent.nav__links--primary {
					border: none;
				}
				&.liUserSign {
					border-bottom: 1px solid @border-color-2;
					&:hover {
						background-color: @color-mobile-menu-opaque;
					}
				}
				&.language, &.currency {
					border-bottom: none;
					max-width: 50%;
				}
				a {
					color: @color-white;
					width: 100%;
					text-transform: uppercase;
					&:hover {
						background-color: @color-mobile-menu-opaque;
					}
					.FSA-icon {
						margin-right: 12px;
						font-size: 20px;
						vertical-align: sub;
						top: 0;
					}
				}
			}
		}
		.nav__links--mobile {
			div.sub-nav a {
				border-bottom: 1px solid @border-color-2;
				padding-right: 0;
				position: relative;
				.glyphicon-chevron-up, .glyphicon-chevron-down {
					float: none;
					line-height: inherit;
					left: inherit;
					position: absolute;
					height: auto;
					top: inherit;
					margin-right: 30px;
					font-size: 14px;
				}
			}
			.myAccountLinksContainer {
				.offcanvasGroup1, .offcanvasGroup2, .offcanvasGroup3 {
					li {
						background: transparent;
						border-bottom: 1px solid @border-color-2;
						padding: 0;
						a {
							padding-left: 50px;
						}
					}
				}
			}
			.glyphicon {
				margin-right: 15px;
				font-size: 20px;
				vertical-align: bottom;
			}
		}
		.glyphicon-chevron-up, .glyphicon-chevron-down {
			right: 0;
			left: initial;
			margin-right: 30px;
			color: @color-white;
		}
	}
	@media (max-width: @screen-xs-max) {
		width: 90%;
		height: auto;
	}
	@media (max-width: @screen-xs) {
		width: 85%;
	}
}
/*************************************************************/
/********************** Navigation end **********************/
/***********************************************************/


/*************************************************************/
/************************** Footer **************************/
/***********************************************************/
footer {
	background-color: @color-white;
	.container-fluid {
		background-color: @color-footer-bckg;
		color: @color-white;
		font-size: 14px;
		font-weight: 600;
		border-top: 2px solid @color-footer-bckg;
		padding-top: 60px;
	}

}
.footer {
	&__top {
		position: relative;
		padding-bottom: 0;
		// Overrides from yaccerleratorstorefront
		.footer__nav--container {
			.title {
				padding-bottom: 20px;
				@media (max-width: @screen-sm-max) {
					padding-top: 30px;
					padding-bottom: 10px;
				}
			}
			.footer__nav--links {
				a {
					color: @color-footer-links;
					font-size: 13px;
					font-weight: normal;
					&:hover {
						color: @color-white;
					}
					&.FSA-icon {
						font-size: 25px;
						line-height: 1.7;
					}
				}
			}
			&:last-of-type {
				.footer__link {
					display: inline-block;
					position: relative;
					width: 30%;
					a {
						transition: all .2s ease-in-out;
						float: left;
						&:hover {
							transform: scale(0.9);
							border-bottom: none;
							padding-bottom: 0;
						}
						@media (max-width: @screen-sm-max) {
							float: none;
						}
					}
					@media (max-width: @screen-xs-max) {
						a {
							font-size: 20px;
						}
						width: 100%;
					}
				}
			}
			@media (max-width: @screen-xs-max) {
				margin-bottom: 30px;
				width: 100%;
			}
			@media (min-width: @screen-sm-min) {
				margin-bottom: 30px;
				width: 50%;
				&:nth-of-type(3) {
					clear: both;
				}
			}
			@media (min-width: @screen-md-min) {
				width: 25%;
				&:nth-of-type(3) {
					clear: none;
				}
			}
		}
	}
	&__right {
		border-top: none;
		padding-top: 0;
		margin-top: 0;
	}
	&__left {
		.mainWidth;
		margin: 0 auto;
		padding: 0 10px;
		float: none;
	}
	&__copyright {
		background: @color-footer-copyright-bckg;
		color: @color-grey;
		font-size: 13px;
		font-weight: normal;
		text-align: left;
		.container {
			.mainWidth;
		}
		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}
}
/*************************************************************/
/************************ Footer end ************************/
/***********************************************************/


/*************************************************************/
/********************** Carousel slider *********************/
/***********************************************************/
.carousel__component {
	padding: 0;
	&:first-child {
		margin: 0px 0 22px;
	}
	.carousel__component--headline {
		margin: 0 auto;
	}
	.carousel__component--carousel {
		opacity: 0;
		width: 1px;
		min-width: 100%;
		margin: 0 auto;
		.transition;
		.carousel__item {
			padding: 0;
			margin: 0;
		}
	}
	.carousel__item {
		&--title {
			position: absolute;
			top: 50%;
			left: 10%;
			font-size: 2.5vw;
			transform: translateY(-50%);
			@media (max-width: @screen-xs) {
				font-size: 3.4vw;
			}
			.title {
				color: @color-button-secondary;
			}

			.details {
				display: block;
				max-width: 30vw;
				width: 100%;
				color: @color-button-secondary-hover;
				@media (max-width: @screen-xs) {
					max-width: 40vw;
				}
			}
		}
		img {
			width: 100%;
		}
	}
}
.owl-carousel{
	.owl-controls{
		.owl-buttons{
			.owl-prev,.owl-next{
				color: transparent;
				span.glyphicon{
					color: @color-button-secondary;
				}
				&:hover{
					color: transparent;
					span.glyphicon{
						color: @color-grey;
					}
				}
			}
			.owl-prev, .owl-next {
				width: 35px;
				height: auto;
				span.glyphicon {
					font-size: 40px;
					@media (max-width: @screen-sm) {
						font-size: 5vw;
					}
				}
			}
			.owl-prev {
				left: 3vw;
				.glyphicon-forward;
			}
			.owl-next {
				right: 3vw;
				.glyphicon-backward;
			}
		}
	}
}
/*************************************************************/
/******************** Carousel slider end *******************/
/***********************************************************/


/*************************************************************/
/**************** My account and My policies ****************/
/***********************************************************/
.my-quotes, .my-policies {
	&__title {
		line-height: 1.458em;
		margin: 20px auto;
		text-align: center;
	}
	&__table-head {
		background-color: @color-table-heading;
		font-size: 14px;
		font-weight: bold;
		line-height: 17px;
		padding: 12px 0 12px 20px;
	}
	&__my-quote, &__my-policy {
		background-color: @color-quotes-bckg;
		margin-bottom: 10px;
		position: relative;
	}
	&__data-container {
		.transition;
		padding: 20px;
		@media (max-width: @screen-xs) {
			padding: 15px;
		}
	}
	&__name-number {
		font-size: 18px;
		display: inline-block;
		padding: 10px 20px;
		vertical-align: middle;
		width: 70%;
		@media (max-width: @screen-xs-max) {
			width: auto;

		}
		@media (max-width: @screen-xs) {
			padding: 10px;
			font-size: 14px;
		}
	}
	&__name {
		display: block;
		margin-bottom: 5px;
	}
	&__number {
		display: block;
	}
	&__add-infos {
		text-align: right;
		display: block;
	}
}
.my-quotes {
	&__table-body {
		font-size: 14px;
		border-bottom: 1px solid @color-cart-border;
		line-height: 18px;
		padding: 20px 0;
		padding-left: 15px;
		background-color: @color-light-grey;
		vertical-align: middle;
		&:nth-of-type(1) {
			width: 9%;
			padding-left: 20px;
			padding-right: 0;
		}
		&:nth-of-type(2) {
			width: 26%;
		}
		&:nth-of-type(3) {
			width: 18%;
		}
		&:last-of-type {
			width: 15%;
		}
		@media (max-width: @screen-xs-max) {
			border-bottom: none;
			line-height: 1.5;
			background-color: @color-white;
			vertical-align: top;
			&:nth-of-type(even) {
				width: 40%;
				padding: 3px 10px;
			}
			&:nth-of-type(odd) {
				background-color: @color-white;
				width: 55%;
				padding: 3px 10px;
			}
			&:first-of-type {
				width: 100%;
				text-align: center;
				padding-bottom: 10px;
			}
			&:last-of-type {
				width: 100%;
				padding: 15px 0 0;
			}
		}
	}
	&__data-container {
		&:hover {
			color:@color-white;
			background-color: @color-button-primary;
		}
	}
	@media (max-width: @screen-xs-max) {
		border-top: 1px solid @color-grey;
	}
}
.my-policies {
	&__table-body {
		background-color: @color-light-grey;
		border-bottom: 1px solid @color-cart-border;
		font-size: 14px;
		line-height: 18px;
		vertical-align: middle;
		&:nth-of-type(1) {
			padding-left: 20px;
			width: 10%;
			@media (max-width: @screen-xs-max) {
				padding-left: 10px;
			}
		}
		&:nth-of-type(2) {
			width: 65%;
			@media (max-width: @screen-xs-max) {
				width: 50%;
			}
			@media (min-width: @screen-sm-min) {
				width: 65%;
			}
			@media (min-width: @screen-md-min) {
				width: 75%;
			}
		}
		&:nth-of-type(3) {
			width: 25%;
			text-align: center;
			padding-right: 20px;
			@media (max-width: @screen-xs-max) {
				width: 40%;
				padding-right: 10px;
			}
			@media (min-width: @screen-sm-min) {
				width: 25%;
			}
			@media (min-width: @screen-md-min) {
				width: 15%;
			}
		}

	}
	&__data-container {
		&:hover {
			color:@color-white;
			background-color: @color-button-secondary;
		}
	}
}
// Overrides from yacceleratorstorefront
#myQuotesList {
	.my-quotes {
		&__responsive-table-item-mobile {
			@media (max-width: @screen-xs-max) {
				padding: 20px;
				background-color: @color-white;
				border-bottom: 1px solid @color-grey;
			}
		}
		&__retrieve-quote-form {
			padding-left: 15px;
			@media (max-width: @screen-xs-max) {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
.expired {
	color: @color-dark-red;
	&:hover {
		color: @color-white;
	}
}
/*****************************************************************/
/**************** My account and My policies end ****************/
/***************************************************************/


/*************************************************************/
/************************* Buttons **************************/
/***********************************************************/
.primary-button, .secondary-button, .inverted {
    &__default {
        .transition;
        width: 100%;
        height: 40px;
        line-height: 1;
        border: none;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        &--opacity {
            opacity: 0.7;
        }
        &--opacity-disabled {
            opacity: 0.2;
        }
    }
    &__home {
        font-size: 18px;
        min-height: 82px;
        padding: 0;
    }
    &__slider {
        font-size: 18px;
        line-height: 0;
        padding: 25px 0;
        width: 60%;
        @media (max-width: @screen-sm) {
            width: 100%;
            padding: 10px 0;
            font-size: 3vw;
            height: 30px;
        }
    }
    &__popup {
        font-size: 12px;
        font-weight: 600;
        @media (max-width: @screen-xs-max) {
            margin-top: 10px;
            margin-bottom: 0;
        }
        @media (min-width: @screen-sm-min) {
            margin-top: 10px;
            margin-bottom: 0;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &__account-quotes {
        display: inline-block;
        font-size: 14px;
        padding: 13px;
        text-align: center;
    }
    &__account-policies {
        display: inline-block;
        font-size: 12px;
        padding: 14px;
        white-space: nowrap;
        @media (min-width: @screen-sm-min) {
            font-size: 14px;
            padding: 13px;
        }
    }
    &__saved-payments {
        min-width: 190px;
        font-size: 14px;
        font-weight: 600;
    }
    &__checkout, &__single-checkout {
        display: block;
        margin: 20px auto 40px;
        padding: 12px;
        text-align: center;
    }
	&__single-checkout {
		@media (max-width: @screen-xs-max) {
			margin: 40px auto;
		}
	}
    &__event {
        font-size: 17px;
        margin: 10px auto 20px;
        white-space: nowrap;
        &[disabled] {
            opacity: 0.4;
        }
    }
    &__add-remove {
        font-size: 13px;
        margin: 15px 0 0;
    }
    &__infos, &__contact-agent, &__continue-shopping {
        padding: 11px;
        font-size: 18px;
        display: block;
        max-width: 260px;
        text-align: center;
        @media (max-width: @screen-sm) {
            max-width: 100%;
        }
    }
	&__continue-shopping {
		padding: 12px;
		margin: 0 auto;
	}
    &__contact-agent {
        @media (max-width: @screen-sm) {
            margin-bottom: 20px;
        }
    }
    &__agent {
        display: block;
        font-weight: 600;
        margin: 0 auto;
        padding: 12px;
        width: 50%;
        @media (max-width: @screen-sm) {
            width: 100%;
        }
    }
    &__edit {
        display: block;
        padding: 12px;
        text-align: center;
    }
    &__download {
        display: block;
        font-size: 12px;
        font-weight: 600;
        margin-top: 10px;
        padding: 14px;
        text-align: center;
    }
	&__search-button {
        background-color: transparent;
        border-left: none;
        color: @color-dark-blue;
        padding: 0 10px;
        font-size: 20px;
        position: absolute;
        right: 20px;
        width: auto;
        z-index: 990;
        &:focus {
            outline: 0;
        }
        @media (max-width: @screen-sm-max) {
            right: 0;
            padding: 0 20px 0 10px;
        }
    }
}
.primary-button {
    &__default {
        .primary-btn-color;
    }
    @media (max-width: @screen-xs-max) {
        &__checkout {
            margin: 10px 0 40px;
        }
    }
}
.secondary-button {
    &__default {
        .secondary-btn-color;
    }
    @media (max-width: @screen-xs-max) {
        &__checkout {
            margin: 40px 0 10px;
        }
    }
}
/*****************************************************************/
/************************* Buttons end **************************/
/***************************************************************/


/*************************************************************/
/********************** Find an Agent ***********************/
/***********************************************************/
.find-agent {
    &__main-page {
        .mainWidth;
        margin: 0px auto 60px;
        overflow: hidden;
        @media (max-width: @screen-lg) {
            padding: 0 15px;
        }
    }
    &__title {
        text-transform: uppercase;
        margin: 60px auto;
    }
    &__homepage {
        .mainWidth;
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
        background-color: @color-light-grey;
        margin-bottom: 0px;
        padding: 20px 0;
        margin: 0 auto 60px;
    }
    &__link {
        color: @color-blue;
    }
    @media (max-width: @screen-sm-max) {
        padding: 30px 0;
        font-size: 20px;
    }
}
.agent-info {
    &__wrapper {
        text-align: center;
        margin-bottom: 70px;
    }
    &__image {
        &--color-border {
            background-color: @color-white;
            border-radius: 50%;
            margin: 0 25px;
        }
    }
    &__description {
        display: inline-block;
    }
    &__details {
        margin: 20px 0 10px;
        padding: 0;
        list-style: none;
    }
    &__detail {
        text-align: center;
        padding-bottom: 10px;
    }
    &__name {
        font-weight: bold;
    }
}
.category {
    &__content {
        overflow: hidden;
        display: none;
        padding: 60px 0 20px;
        background-color: @color-quotes-bckg;
        border-bottom: 1px solid @color-grey;
        &.opened {
            display: block;
        }
    }
    &__caption {
        .transition;
        background-color: @color-quotes-bckg;
        cursor: pointer;
        display: block;
        color: @color-link;
        margin: 0;
        padding: 30px;
        border-bottom: 1px solid @color-grey;
        &:hover {
            .find-agent-active;
        }
        &.active {
            .find-agent-active;
        }
        &:after {
            .glyphicon;
            float: right;
            .transition;
            content: "\e259";
        }
        &.active {
            border-bottom: none;
            &:after {
                transform: rotateZ(180deg);
            }
        }
        @media (max-width: @screen-xs-max) {
            font-size: 20px;
        }
    }
    &__image {
        margin-right: 5%;
        border-radius: 50%;
        display: inline-block;
        background-color: @color-white;
        color: @color-link;
        width: 44px;
        height: 44px;
        padding: 6px;
        float: left;
        position: relative;
        top: -4px;
        &:before {
            .FSA-icon;
        }
        &.Homeowners {
            .icon-FSA-house;
        }
        &.Renters {
            .icon-FSA-key;
        }
        &.Auto {
            .icon-FSA-auto;
        }
        &.Life {
            .icon-FSA-heart;
        }
        &.Travel {
            .icon-FSA-plane;
        }
        &.Event {
            .icon-FSA-event;
        }
        @media (max-width: @screen-xs-max) {
            font-size: 30px;
            top: -10px;
        }
    }
}
.contact-expert {
	&__wrapper {
		margin-top: 90px;
	}
    &__buttons {
        margin-top: 35px;
    }
	&__message {
		height: 35vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
}
/*****************************************************************/
/********************** Find an Agent end ***********************/
/***************************************************************/


/*************************************************************/
/************************* Images **************************/
/***********************************************************/
.images {
	&__wrapper {
		border-radius: 50%;
		background-color: @color-white;
		display: inline-block;
		vertical-align: middle;
		width: 62px;
		height: 62px;
		text-align:center;
		padding: 6px;
		@media (max-width: @screen-xs-max) {
			width: 50px;
			height: 50px;
			&--size {
				width: 62px;
				height: 62px;
			}
		}
	}
	&__size {
		width: 100%;
		height: 100%;
	}
}
/*****************************************************************/
/************************* Images end **************************/
/***************************************************************/


/*************************************************************/
/****************** Checkout progress bar *******************/
/***********************************************************/
.checkout-progress {
	.page-checkout-login & {
		max-width: 1400px;
		margin: 0 auto;
	}
	&__heading {
		margin: 40px 0;
		text-align: center;
		text-transform: uppercase;
	}
	&__body {
		border-top: 1px solid @color-grey;
		position:relative;
		width: 100%;
		padding: 0;
		text-align: center;
		display: flex;
        margin-bottom: 20px;
		@media (max-width: @screen-sm-mid) {
			display: inline-block;
			margin-bottom: 10px;
		}
	}
	&__step {
		flex: 1;
		background: none;
		color: @color-button-primary;
		font-size:14px;
		display: inline-block;
		margin: 0;
		padding: 10px 15px 10px 20px;
		position:relative;
		vertical-align: top;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			height: 17px;
			@media (max-width: @screen-sm-max) {
				position: relative;
				display: block;
				text-align: center;
			}
		}
		&.disabled, &.unset {
			color: @color-mild-grey;
		}
		&.active {
			border-bottom:5px solid @color-button-primary;
			color: @color-grey;
		}
		&.valid, &.invalid {
			&:before {
				font-family: 'Glyphicons Halflings';
			}
			.glyphicon-ok;
		}
		@media (max-width: @screen-sm-max) {
			padding: 10px 20px;
		}
		@media (max-width: @screen-xs-max) {
			padding: 5px;
			font-size: 12px;
			width: 20%;
			text-align: center;
		}
	}
}
/*****************************************************************/
/****************** Checkout progress bar end *******************/
/***************************************************************/


/*****************************************************************/
/*********************** Checkout header ************************/
/***************************************************************/
.section-header {
    &__wrapper {
        font-weight: normal;
        font-size: 20px;
        background:none;
        margin: 30px auto 0;
    }
	&__heading {
        background-color: @color-light-grey;
        border: 1px solid @color-grey;
        border-top: 5px solid @color-dark-blue;
        border-bottom: 1px solid @color-grey;
        padding: 20px 0;
        text-align: center;
        margin: 0px auto;
        line-height: 1;
        color: @color-dark-blue;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
		&--align {
			text-align: left;
			@media (max-width: @screen-sm-mid) {
				text-align: center;
			}
		}
		&--title {
			@media (max-width: @screen-sm-mid) {
				display: block;
				margin-top: 20px;
			}
		}
	}
}
/*****************************************************************/
/******************** Checkout header end ***********************/
/***************************************************************/


/*************************************************************/
/********* Product Information (2nd checkout step) **********/
/***********************************************************/
.property-infos,
.auto-infos,
.life-infos,
.trip-infos {
	border: 1px solid @color-grey;
	border-top: none;
	background-color: @color-quotes-bckg;
	font-size: 14px;
	padding: 30px;
	overflow: hidden;
	margin-bottom: 30px;
	&__time, &__details {
		display: inline-block;
		list-style: none;
		padding: 0 30px 0 0;
		margin-bottom: 30px;
		&--right-margin {
			margin-right: 10px;
		}
		@media (max-width: @screen-xs) {
			margin-bottom: 20px;
		}
	}
	.yui-skin-sam & {
		background-color: @color-white;
		border: none;
		margin-top: 35px;
		padding: 0;
	}
}
/*****************************************************************/
/********* Product Information end (2nd checkout step) **********/
/***************************************************************/


/*********************************************************/
/********* Comparison table (2nd checkout step) *********/
/*******************************************************/
.comparison-table {
	&__body {
        background-color: transparent;
        border: 1px solid @color-grey;
        background-color: @color-light-grey;
        border-top: none;
        overflow: hidden;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        @media (max-width: @screen-xs) {
            padding: 0;
        }
        &.active {
            visibility: visible;
            opacity: 1;
            .transition;
        }
	}
}
.multi-tabs {
    border-bottom: 1px solid @color-grey;
    margin: 0;
    height: 41px;
    padding: 0;
    &__tab {
        background-color: @color-dark-grey;
        border: none;
        color: @color-white;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        &.active {
            border:1px solid @color-grey;
            border-bottom:0;
            background-color :@color-light-grey;
            color: @color-button-secondary;
        }
        @media (max-width: @screen-xs) {
            padding: 10px;
            display: block;
        }
    }
    @media (max-width: @screen-xs) {
        height: auto;
    }
}
.products {
	&__wrapper {
		display: flex;
		margin: 60px 0 30px;
	}
	&__labels {
		flex: 1;
		padding-right: 5px;
		padding-left: 5px;
		.page-LifeInsurancesCategoryPage & {
			flex: 2;
		}
		@media (max-width: @screen-xs-min) {
			width: 44%;

        }
    }
	&__grid {
		flex: 5;
		&.table-responsive {
			@media (max-width: @screen-sm-mid) {
				border: none;
				border-left: 1px solid @color-grey;
			}
		}
	}
	&__items {
		display: flex;
		width: 100%;
		max-width: 100%;
		margin-bottom: 0;
	}
	&__item {
        border-left: 1px dashed @color-grey;
        background-color: @color-light-grey;
        box-sizing: border-box;
        padding: 0 5px;
        flex: 1;
        text-align: center;
        &:first-child{
            background-color: transparent;
            @media (max-width: @screen-sm-mid) {
                border: none;
            }
        }
	}
}
.products-details {
    padding: 0;
    min-height: 200px;
    .CMSComparisonTabComponent & {
        min-height: 170px;
    }
    &__name {
        font-size: 20px;
        margin: 0;
        height: auto;
        display: inline-block;
        @media (max-width: @screen-xs) {
            font-size: 18px;
        }
    }
    &__main-price {
        margin: 20px 0;
        font-size:40px;
        color: @color-button-secondary;
        @media (max-width: @screen-sm-max) {
            font-size: 28px;
            font-weight:bold;
        }
        @media (max-width: @screen-xs) {
            font-size: 22px;
        }
    }
    &__optional-products {
        font-size: 24px;
        text-align: left;
        margin-bottom: 10px;
        padding: 0 10px;
        overflow: hidden;
        &--margin {
            margin: 10px 0 0;
        }
        &--checkbox-margin {
            margin-bottom: 0 !important;
            margin-top: 0;
        }
        @media (max-width: @screen-sm-max) {
            font-size: 16px;
            font-weight: bold;
        }
    }
    &__optional-products-name {
        font-size: 14px;
        line-height: 18px;
        display: block;
        font-weight: normal;
        padding: 0 0 0 25px;
        @media (max-width: @screen-xs) {
            padding: 0;
        }
    }
    &__pay-on-checkout {
        font-size: 14px;
        line-height: 18px;
        display: block;
        font-weight: normal;
        padding: 10px 5px;
        margin: 10px 0;
        @media (max-width: @screen-sm) {
            padding: 5px;
        }
    }
    &__pay-on-checkout-monthly {
        background-color: @color-yellow;
        color: @color-dark-grey;
    }
    &__mandatory-products {
        margin: 10px 0;
        &--checkbox-margin {
            margin-top: 0;
            margin-bottom: 0 !important;
            vertical-align: top;
        }
    }
}
.products-prices {
    &__price-wrapper {
        padding: 15px;
        background-color: @color-quotes-bckg;
        text-align: left;
        &:nth-child(even) {
            background-color: transparent;
        }
        &:nth-child(odd) {
            background-color: @color-mild-grey;
        }
    }
    &__price-line {
        vertical-align:middle;
        margin: 0;
    }
    &__label-name, &__label-name-link {
        display: inline-block;
        @media (max-width: @screen-md) {
            width: 70%;
            word-wrap: break-word;
        }
    }
}
.holder {
    &__wrapper {
        display: inline-block;
        position: relative;
        float: right;
        height: 20px;
        width: 20px;
    }
	&__tooltip {
		display: inline-block;
		background-color: @color-button-secondary;
		width: 20px;
		height: 20px;
		overflow: hidden;
		cursor: pointer;
		color: @color-white;
		font-style: italic;
		text-align: center;
		border-radius: 50%;
		opacity: 1;
		position: relative;
        padding: 0;
        border: none;
        font-size: 14px;
		&:hover {
			background-color: @color-button-secondary-hover;
		}
	}
	&__tip {
		background-color: @color-button-secondary-hover;
		.box-shadow(2px; 2px; 4px; @color-dark-grey; 70%);
		border-radius: 6px;
		color: @color-white;
		font-weight: normal;
		left: 25px;
		padding: 10px;
		position: absolute;
		width: 330px;
		bottom: 32px;
		z-index: 2000;
		display:none;
		opacity: 0.95;
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			bottom: -14px;
			left: -5px;
			border-left: 10px solid @color-button-secondary-hover;
			border-bottom: 10px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid @color-button-secondary-hover;
			transform: rotateZ(25deg);
		}
		@media (max-width: @screen-xs) {
			width: 180px;
		}
	}
    &__close-tip {
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor:pointer;
    }
    &__content-tip {
        display: block;
        float: left;
        padding: 10px 20px;
        text-align: left;
        @media (max-width: @screen-xs) {
            padding: 10px;
        }
    }
}
/*************************************************************/
/********* Comparison table end (2nd checkout step) *********/
/***********************************************************/


/**************************************************/
/*********** Cart (3rd checkout step)  ***********/
/************************************************/
.cart-items-list {
	&__wrapper {
		background-color: @color-light-grey;
		padding: 0 10px;
		margin-top: 30px;
		box-sizing: border-box;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		&.active {
			.transition;
			visibility: visible;
			opacity: 1;
		}
	}
	&__items-list {
		padding-bottom: 13px;
		border: 1px solid @color-grey;
		border-top: none;
		.disabled-option {
			position: absolute;
			height: 103%;
			left: 0;
			top: 0;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.5);
			border-bottom: 2px solid @color-mild-grey;
			border-top: 2px solid @color-mild-grey;
			box-shadow: 0 0 0 2px white inset;
		}
	}
	&__item {
		padding-top: 20px;
	}
	&__thumb {
		margin: -10px 20px 0 -20px;
	}
	&__divider {
		border-top: 1px solid @color-grey;
		margin-top: 40px;
		&:first-child {
			background: none;
			margin: 0px -10px 0;
			border-top: none;
		}
	}
	&__button-row {
		float: right;
		padding: 20px 20px 0 5px;
	}
	@media (max-width: @screen-sm-max) {
		&__items-list {
			padding-bottom: 30px;
		}
		&__item:first-of-type {
			.disabled-option:nth-of-type(3) {
				height: 119%;
				top: 0;
			}
		}
		&__item {
			.disabled-option {
				height: 141%;
				top: -22px;
			}
		}
		&__divider {
			margin-top: 20px;
		}
	}
	@media (max-width: @screen-xs-max) {
		&__items-list {
			padding-bottom: 40px;
		}
		&__item {
			.disabled-option {
				height: 123%;
				top: -22px;
			}
		}
		&__thumb {
			margin: -10px 0 -20px;
			text-align: center;
		}
		&__product-name {
			text-align: center;
		}
		&__divider {
			margin-top: 40px;
		}
		&__button-row {
			padding: 0;
		}
	}
}
/********* Cart Data *********/
.cart-data {
	&__wrapper {
		float: right;
		font-size: 14px;
		margin-top: 30px;
		width: 90%;
	}
	&__border {
		border: 1px solid @color-grey;
		border-top: 5px solid @color-dark-blue;
		background-color: @color-light-grey;
	}
	&__coverage-button {
		display: inline-block;
		width: 100%;
	}
	&__modify-plan-wrapper {
		text-align: right;
		margin-top: 15px;
		margin-right: 10px;
	}
	&__modify-plan-link {
		color: @color-blue;
		font-weight: bold;
		&:hover {
			color: @color-link-hover;
		}
	}
	@media (max-width: @screen-sm-max) {
		width: 100%;
		margin-left: 0;
	}
}
.cart-data-items {
	&__quote {
		padding: 15px 0;
		border-bottom: 1px solid @color-grey;
	}
	&__items {
		padding: 15px 0;
	}
	&__item {
		box-sizing: border-box;
		margin: 10px 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
	}
	&__product-name {
		color: @color-dark-blue;
		display: inline-block;
		font-size: 17px;
		font-weight: 700;
		padding: 0 10px;
	}
	&__name {
		float: left;
		padding: 0 10px;
	}
	&__price {
		background-color: @color-light-grey;
		text-align: right;
		float: right;
		padding: 0 10px;
		word-wrap: break-word;
	}
	&__order-total {
		border-top: 1px solid @color-grey;
		display: flex;
		font-size: 17px;
		font-weight: 700;
		padding: 15px 0;
	}
}
// No items in the cart
.page-cartPage {
	.content {
		padding: 0 40px;
		h2 {
			display: inline-block;
			margin-top: 40px;
			font-size: 22px;
		}
		p {
			font-size: 15px;
			margin-top: 20px;
		}
		ul {
			list-style-type: circle;
			padding-left: 20px;
		}
	}
}
/******************************************************/
/*********** Cart end (3rd checkout step)  ***********/
/****************************************************/

/******************************************************/
/******* Personal details (4th checkout step)  *******/
/****************************************************/
.xform-container {
	&__description {
		margin: 0 0 10px;
	}
	&__buttons {
		margin-left: -10px;
		margin-right: -10px;
	}
}
/**********************************************************/
/******* Personal details end (4th checkout step)  *******/
/********************************************************/


/******************************************************/
/********* Quote review (5th checkout step)  *********/
/****************************************************/
.review-accordion {
	&__form-button {
		margin: 40px auto 20px;
		@media (max-width: @screen-xs-max) {
			margin-top: 0;
			&--bottom {
				margin-bottom: 0;
			}
		}
	}
}
.review-accordion-header {
	&__wrapper {
		background-color: @color-light-grey;
		padding: 15px;
		margin-top: 30px;
		border: 1px solid @color-grey;
		border-top: 5px solid @color-dark-blue;
		font-weight: 400;
		font-size: 14px;
		@media (max-width: @screen-xs-max) {
			padding: 20px;
		}
	}
	&__text {
		color: @color-dark-blue;
		font-size: 24px;
		line-height: 62px;
		font-weight: bold;
		padding-left: 5%;
		@media (max-width: @screen-xs-max) {
			margin-left: 0;
			line-height: 1.3;
			padding-top: 20px;
		}
	}
	&__summary-line-text {
		padding-top: 10px;
		padding-left: 5%;
		@media (max-width: @screen-xs-max) {
			padding: 20px 10px 10px;
		}
	}
	&__id {
		text-align: right;
		color: @color-body;
		line-height: 25px;
		padding-top: 7px;
		@media (max-width: @screen-xs-max) {
			text-align: center;
			padding-top: 20px;
		}
	}
	&__expiry-date {
		text-align: right;
		color: @color-body;
		line-height: 25px;
		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}
	@media (max-width: @screen-xs-max) {
		text-align: center;
	}
}
.review-accordion-item {
	&__wrapper {
		border: 1px solid @color-grey;
		border-top: none;
		padding: 0;
	}
	&__valid, &__invalid {
		font-size: 17px;
		font-weight: 500;
		height: 55px;
		line-height: 55px;
		background: @color-light-grey;
		cursor: pointer;
		margin: 0;
		padding: 0 60px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		&:hover {
			background-color: @color-blue;
			color: @color-white;
			.review-accordion-item__open:before {
				color: @color-white;
			}
		}
		&:before {
			font-family: 'Glyphicons Halflings';
			font-size: 16px;
			position: relative;
			left: -40px;
		}
		&.active {
			background-color: @color-blue;
			color: @color-white;
			.review-accordion-item__open:before {
				transform: rotateZ(180deg);
			}
		}
	}
	&__valid {
		.glyphicon-ok;
	}
	&__invalid {
		.glyphicon-remove;
	}
	&__open {
		cursor: pointer;
		display: block;
		padding: 0 20px;
		top: 0;
		right: 0;
		left: auto;
		position: absolute;
		width: 70px;
		height: 55px;
		line-height: 55px;
		text-align: center;
		opacity: 1;
		.glyphicon-menu-down;
		&:before {
			.glyphicon;
			.transition;
			float: right;
			font-size: 20px;
			line-height: 55px;
		}
	}
	&__body {
		padding: 30px 46px 20px;
		background: @color-white;
		overflow: hidden;
		&.opened {
			display: none;
		}
		@media (max-width: @screen-xs-max) {
			padding: 25px 0 20px;
		}
	}
	&__list {
		margin-bottom: 25px;
		float: left;
		list-style-type: none;
		padding-left: 24px;
		width: 100%;
		&--style-type {
			padding-left: 38px;
			list-style-type: circle;
		}
		@media (max-width: @screen-xs-max) {
			margin-bottom: 40px;
		}
	}
	&__list-item {
		float: left;
		width: 100%;
		padding-right: 10px;
		&--title {
			font-weight: bold;
			margin-bottom: 10px;
		}
	}
	&__list-title {
		margin-top: 0;
		margin-bottom: 20px;
		padding-left: 24px;
	}
	&__button {
		@media (max-width: @screen-xs-max) {
			margin-bottom: 20px;
		}
	}
	&__text {
		padding-left: 24px;
	}
	&__docs-flow {
		pointer-events: none;
		cursor: pointer;
	}
}
/**********************************************************/
/********* Quote review end (5th checkout step)  *********/
/********************************************************/


/**********************************************************/
/********** Payment details (6th checkout step)  *********/
/********************************************************/
.payment-details {
	&__wrapper {
		margin-top: 30px;
	}
	&__buttons {
		position: initial;
		bottom: 0;
		clear: left;
		margin-top: 20px;
		@media (max-width: @screen-xs-max) {
			margin-top: 0px;
		}
	}
	&__body {
		padding: 0 15px 20px;
		margin: 0;
		position: relative;
		background-color: @color-light-grey;
		border: 1px solid @color-grey;
		border-top: none;
	}
	&__headline {
		font-size: 24px;
		font-weight:normal;
		margin: 0 0 10px 0;
		text-transform:none;
		padding-top:10px;
		height:auto;
		&--margin {
			margin: 20px 0;
		}
	}
	&__description {
		margin-bottom: 25px;
	}
	// Code below can't be adjusted according to the BEM methodology
	// because .jsp and .tag files are located in yacceleratorstorefront
	input, select {
		border-color: @color-grey;
		&:focus {
			border-color: @color-dark-blue;
		}
	}
	select {
		height: 32px;
		padding: 0 5px 0 10px;
	}
	#billingCountrySelector {
		margin-left: -10px;
		margin-right: -10px;
		.form-group {
			width: 50%;
			float: left;
			padding: 0 10px;
			label {
				font-size: 12px;
			}
			@media (max-width: @screen-sm-max) {
				width: 100%;
			}
		}
	}
	.billingAddressForm {
		margin-left: -10px;
		margin-right: -10px;
		.form-group {
			width: 50%;
			padding: 0 10px;
			overflow: hidden;
			display: inline-block;
			white-space: normal;
			margin-left: -2px;
			margin-right: -2px;
			vertical-align: top;
			label {
				font-size: 12px;
			}
			.form-control {
				height: 32px;
				padding: 0 5px 0 10px;
			}
			@media (max-width: @screen-sm-max) {
				width: 100%;
			}
		}
	}
	// END //
}
.saved-payment-list {
	&--display {
		display: none;
	}
	&__wrapper {
		padding: 20px 10px 0 10px;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			font-size: 0.9em;
		}
	}
	&__headline {
		height: 39px;
		line-height: 39px;
		text-transform: uppercase;
		margin: 0;
	}
	&__heading {
		font-size: 1.3em;
		margin: 0;
	}
	&__description {
		margin: 0 0 10px 0;
	}
	&__list {
		margin: 0;
		overflow: visible;
	}
	&__list-entry {
		width: 100%;
		display: inline-block;
		margin-top: 10px;
		border-bottom: none;
	}
	&__list-items {
		padding-bottom: 10px;
	}
}
.card-form {
	&__wrapper {
		margin-top: 25px;
	}
	&__clear {
		clear: both;
	}
	&__legend {
		margin: 0 0 5px 10px;
		border: 0;
		line-height: 20px;
		overflow: hidden;
		white-space: nowrap;
	}
	&__issue-number {
		display: none;
	}

	// Code below can't be adjusted according to the BEM methodology
	// because .jsp and .tag files are located in yacceleratorstorefront
	input, select {
		width: 100%;
		height: 32px;
		&::-ms-expand {
			background-color: transparent;
			border: 0;
		}
	}
	label, legend {
		color: @color-dark-blue;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 20px;
	}
	&__card-date {
		label {
			display: none;
		}
		&--display {
			display: none;
		}
	}
	&__save-payment-info {
		.control-group {
			width: 100%;
			margin-bottom:30px;
		}
		.control-label {
			color: @color-dark-blue;
			font-weight: 600;
			line-height: 20px;
		}
	}
	// END //
}

/**********************************************************/
/******** Payment details end (6th checkout step)  *******/
/********************************************************/


/**********************************************************/
/************ Final review (7th checkout step)  **********/
/********************************************************/
.final-review {
	&__wrapper {
		background-color: @color-light-grey;
		margin-top: 30px;
	}
	&__body {
		padding: 20px;
		border: 1px solid @color-grey;
		border-top: none;
		margin: 0;
		position: relative;
		&--word-break {
			word-wrap: break-word;
		}
	}
	&__list {
		list-style-type: none;
		padding-left: 0;
	}
	&__title {
		font-weight: 700;
		color: @color-dark-grey;
		padding-bottom: 10px;
	}
	&__buttons {
		margin: 20px 0;
	}
	&__checkbox {
		margin: 20px 0 0;
	}
	&__label {
		font-size: 14px;
		text-transform: none;
	}
}
.terms-and-conditions-link, .mean-link {
	color: @color-blue;
}
/**********************************************************/
/********** Final review end (7th checkout step)  ********/
/********************************************************/


/**********************************************************/
/********* Order confirmation (8th checkout step)  *******/
/********************************************************/
.checkout-confirmation {
	&__wrapper {
		display: inline-block;
		margin-bottom: 30px;
	}
	&__covered {
		padding: 15px 0;
		font-size: 21px;
	}
}
/**********************************************************/
/********* Order confirmation (8th checkout step)  *******/
/********************************************************/


/**********************************************************/
/****************** My account section  ******************/
/********************************************************/
.account-section {
	padding: 20px 10px 0 10px;
	.account-section-header {
		&.no-border {
			border-bottom: 1px solid #cccccc;
			margin: 40px auto;
			padding: 20px 0;
			text-align: center;
			width: 50%;
			@media (max-width: @screen-sm-max) {
				border-bottom: 1px solid #cccccc;
				margin: 40px auto;
				padding: 20px 0;
				width: 100%;
			}
		}
	}
	.account-section-content {
		.account-section-header {
			padding-left: 10px;
			padding-right: 10px;
			.row {
				.container-lg {
					&.col-md-6 {
						@media (max-width: @screen-xs-max) {
							padding: 0;
						}
						@media (min-width: @screen-sm-min) {
							padding: 0;
						}
						@media (min-width: @screen-md-min) {
							width: 100%;
							border-bottom: 1px solid @color-grey;
							padding: 20px 0;
						}
					}
					@media (min-width: @screen-md-min) {
						float: none;
						margin: 0 auto;
					}
				}
				@media (min-width: @screen-md-min) {
					width: 50%;
					margin: 0 auto;
				}
			}
			@media (min-width: @screen-md-min) {
				border-bottom-width: 0;
			}
		}
		.row {
			.container-lg {
				&.col-md-6 {
					width: 100%;
					.account-section-content {
						margin: 0 auto;
						padding-left: 0px;
						padding-right: 0px;
						width: 50%;
						@media (max-width: @screen-sm-max) {
							width: 100%;
							padding-left: 0;
							padding-right: 0;
						}
					}
				}
			}
		}
		.account-section-form {
			margin: 20px 0;
		}
		.account-section-content {
			&__headline {
				color: @color-account-section-bckg;
				font-size: 24px;
				font-weight: 700;
				line-height: 35px;
				margin-bottom: 10px;
				& + p {
					margin-bottom: 25px;
					font-size: 16px;
				}
			}
		}
		&.row {
			margin: 0 auto;
			width: 50%;
			#updatePwdForm {
				.col-md-6 {
					width: 100%;
					padding: 0;
				}
			}
			form {
				padding: 0;
			}
			@media (max-width: @screen-sm-max) {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
/**********************************************************/
/***************** My account section end  ***************/
/********************************************************/


/**********************************************************/
/******************* Order history  **********************/
/********************************************************/
.account-orderhistory {
	border-top: 1px solid @color-dark-blue;
	.pagination-bar.top {
		.pagination-bar-results {
			border-top: none;
		}
		.pagination-toolbar {
			.sort-refine-bar {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.account-overview-table {
		.orderhistory-list-table.responsive-table {
			tr.account-orderhistory-table-head.responsive-table-head.hidden-xs {
				th {
					background-color: @color-table-heading;
				}
			}
			tr.responsive-table-item {
				background-color: @color-light-grey;
				border-bottom: 1px solid @color-grey;
				.responsive-table-link {
					color: @color-dark-grey;
					pointer-events: none;
					cursor: default;
				}
				@media (max-width: @screen-xs-max) {
					background-color: @color-white;
				}
			}
		}
	}
}
.account-orderhistory-pagination {
	.pagination-bar.bottom {
		.pagination-toolbar {
			.sort-refine-bar {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
#sortForm1, #sortForm2 {
	.form-control {
		&:focus {
			border-color: @color-button-secondary;
		}
	}
}
.pagination-wrap {
	.pagination {
		li {
			a {
				font-size: 20px;
				line-height: 30px;
				color: @color-dark-blue;
			}
			&.pagination-prev, &.pagination-next {
				a, span {
					font-size: 14px;
					line-height: 30px;
					color: @color-dark-blue;
				}
			}
			&.active {
				span {
					font-size: 20px;
					line-height: 30px;
					background-color: @color-dark-blue;
					color: @color-white;
				}
			}
		}
	}
}
/**********************************************************/
/***************** Order history end  ********************/
/********************************************************/


/**********************************************************/
/*********** Profile, Email and Password forms  **********/
/********************************************************/
#updateProfileForm, #updateEmailForm, #updatePasswordForm, #updatePwdForm {
	.accountActions, .login-form-action {
		button {
			&.backToHome {
				.secondary-btn-color;
			}
			.primary-btn-color;
			.transition;
			height: 40px;
			line-height: 0;
		}
	}
	.form-group  {
		.form-control {
			&:focus {
				border-color: @color-button-secondary;
			}
		}
	}
}
#updatePwdForm {
	.login-form-action {
		div {
			&:nth-of-type(1) {
				left: 50%;
			}
			&:nth-of-type(2) {
				right: 50%;
			}
			@media (max-width: @screen-xs-max) {
				&:nth-of-type(1) {
					left: 0;
				}
				&:nth-of-type(2) {
					right: 0;
				}
			}
		}
		.btn-default {
			@media (max-width: @screen-xs-max) {
				margin-top: 20px;
			}
		}
	}
}
/**********************************************************/
/********** Profile, Email and Password forms end ********/
/********************************************************/


/**********************************************************/
/********************* Payment details  ******************/
/********************************************************/
.account-section {
	.account-list {
		.account-cards.card-select {
			border: none;
			.card {
				border: 1px solid @color-grey;
				.action-links {
					.glyphicon-remove {
						color: @color-button-secondary;
						&:hover {
							color: @color-button-primary;
						}
					}
				}
				.account-set-default-address {
					.secondary-btn-color;
					.transition;
					line-height: 0;
					position: absolute;
					bottom: 10px;
					margin-bottom: 10px;
					padding: 20px;
				}
				ul.pull-left {
					margin: 0;
					padding-bottom: 50px;
				}
				@media (min-width: @screen-sm-min) {
					width: 48%;
					margin: 1%;
				}
				@media (max-width: @screen-xs-max) {
					margin: 0 auto 10px auto;
				}
			}

		}
	}
}
/**********************************************************/
/******************* Payment details end  ****************/
/********************************************************/


/**********************************************************/
/******************* Forgotten password  *****************/
/********************************************************/
.main-content-wrapper {
	.forgotten-password:first-of-type, .item_container_holder {
		width: 33%;
		margin: 11% auto;
		@media (max-width: @screen-sm-max) {
			width: 70%;
		}
	}
}
.forgotten-password {
	.description {
		margin-top: 50px;
	}
	#forgottenPwdForm {
		.form-group {
			margin-top: 25px;
			.form-control {
				&:focus {
					border-color: @color-dark-blue;
				}
			}
		}
		button {
			.secondary-btn-color;
			.transition;
			height: 40px;
			line-height: 0;
			margin-top: 25px;
			line-height: 0;
		}
	}
	&.alert {
		margin-top: 35px;
		margin-bottom: 0;
		padding-right: 26px;
	}
}
/**********************************************************/
/****************** Forgotten password end ***************/
/********************************************************/


/**********************************************************/
/************************ Colorbox  **********************/
/********************************************************/
#cboxWrapper {
	#cboxBottomCenter {
		height: 20px;
	}
}
#colorbox {
	#cboxWrapper {
		#cboxContent {
			padding: 30px 20px;
			#cboxLoadedContent {
				padding: 0 0 5px 0;
				margin: 0 auto;
				.account-address-removal-popup {
					width: 92%;
					margin: 55px auto 0 auto;
					.modal-actions {
						margin-top: 0;
						button.paymentsDeleteBtn {
							.primary-btn-color;
							height: 40px;
							line-height: 0;
						}
						a.paymentsDeleteBtn {
							.secondary-btn-color;
							height: 40px;
							line-height: 1;
						}
					}
					@media (max-width: @screen-xs-max) {
						width: 89%;
						margin: 70px auto 0 auto;
					}
				}
				.content {
					.textpage-termsAndConditions {
						.item_container {
							padding-bottom: 20px;
							border-bottom: 1px solid @color-grey;
							margin: 0 20px 40px 0;
						}
					}
				}
				.forgotten-password {
					#forgottenPwdForm {
						button {
							.secondary-btn-color;
							.transition;
							height: 40px;
							line-height: 0;
							margin-top: 25px;
							line-height: 0;
						}
					}
                    &.alert {
                        padding-left: 5px;
                    }
				}
				@media (max-width: @screen-xs-max) {
					#popup_confirm_bind_quote .confirmation h3 {
						margin: 10px 0 20px 0;
					}
					.saveData input[type="checkbox"] {
						margin-bottom: 0;
					}
				}

				@media (min-width: @screen-sm-min) {
					#popup_confirm_bind_quote .confirmation h3 {
						margin: 10px 0 20px 0;
					}
					.saveData input[type="checkbox"] {
						margin-bottom: 0;
					}
				}
			}
			#cboxTitle {
				padding-left: 0;
			}
			#cboxClose {
				.glyphicon-remove {
					color: @color-dark-blue;
					&:hover {
						color: @color-blue;
					}
				}
			}
		}
	}
}
/**********************************************************/
/******************** Colorbox end  **********************/
/********************************************************/


/**********************************************************/
/************** Login and Register page  *****************/
/********************************************************/
#registerForm, #loginForm {
	button {
		.transition;
		height: 40px;
		line-height: 0;
	}

}
#registerForm {
	button {
		.secondary-btn-color;
		margin-top: 20px;
	}
	.form-control:focus {
		border-color: @color-button-secondary;
	}
}
#loginForm {
	button {
		.primary-btn-color;
	}
	.form-control:focus {
		border-color: @color-button-primary;
	}
}
.checkout-login {
	padding: 0;
	.checkout-login-left-content-slot {
		margin-left: 20px;
		margin-right: 10px;
	}
	.checkout-login-right-content-slot {
		margin-left: 10px;
		margin-right: 20px;
	}
	.checkout-login-left-content-slot, .checkout-login-right-content-slot {
		@media (max-width: @screen-sm-max) {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}
.login-right-content-slot, .checkout-login-right-content-slot {
	@media (max-width: @screen-sm-max) {
		margin-top: 30px;
	}
}
// Overrides from yaccelerator
.login-section form, .register-section form {
	.forgotten-password {
		margin-bottom: 30px;
		@media (max-width: @screen-sm-max) {
			margin-bottom: 30px;
		}
	}
}
/**********************************************************/
/************ Login and Register page end  ***************/
/********************************************************/


/**********************************************************/
/******************** Search begin ***********************/
/********************************************************/
.search-wrapper {
	position: relative;
	z-index: 10;
	top: -60px;
	max-width: 400px;
	width: 100%;
	float: right;
	@media (max-width: @screen-sm-max) {
		top: -52px;
		max-width: initial;
		width: 85%;	
	}
}

.site-search {
	z-index: -1;
	display: inline-block;
	margin: 0 auto;
	width: 0;
	opacity: 0;
	position: absolute;
	right: 14%;
	.transition-2x;
	&.active {
		z-index: 12;
		width: 85%;
		opacity: 1;
		.transition-2x;
	}
	form {
		.input-group {
			display: block;
			white-space: nowrap;
			.form-control {
				height: 42px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				box-shadow: none;
				display: inline-block;
				vertical-align: middle;
				width: 77%;
				&:focus {
					border: 1px solid @color-dark-blue;
//					box-shadow: inset 0px 0px 5px 0px @color-dark-blue;
//					-webkit-box-shadow: inset 0px 0px 5px 0px @color-dark-blue;
					& + .input-group-btn {
						.btn-link {
							border: 1px solid @color-dark-blue;
							color: @color-white;
							background-color: @color-dark-blue;
							.transition;
						}
					}
				}
			}
		}
	}
	.ui-autocomplete {
		background-color: @color-white;
		top: 40px !important;
		left: 0 !important;
		width: 77% !important;
		word-wrap: break-word;
		border: 1px solid @color-dark-blue;
		border-top: none;
		.ui-menu-item {
			padding: 5px 10px;
			&.ui-state-focus {
				background: @color-dark-blue;
				a {
					color: @color-white;
				}
			}
			.price {
				padding: 0;
			}
		}
	}
	.input-group-btn {
		display: inline-block;
		width: 18%;
		overflow: hidden;
		.btn-link {
			line-height: 1;
			opacity: 1;
			color: @color-dark-blue;
			background-color: @color-white;
			padding: 10px 12px;
			border: 1px solid @color-grey;
			height: 42px;
			width: 100%;
		}
		span {
			&:before {
				content: "\e072";
			}	
		}
	}
}

//Search result page / PDP
.product__list--wrapper {
	margin: 0 auto;
	.searchSpellingSuggestionPrompt {
		font-size: 20px;
		font-style: italic;
	}
	.product__list--heading {
		float: none;
		.service-heading {
			@media (max-width: @screen-xs) {
				margin: 20 0;
				font-size: 24px;
			}
		}
	}
	.pagination-bar {
		.pagination-toolbar {
			padding: 20px 10px;
			overflow: hidden;
			border-top: 1px solid @color-grey;
			.pagination-bar-results {
				padding: 2px 0;
				margin-top: 0;
				color: @color-dark-blue;
				font-size: 20px;
			}
			.sort-refine-bar {
				text-align: right;
				.form-group {
					.control-label {
						vertical-align: middle;
					}
					form {
						display: inline-block;
						margin-left: 20px;
						vertical-align: middle;
						select {
							@media (max-width: @screen-sm-max) {
								height: 32px;
								line-height: initial;
								padding: inherit;
							}
						}
					}
				}
				
			}
		}	
	}
	.product__listing {
		overflow: hidden;
		&.product__list {
			margin-left: -10px;
			margin-right: -10px;
			@media (max-width: @screen-md-max) {
				margin-left: 10px;
				margin-right: 10px;
			}
			.product__list--item {
				border: none;
				padding: 20px 10px 40px;
				&:nth-of-type(2n) {
					background-color: transparent;
				}
				@media (max-width: @screen-xs) {
					padding: 10px 10px 20px;
				}
				&-wrapper {
					padding: 15px;
					border: 1px solid @color-grey;
					& > * {
						margin-bottom: 20px;
					}
					.product__list--category {
						margin: 0 auto 20px;
						text-align: center;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.product__list--name {
						color: @color-dark-grey;
						text-align: center;
						background-color: @color-grey;
						text-align: center;
						margin: 0 -15px 20px;
						padding: 15px 0;
						border-top: 1px solid @color-grey;
						border-bottom: 1px solid @color-grey;
						&:hover {
							background-color: @color-white;
						}
					}
					.primary-button__edit, 
					.secondary-button__edit {
						font-size: 14px;
					}
					.primary-button__edit {
						margin-bottom: 15px;	
					}
					.secondary-button__edit {
						margin-bottom: 0;	
					}
				}
			}
			.base__options {
				min-height: 120px;
				@media (max-width: @screen-xs-max) {
					min-height: auto;
				}
			}
		}	
	}	
}
//Search result page / PDP END

.service-heading {
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;
    span {
        font-weight: bold;
    }
}

//Search empty result page
.page-searchEmpty {
	.search-empty {
		margin-bottom: 40px;
		padding: 0 20px;
	}
	.searchEmptyPageMiddle {
		margin: 0 auto;
		width: 56%;
		@media (max-width: @screen-sm-max) {
			width: 100%;
			h2 {
				text-align: center;
			}
		}
	}
}
//Search empty result page END

/**********************************************************/
/********************* Search end  ***********************/
/********************************************************/


/**********************************************************/
/********************* Error page  ***********************/
/********************************************************/
.error-page {
	.js-shopping-button {
		.secondary-btn-color;
		line-height: 1.375;
		margin-top: 50px;
	}
}
/**********************************************************/
/******************* Error page end **********************/
/********************************************************/
