@color-white: #ffffff;
@color-body: #333333;
@color-dark-grey: #666666;
@color-grey: #cccccc;
@color-light-grey: #f5f5f5;
@color-mild-grey: #e9e9e9;
@color-blue: #0078c0;
@color-dark-blue: #263950;
@color-red: #ff0000;
@color-dark-red: #c90400;
@color-green: #3ab85d;
@color-yellow: #ffd200;
@color-heading: @color-dark-grey;
@color-heading-infos: @color-blue;
@color-link: @color-dark-grey;
@color-link-hover: #3498db;
@color-button-primary: @color-blue;
@color-button-primary-hover: @color-link-hover;
@color-button-secondary: @color-dark-blue;
@color-button-secondary-hover: #385980;
@color-mobile-menu-bckg: #2b3e51;
@color-mobile-menu-opaque: @color-button-secondary-hover;
@color-footer-links: @color-grey;
@color-footer-bckg: @color-dark-grey;
@color-footer-copyright-bckg: #555555;
@color-quotes-bckg: @color-light-grey;
@color-account-section-bckg: #154259;
@color-table-heading: @color-dark-blue;
@color-table-link: @color-blue;
@color-table-link-hover: @color-link-hover;
@color-colorbox-border: rgba(255, 255, 255, .3);
@color-cart-border: #e1e1e1;
@color-cart-top-border: #1b75ad;

@screen-sm-mid: 768px;
@screen-xxs: 380px;


.mainWidth {
    max-width: @screen-lg;
    width: 100%;
}

.transition {
    transition: all 300ms ease;
}
.transition-2x {
    transition: all 600ms ease;
}
.primary-btn-color {
    background-color: @color-button-primary !important;
    border-color: @color-button-primary !important;
    color: @color-white !important;
    &:hover, &:active, &:focus {
        background-color:@color-button-primary-hover !important;
        border-color: @color-button-primary-hover !important;
        color: @color-white !important;
    }
}
.secondary-btn-color {
    background-color: @color-button-secondary !important;
    border-color: @color-button-secondary !important;
    color: @color-white !important;
    &:hover, &:active, &:focus {
        background-color: @color-button-secondary-hover !important;
        border-color: @color-button-secondary-hover !important;
        color: @color-white !important;
    }
}

.find-agent-active {
	background-color: @color-button-primary;
	color: @color-white;
	span {
		color: @color-button-primary;
	}
}
.box-shadow(@x; @y; @b; @color; @opacity) {
   box-shadow: @x @y @b fade(@color, @opacity);
   -moz-box-shadow: @x @y @b fade(@color, @opacity);
   -webkit-box-shadow: @x @y @b fade(@color, @opacity);
}
