/*************************************************************/
/********************** BANKING BEGIN ***********************/
/***********************************************************/
.page-BankingCategoryLandingPage {
	background-image: url(../../../addons/financialacceleratorstorefront/responsive/theme-alpha/images/landing_page_background.png);
	background-size: 100%;
	header {
		background: @color-white;
		.page-multiStepCheckoutSummaryPage & {
			margin-bottom: 0;
		}
	}
	.search-wrapper {
		display: none;
	}
	.content {
		@media (max-width: @screen-lg) {
			padding: 0 15px;
		}
	}
	.quotes {
		.mainWidth;
		margin: 70px auto;
		@media (max-width: @screen-lg) {
			padding: 0 15px;
		}
		@media (max-width: @screen-xs-max) {
			margin: 50px auto;
		}

	}
	/*************************************************************/
	/********************** Mobile header ***********************/
	/***********************************************************/
	.branding-mobile {
		@media (max-width: @screen-xs-max) {
			& > div {
				img {
					max-width: 160px;
				}
			}	
		}
	}
	/*************************************************************/
	/******************** Mobile header end *********************/
	/***********************************************************/
		.service-links {
		@media (max-width: @screen-xs-max) {
			&:first-of-type {
				padding: 15px 0;
			}
			&:nth-of-type(2) {
				padding: 15px 0;
			}
			&:last-of-type {
				padding: 15px 0;
			}
		}
		@media (min-width: @screen-sm-min) {
			padding-top: 15px;
			padding-bottom: 15px;
			&:first-of-type {
				padding-left: 0;
				padding-right: 50px;
			}
			&:nth-of-type(2) {
				padding-left: 25px;
				padding-right: 25px;
			}
			&:last-of-type {
				padding-right: 0;
				padding-left: 50px;
			}
		}
		.banner__component--responsive {
			border: 1px solid @color-grey;
			cursor: pointer;
			.transition;
			&:hover {
				border: 1px solid @color-blue;
				box-shadow: 0px 0px 10px 0px @color-blue;
			}
		}
	}
	.find-branch {
		&__homepage {
			.mainWidth;
			font-size: 30px;
			font-weight: lighter;
			text-align: center;
			background-color: @color-grey;
			padding: 20px 0;
			margin: 0 auto;
			@media (max-width: @screen-xs-max) {
				padding: 15px 30px;
			}
		}
		&__link {
			color: @color-blue;
		}
		@media (max-width: @screen-sm-max) {
			font-size: 20px;
			padding: 30px 0;
		}
		@media (max-width: @screen-xs-max) {
			margin-bottom: 110px;
		}
	}
	/*************************************************************/
	/************************ Navigation ************************/
	/***********************************************************/
	.desktop__nav .mobile-menu button {
		color: @color-blue;
	}
	&.offcanvas .desktop__nav .mobile-menu button {
		color: @color-white;
	}
	.navigation--top .nav__right {
		.nav__links--account li {
			.find-branch-link {
				.glyphicon-map-marker;
				&:before {
					.glyphicon;
					margin-right: 5px;
					display: inline-block;
					top: 0;
				}
			}
			a {
				pointer-events: none;
			}
		}
	}
	.navigation--bottom {
		.sticky-nav-top {
			overflow: hidden;
			li {
				@media (max-width: @screen-sm-max) {
					background-color: @color-blue;
				}
			}
		}
		.nav__links--products li {
			.find-branch-link {
				.glyphicon-map-marker;
				&:before {
					.glyphicon;
					margin-right: 12px;
					font-size: 20px;
					vertical-align: sub;
					top: 0;
				}
			}
			@media (max-width: @screen-sm-max) {
				background-color: @color-blue;
				&.liUserSign, a {
					&:hover {
						background-color: @color-blue;
					}
				}
			}
		}
		@media (max-width: @screen-sm-max) {
			ul li a {
				pointer-events: none;
			}
			background-color: @color-blue;
		}
	}
	//LANGUAGE-CURRENCY SWITCHER
	.language-currency {
		padding-right: 0px;
	}
	.language, /*.currency*/ {
		display: inline-block;
		@media (max-width: @screen-sm-max) {
			.form-group {
				.form-control {
					option {
						background-color: @color-blue;
					}
				}
			}
		}
		@media (max-width: @screen-xxs) {
			display: block;
		}
	}
	//LANGUAGE-CURRENCY SWITCHER END
	/*************************************************************/
	/********************** Navigation end **********************/
	/***********************************************************/

	/*************************************************************/
	/********************** Banking Footer **********************/
	/***********************************************************/
    footer {
        background: radial-gradient(ellipse at center, #29abe2 10%, #1D70B7 80%, #0a85df 120%);
		margin-top: 0;
        .container-fluid {
			.mainWidth;
            background-color: inherit;
            border-top: none;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            padding-top: 30px;
            padding-bottom: 30px;
            @media (max-width: @screen-sm-max) {
                padding-top: 0;
				padding-bottom: 0;
            }
        }
		@media (max-width: @screen-sm-max) {
			padding: 20px 25px;
		}
    }
    .footer {
        &__top {
            position: relative;
            padding-bottom: 0;
            .footer__nav--container {
				margin-bottom: 10px;
                .title {
					font-size: 15px;
					font-weight: 600;
                    padding-bottom: 20px;
					@media (max-width: @screen-sm-max) {
						padding: 20px 0;
						text-align: left;
						.glyphicon-menu-down;
						&.active {
							.glyphicon-menu-up;
						}
						&:before {
							.glyphicon;
							.transition;
							float: right;
							font-size: 15px;
							left: -5px;
						}
                    }
                }
                .footer__nav--links {
                    .footer__link {
						a {
							color: @color-white;
							font-size: 12px;
							font-weight: normal;
							border-bottom: 1px solid transparent;
							&.FSA-icon {
								border-bottom: none;
								font-size: 25px;
								line-height: 1.7;
							}
							&:hover {
								border-bottom: 1px solid #ffffff;
								padding-bottom: 3px;
							}
						}
						@media (max-width: @screen-sm-max) {
							margin: 0 0 10px;
						}
					}
					@media (max-width: @screen-sm-max) {
						display: none;
						padding-bottom: 20px;
						text-align: left;
					}
				}
				&:first-of-type {
					@media (max-width: @screen-sm-max) {
						border-top: 1px solid @color-light-grey;
					}
				}
				&:last-of-type {
					.footer__nav--links {
						.footer__link {
							display: inline-block;
							position: relative;
							width: 33%;
							a {
								transition: all .2s ease-in-out;
								float: left;
								&:hover {
									transform: scale(1.1);
									border-bottom: none;
									padding-bottom: 0;
								}
								@media (max-width: @screen-sm-max) {
									float: none;
								}
							}
							@media (max-width: @screen-sm-max) {
								width: 40px;
								margin-bottom: 0;
							}
						}
						@media (max-width: @screen-sm-max) {
							padding-bottom: 17px;
						}
					}
				}
				@media (max-width: @screen-sm-max) {
					width: 100%;
					border-bottom: 1px solid @color-light-grey;
					padding: 0;
					margin-bottom: 0;
				}
            }
        }
        &__right {
            border-top: none;
            padding-top: 0;
            margin-top: 0;
        }
        &__left {
            float: none;
			padding: 0 15px;
            width: 100%;
			@media (max-width: @screen-sm-max) {
				padding: 15px 0;
				.row {
					margin: 0;
				}
			}
        }
        &__copyright {
			background: inherit;
			border-top: 1px solid @color-light-grey;
			color: @color-white;
			font-size: 12px;
			font-weight: normal;
			padding-left: 10px;
			padding-right: 10px;
			text-align: left;
            .container {
				.mainWidth;
                margin: 0 auto;
				padding: 0;
            }
			@media (max-width: @screen-sm-max) {
				border-top: none;
				padding: 10px 0;
			}
        }
        &--border {
            border-bottom: 1px solid @color-light-grey;
			@media (max-width: @screen-sm-max) {
				border-bottom: none;
			}
        }
    }
	/*************************************************************/
	/******************* Banking footer end *********************/
	/***********************************************************/

}

/*************************************************************/
/*********************** BANKING END *************************/
/***********************************************************/

