<div class="panel panel-default ySEPanelSpinner">
    <div class="panel-body">
        <div class="spinner ySESpinner">
            <div class="spinner-container spinner-container1">
                <div class="spinner-circle1"></div>
                <div class="spinner-circle2"></div>
                <div class="spinner-circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container spinner-container2">
                <div class="spinner-circle1"></div>
                <div class="spinner-circle2"></div>
                <div class="spinner-circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container spinner-container3">
                <div class="spinner-circle1"></div>
                <div class="spinner-circle2"></div>
                <div class="spinner-circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
        <div class="ySESpinnerText">{{modalController._modalManager.loadingMessage | translate}}</div>
    </div>
</div>

<!-- Temporary styling -->
<style>
.ySEWaitDialog {
    z-index: 1052;
}
</style>