<div>
    <span>{{node.uid}}</span>
    <y-drop-down-menu data-ng-if="ctrl.editable"
        dropdown-items="ctrl.getDropdownItems()"
        selected-item="this"
        class="y-dropdown pull-right nav-node-editor-entry-item__more-menu" />
</div>