@import "../support/_processes-mixins.scss";

.yw-processes-menu-popup {
	overflow: visible;
	margin-top: $processes__sidbar-popup--margin-top;

	&:after {
		right: 0;
		border-color: transparent;
		border-style: solid;		
		top: $processes__sidbar-popup-pointer--top;
		border-width: $processes__default-popup-pointer--border-width;
		border-bottom-color: $processes__default-popup--bg-color;		
		@include _pointingPopupDefaults(5);
		transform: rotate(90deg);
		transform-origin: bottom right;
	}
	&.z-menupopup, 
	.z-menu, 
	.z-menuitem {
		background-color: $processes__default-popup--bg-color !important;
		
	}
	.z-menupopup-content {
		a.z-menu-content, 
		a.z-menuitem-content {
			color: $processes__default-popup--color;
			
			&:hover {
				color: $blue__default;
				background-color: $processes__default-popup--bg-color !important;
			}
		}
	}

}