<div class="page-list-link-container">
    <a class="page-list-link-item__link se-catalog-version__link"
        data-ng-href="{{ctrl.linkUrl}}"
        data-translate="cataloginfo.pagelist"></a>
</div>