<div data-ng-if="ctrl.listIsEmpty()">
    <!--
        It's important to add the type=button. Otherwise HTML 5 will default it to type=submit, causing the generic
        editor to submit the form whenever the panel opens.
    -->
    <button id="catalog-aware-selector-add-item"
        type="button"
        data-ng-if="ctrl.editable"
        class="y-add-btn"
        data-ng-click="ctrl.openEditingPanel()">
        <span class="hyicon hyicon-add"></span>
        <span translate="se.catalogaware.newbutton.title"
            translate-values="{catalogItemType: ctrl.catalogItemType}"></span>
    </button>
</div>

<div data-ng-if="!ctrl.listIsEmpty()"
    class="se-catalog-aware-selector__content">
    <div class="se-catalog-aware-selector__content__btn-wrapper"
        data-ng-if="ctrl.editable">
        <button type="button"
            class="btn btn-link se-catalog-aware-selector__content__btn"
            data-ng-click="ctrl.openEditingPanel()">
            {{'se.catalogaware.list.addmore' | translate}}
        </button>
    </div>


    <y-editable-list data-id="{{ctrl.id + '_list'}}"
        data-item-template-url="ctrl.itemTemplate"
        data-items="ctrl.itemsList"
        data-on-change="ctrl.onListChange"
        data-editable="ctrl.editable"
        data-refresh="ctrl._refreshListWidget"
        class="se-catalog-aware-selector__list">
    </y-editable-list>
</div>

<se-item-selector-panel data-panel-title="ctrl.currentOptions.panelTitle"
    data-items-selected="ctrl.model"
    data-get-catalogs="ctrl.getCatalogs"
    data-items-fetch-strategy="ctrl.itemsFetchStrategy"
    data-item-template="ctrl.itemTemplate"
    data-on-change="ctrl.onPanelChange"
    data-show-panel="ctrl.showPanel"
    data-hide-panel="ctrl.closePanel"
    data-catalog-item-type="ctrl.catalogItemType"
    data-max-num-items="ctrl.maxNumItems">
</se-item-selector-panel>