<div class="media-selector--preview"
    data-ng-if="selected">
    <div class="row">
        <span class="col-xs-6">
            <se-media-preview data-image-url="item.url"></se-media-preview>{{printer.imagePreviewUrl}}
            <div class="se-media-preview-image-wrapper">
                <img class="thumbnail thumbnail--image-preview"
                    data-ng-src={{item.url}}>
            </div>
            <span class="media-preview-code">{{item.code}}</span>
        </span>
        <span class="col-xs-6 media-selector--preview--2">
            <se-media-advanced-properties class="media-selector--preview__right"
                data-code="item.code"
                data-description="item.description"
                data-alt-text="item.altText"
                data-adv-info-icon="printer.advInfoIcon"></se-media-advanced-properties>

            <button class="media-selector--preview__right replace-image btn btn-subordinate"
                data-ng-click="ySelect.clear($select, $event)">
                <p class="media-selector--preview__right--p"
                    data-translate="upload.image.replace"></p>
                <img class="media-selector--preview--icon"
                    data-ng-src="{{printer.replaceIcon}}" />
            </button>
            <button class="media-selector--preview__right remove-image btn btn-subordinate"
                data-ng-click="ySelect.clear($select, $event)">
                <p class="media-selector--preview__right--p"
                    data-translate="media.format.remove"></p>
                <img class="media-selector--preview--icon"
                    data-ng-src="{{printer.deleteIcon}}" />
            </button>
        </span>
    </div>
</div>
<div class="ySEMediaSearch"
    data-ng-if="!selected">
    <div class="row ySEMediaSearch-row">
        <div class="ySEMediaSearchName col-xs-8">{{item.code}}</div>
        <div class="ySEMediaSearchImage col-xs-4">
            <img data-ng-src={{item.url}}
                class="pull-right">
        </div>
    </div>
</div>