<!--<div class="row-fluid alert-overlay">-->
<div class="alert-overlay"
    data-ng-if="$ctrl.getAlerts().length > 0">
    <div uib-alert
        id="{{ 'system-alert-' + $index }}"
        data-ng-if="alert.closeable === false"
        data-ng-repeat="alert in $ctrl.getAlerts()"
        data-ng-class="'alert-' + (alert.type || 'info')">
        <span id="{{ 'close-alert-' + $index }}">{{ alert.message | translate }}</span>
    </div>
    <div uib-alert
        id="{{ 'system-alert-' + $index }}"
        data-ng-if="alert.closeable !== false"
        data-ng-repeat="alert in $ctrl.getAlerts()"
        data-ng-class="'alert-' + (alert.type || 'info')"
        data-close="alert.hide()">
        <span>{{ alert.message | translate }}</span>
    </div>
</div>