<div class="se-synchronize-catalog">
    <!-- Status -->
    <div class="se-synchronize-catalog__item se-synchronize-catalog__sync-info">
        <div data-ng-if="ctrl.isSyncJobFinished()">
            <label class="se-synchronize-catalog__sync-info__sync-label"
                data-ng-if="ctrl.catalogVersion.active">
                {{ 'cataloginfo.lastsyncedfrom' | translate: ctrl.getSyncFromLabels() }}
            </label>
            <label class="se-synchronize-catalog__sync-info__sync-label"
                data-ng-if="!ctrl.catalogVersion.active"
                data-translate="cataloginfo.lastsynced"></label>
            <span class="catalog-last-synced">{{ctrl.syncJobStatus.syncEndTime| date:'short'}}</span>
        </div>
        <span data-ng-if="ctrl.isSyncJobInProgress()"
            class="se-synchronize-catalog__in-progress"
            data-translate="sync.status.synced.inprogress"></span>
        <span data-ng-if="ctrl.isSyncJobFailed()"
            class="label-error se-synchronize-catalog__sync-failed"
            data-translate="sync.status.synced.syncfailed"></span>
    </div>

    <div class="se-synchronize-catalog__item se-synchronize-catalog__sync-btn"
        data-ng-if="!ctrl.catalogVersion.active"
        data-has-operation-permission="ctrl.syncCatalogPermission">
        <button class="btn btn-default"
            data-ng-disabled="!ctrl.isButtonEnabled()"
            data-ng-click="ctrl.syncCatalog()">{{ 'cataloginfo.btn.sync' | translate }}</button>
    </div>
</div>