/* Icons for explorer tree */
div.yw-explorerTree {
  .y-tree-icon-hmc_typenode_promotion_modules .y-tree-icon{
    background-image: url("images/0140_promotion_module.png");
  }
  .y-tree-icon-hmc_published_and_unpublished_promotion_rules_only .y-tree-icon,
  .y-tree-icon-hmc_all_promotion_rules_only .y-tree-icon {
    background-image: url("images/089_promotions.png");
  }
}
