<div class="se-actionable-search-item"
    data-ng-if="$ctrl.getInputText()">

    <div class="se-actionable-search-item__name">{{ $ctrl.getInputText() }}</div>
    <button type="button"
        class="btn se-actionable-search-item__create-btn pull-right"
        data-ng-show="$ctrl.showForm()"
        data-ng-click="$ctrl.buttonPressed()">
        {{ $ctrl.getActionText() | translate }}
    </button>
</div>