<div id="editConfigurationsBody"
    class="ySEConfigBody">
    <form name="form.configurationForm"
        novalidate
        data-ng-submit="editor.submit(form.configurationForm)">
        <div class="row ySECfgTableHeader">
            <div class="col-xs-6">
                <label data-translate="configurationform.header.key.name"></label>
            </div>
            <div class="col-xs-6">
                <label data-translate="configurationform.header.value.name"></label>
            </div>
        </div>
        <div class="row ySECfgAddEntity">
            <button class="y-add-btn"
                type="button"
                data-ng-click="editor.addEntry(); ">
                <span class="hyicon hyicon-add "></span>
                {{'general.configuration.add.button' | translate}}
            </button>
        </div>
        <div class="row ySECfgEntity "
            data-ng-repeat="entry in editor.filterConfiguration() "
            data-ng-mouseenter="mouseenter() "
            data-ng-mouseout="mouseout() ">
            <div class="col-xs-6 ">
                <input type="text "
                    class="ng-class:{ 'col-xs-12':true, 'has-error':entry.errors.keys.length>0}"
                    name="{{entry.key}}_key"
                    data-ng-model="entry.key"
                    data-ng-required="true"
                    data-ng-disabled="!entry.isNew"
                    title="{{entry.key}}" />
                <span id="{{entry.key}}_error_{{$index}}"
                    data-ng-if="entry.errors.keys"
                    data-ng-repeat="error in entry.errors.keys"
                    class="error-input help-block">
                    {{error.message|translate}}
                </span>
            </div>
            <div class="col-xs-5">
                <textarea class="ng-class:{'col-xs-12':true, 'has-error':entry.errors.values.length>0}"
                    name="{{entry.key}}_value"
                    data-ng-model="entry.value"
                    data-ng-required="true"
                    data-ng-change="editor._validateUserInput(entry)"></textarea>
                <div data-ng-if="entry.requiresUserCheck">
                    <input id="{{entry.key}}_absoluteUrl_check_{{$index}}"
                        type="checkbox"
                        data-ng-model="entry.isCheckedByUser" />
                    <span id="{{entry.key}}_absoluteUrl_msg_{{$index}}"
                        class="ng-class:{'warning-check-msg':true, 'not-checked':entry.hasErrors && !entry.isCheckedByUser}">{{'configurationform.absoluteurl.check' | translate}}</span>
                </div>

                <span id="{{entry.key}}_error_{{$index}}"
                    data-ng-if="entry.errors.values"
                    data-ng-repeat="error in entry.errors.values"
                    class="error-input help-block">
                    {{error.message|translate}}
                </span>
            </div>
            <div class="col-xs-1">
                <button type="button"
                    id="{{entry.key}}_removeButton_{{$index}}"
                    class="btn btn-subordinate"
                    data-ng-click="editor.removeEntry(entry, form.configurationForm);">
                    <span class="hyicon hyicon-remove"
                        aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
</div>