<div>
    <generic-editor data-smartedit-component-id="$ctrl.itemId"
        data-smartedit-component-type="$ctrl.componentType"
        data-structure-api="$ctrl.structureApi"
        data-content="$ctrl.item"
        data-content-api="$ctrl.contentApi"
        data-is-dirty="$ctrl.isDirtyInternal"
        data-submit="$ctrl.submit"
        data-uri-context="$ctrl.uriContext"
        data-reset="$ctrl.reset">
    </generic-editor>
</div>