<?xml version="1.0" encoding="UTF-8"?>
<!--
 [y] hybris Platform

 Copyright (c) 2017 SAP SE or an SAP affiliate company.  All rights reserved.

 This software is the confidential and proprietary information of SAP
 ("Confidential Information"). You shall not disclose such Confidential
 Information and shall use it only in accordance with the terms of the
 license agreement you entered into with SAP.
-->

<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>

<div width="100%" height="100%" use="de.hybris.platform.cockpit.components.contentbrowser.BrowserContainer" action="onmouseup: comm.sendClick(#{self},null)">
	<borderlayout width="100%" height="100%" style="background-color: transparent" sclass="infoEnabledBrowserArea">
		<center border="none">
			<borderlayout sclass="centerAreaContainer" width="100%" height="100%" use=" de.hybris.platform.cockpit.components.contentbrowser.CenterAreaContainer"/>
		</center>
        <east collapsible="true" open="false" border="none" splittable="true" title=" " visible="true" sclass="infoAreaEast roundedCorners" width="280px" minsize="250">
            <div id="infoAreaContainer3" sclass="infoArea navigationarea"></div>
        </east>						
	</borderlayout>	
</div>
