<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->
    <script src="../../../../web/common/services/lodash/lodashService.js"></script>
    <script src="../../../../web/common/services/functions.js"></script>
    <script src="../../../../web/common/services/resourceLocations.js"></script>
    <script src="../../../../web/common/services/restServiceFactory.js"></script>
    <script src="../../../../web/common/services/eventservice.js"></script>
    <script src="../../../../web/common/services/gatewayFactory.js"></script>
    <script src="../../../../web/common/services/gatewayProxy.js"></script>
    <script src="../../../../web/smarteditcontainer/services/storageService.js"></script>

    <script src="../../../../web/common/services/languageService.js"></script>
    <script src="../../../../web/common/services/interceptorHelper.js"></script>
    <script src="../../../../web/common/services/i18nInterceptor.js"></script>
    <script src="../../../../web/common/services/translateService.js"></script>
    <script src="../../../../web/common/services/modalService.js"></script>
    <script src="../../../../web/common/services/templateCacheDecorator.js"></script>
    <script src="../../../../jsTarget/templates.js"></script>
    <script src="app.js"></script>
    <base href="../../../../" />
</head>



<body data-ng-app="app"
    data-ng-controller="defaultController">

    <button id="modalWithTitle"
        class="btn btn-primary"
        data-ng-click="openModalWithTitle()">open modal with title</button>
    <br/>
    <button id="modalWithTitleAndButtons"
        class="btn btn-primary"
        data-ng-click="openModalWithTitleAndButtons()">open modal with title and buttons</button>
    <br/>
    <button id="modalWithDisabledButton"
        class="btn btn-primary"
        data-ng-click="openModalWithDisabledButton()">open modal with disabled buttobn</button>
    <br/>
</body>

</html>