<div class="sliderpanel-container"
    ng-class="::{'sliderpanel--noGreyedOutOverlay': $sliderPanelCtrl.sliderPanelConfiguration.noGreyedOutOverlay }"
    ng-style="{'height': $sliderPanelCtrl.inlineStyling.container.height, 'width': $sliderPanelCtrl.inlineStyling.container.width,  'left': $sliderPanelCtrl.inlineStyling.container.left, 'top': $sliderPanelCtrl.inlineStyling.container.top, 'z-index': $sliderPanelCtrl.inlineStyling.container.zIndex }"
    ng-if="$sliderPanelCtrl.isShown">

    <div class="sliderpanel-content {{ ::$sliderPanelCtrl.slideClassName }}"
        ng-style="{{ ::$sliderPanelCtrl.inlineStyling.content }}">

        <div class="sliderpanel-header"
            ng-show="{{ ::$sliderPanelCtrl.sliderPanelConfiguration.modal }}">

            <button type="button"
                class="btn-sliderpanel__close"
                data-ng-if="$sliderPanelCtrl.sliderPanelConfiguration.modal.showDismissButton"
                data-ng-click="$sliderPanelCtrl.sliderPanelDismissAction()">
                <span class="hyicon hyicon-close"></span>
            </button>

            <h4 class="h4__sliderpanel"
                data-ng-if="$sliderPanelCtrl.sliderPanelConfiguration.modal.title">{{ $sliderPanelCtrl.sliderPanelConfiguration.modal.title | translate }}</h4>

        </div>

        <div class="sliderpanel-body"
            ng-transclude></div>

        <div class="sliderpanel-footer"
            data-ng-if="($sliderPanelCtrl.sliderPanelConfiguration.modal.cancel || $sliderPanelCtrl.sliderPanelConfiguration.modal.save)">

            <button type="button"
                class="btn btn-lg btn-subordinate"
                data-ng-if="$sliderPanelCtrl.sliderPanelConfiguration.modal.cancel"
                data-ng-click="$sliderPanelCtrl.sliderPanelConfiguration.modal.cancel.onClick()">
                {{ $sliderPanelCtrl.sliderPanelConfiguration.modal.cancel.label | translate }}
            </button>

            <button type="button"
                class="btn btn-lg btn-default"
                data-ng-if="$sliderPanelCtrl.sliderPanelConfiguration.modal.save"
                data-ng-click="$sliderPanelCtrl.sliderPanelConfiguration.modal.save.onClick()"
                data-ng-disabled="$sliderPanelCtrl.isSaveDisabled()">
                {{ $sliderPanelCtrl.sliderPanelConfiguration.modal.save.label | translate }}
            </button>

        </div>

    </div>

</div>