<div class="disabled-shared-slot"
    data-ng-class="{ 'disabled-shared-slot-hovered': ctrl.active == true }">
</div>

<div class="disabled-shared-slot__icon--outer"
    data-ng-class="{ 'disabled-shared-slot__icon--outer-hovered': ctrl.active == true }">
    <span class="hyicon shared_slot_disabled_icon disabled-shared-slot__icon--inner"
        data-ng-class="{ 'hyicon-linked': ctrl.active == true, 'hyicon-lock': ctrl.active == false }">
        <span id="sharedSlotTooltip"
            data-y-popover
            data-is-open="ctrl.active"
            data-placement="'bottom'"
            data-template-url="'sharedSlotTooltipTemplate.html'">
        </span>
    </span>
</div>