<div class="ySmartEditAppLogo "
    alt="Smart Edit " />

<svg xmlns="http://www.w3.org/2000/svg"
    width="142"
    height="25"
    viewBox="0 0 142 25">
    <defs>
        <style>
        .cls-1 {
            fill: #fff;
            fill-rule: evenodd;
        }
        </style>
    </defs>
    <path id="LOGO"
        class="cls-1"
        d="M115.056,33.546a30.4,30.4,0,0,1,1.458-9.4l3.809-.185V21l-5.972.278-0.376.88A31.674,31.674,0,0,0,112,33.546a31.674,31.674,0,0,0,1.975,11.389l0.376,0.926L120.275,46V43.037l-3.808-.093A30.782,30.782,0,0,1,115.056,33.546Zm9.968,2.268c0.189-.37.377-0.787,0.565-1.2a58.774,58.774,0,0,0,2.351-6.065l-3.2-.093c-0.329.88-.846,2.315-1.457,3.75-0.612-1.481-1.082-2.87-1.364-3.75l-3.15.139a52.838,52.838,0,0,0,2.257,6.065c0.8,1.713,1.787,3.565,2.445,4.768l3.432-.046C126.952,39.333,126.012,37.713,125.024,35.815Zm7.994-13.657-0.329-.88L126.717,21v2.963l3.809,0.185a30.964,30.964,0,0,1,1.457,9.4,32.976,32.976,0,0,1-1.41,9.4l-3.809.093V46l5.925-.139,0.376-.926a31.674,31.674,0,0,0,1.975-11.389A32.286,32.286,0,0,0,133.018,22.157Zm20.406,3.518a9.73,9.73,0,0,1,5.831,1.713l-1.646,2.454a7.951,7.951,0,0,0-4.09-1.3,2.607,2.607,0,0,0-1.74.556,1.657,1.657,0,0,0-.659,1.389,1.222,1.222,0,0,0,.424,1.019,5.041,5.041,0,0,0,1.5.694l2.116,0.556c2.962,0.787,4.42,2.454,4.42,5.046a5.1,5.1,0,0,1-1.975,4.167,8.087,8.087,0,0,1-5.266,1.574,12.179,12.179,0,0,1-5.971-1.528l1.316-2.685a10.646,10.646,0,0,0,4.8,1.389c2.069,0,3.056-.787,3.056-2.315,0-1.065-.752-1.806-2.3-2.222l-1.927-.509a5.385,5.385,0,0,1-3.433-2.176,5.048,5.048,0,0,1-.752-2.593,4.714,4.714,0,0,1,1.74-3.8A7.327,7.327,0,0,1,153.424,25.676Zm9.31,8.8a7.068,7.068,0,0,0-.47-3.194l3.056-.787a4.667,4.667,0,0,1,.471,1.25,4.522,4.522,0,0,1,3.15-1.25,3.609,3.609,0,0,1,2.633,1.019c0.141,0.139.282,0.324,0.517,0.6a5.023,5.023,0,0,1,3.668-1.62,3.831,3.831,0,0,1,2.68.926,3.878,3.878,0,0,1,.846,2.917v8.889h-3.291V34.935a5.086,5.086,0,0,0-.094-1.2,0.906,0.906,0,0,0-.94-0.556,3.6,3.6,0,0,0-2.257,1.065v8.982h-3.2V35.074a4.238,4.238,0,0,0-.141-1.343,0.968,0.968,0,0,0-1.034-.6,3.365,3.365,0,0,0-2.21.972v9.12h-3.292v-8.75h-0.094Zm21.018,0.046L182.3,32.157a17,17,0,0,1,2.069-1.019,9.107,9.107,0,0,1,3.526-.741c2.257,0,3.621.741,4.138,2.176a6.76,6.76,0,0,1,.235,2.268l-0.094,4.213v0.231a4.054,4.054,0,0,0,.188,1.482,3.5,3.5,0,0,0,.987,1.111l-1.786,1.991a3.572,3.572,0,0,1-1.834-1.528,3.737,3.737,0,0,1-.8.648,4.367,4.367,0,0,1-2.586.695,4.736,4.736,0,0,1-3.291-1.019,3.706,3.706,0,0,1-1.129-2.917q0-4.306,6.207-4.306a3.855,3.855,0,0,1,.752.046V34.982A2.728,2.728,0,0,0,188.6,33.5a1.426,1.426,0,0,0-1.222-.37A7.49,7.49,0,0,0,183.752,34.519Zm5.172,5.926,0.047-2.685H188.83a4.983,4.983,0,0,0-2.445.417,1.6,1.6,0,0,0-.658,1.528,1.715,1.715,0,0,0,.423,1.2,1.31,1.31,0,0,0,1.082.463A3.108,3.108,0,0,0,188.924,40.444Zm7.147-5.6a10.3,10.3,0,0,0-.47-3.657l3.01-.787a4.29,4.29,0,0,1,.517,1.806,4.816,4.816,0,0,1,1.928-1.574,2.6,2.6,0,0,1,1.128-.185,3.325,3.325,0,0,1,1.27.278l-0.941,2.87a1.932,1.932,0,0,0-.987-0.231,2.764,2.764,0,0,0-2.069,1.065v8.8h-3.386v-8.38Zm12.32-4.167H211.4l-0.846,2.176h-2.163v6.389a3.213,3.213,0,0,0,.282,1.62,1.322,1.322,0,0,0,1.175.417,6.572,6.572,0,0,0,1.223-.231l0.423,1.944a7.361,7.361,0,0,1-2.727.556,4.706,4.706,0,0,1-2.21-.509,2.711,2.711,0,0,1-1.27-1.343,6.39,6.39,0,0,1-.235-1.944v-6.9h-1.269v-2.13h1.269a21.49,21.49,0,0,1,.141-2.963l3.433-.833A32.137,32.137,0,0,0,208.391,30.676Zm4.8,12.546V26.232h9.968l-0.47,2.778h-5.972v3.935h5.031v2.778H216.76v4.537h6.63v2.963h-10.2Zm20.171-18.148,3.339,0.509V38.639a13.341,13.341,0,0,0,.47,4.583h-3.009a2.447,2.447,0,0,1-.189-0.741,4.458,4.458,0,0,1-2.962,1.065,4.817,4.817,0,0,1-3.9-1.713,6.852,6.852,0,0,1-1.458-4.63,7.114,7.114,0,0,1,1.552-4.768,5.046,5.046,0,0,1,4-1.852,3.674,3.674,0,0,1,2.3.694,15.107,15.107,0,0,1-.094-1.852V25.074h-0.047Zm0.094,14.907V34.009a2.678,2.678,0,0,0-1.833-.787c-1.458,0-2.163,1.343-2.163,4.028a5.461,5.461,0,0,0,.517,2.778,2.028,2.028,0,0,0,1.834.787A2.465,2.465,0,0,0,233.452,39.982Zm6.677-12.731a1.911,1.911,0,0,1,.611-1.435,2,2,0,0,1,1.5-.6,1.973,1.973,0,0,1,1.458.6,2.016,2.016,0,0,1,.611,1.435,1.911,1.911,0,0,1-.611,1.435,2,2,0,0,1-1.5.6,1.973,1.973,0,0,1-1.458-.6A1.911,1.911,0,0,1,240.129,27.25Zm0.376,15.972V30.907l3.386-.509V43.222h-3.386ZM250.9,30.676h3.009l-0.846,2.176H250.9v6.389a3.213,3.213,0,0,0,.282,1.62,1.322,1.322,0,0,0,1.175.417,6.572,6.572,0,0,0,1.223-.231L254,42.991a7.361,7.361,0,0,1-2.727.556,4.706,4.706,0,0,1-2.21-.509,2.711,2.711,0,0,1-1.27-1.343,6.39,6.39,0,0,1-.235-1.944v-6.9h-1.269v-2.13h1.269a21.49,21.49,0,0,1,.141-2.963l3.433-.833A32.137,32.137,0,0,0,250.9,30.676Z"
        transform="translate(-112 -21)" />
</svg>
</div>