<div>
    <div data-ng-if="item.type == 'ACTION'"
        class="ySEComponentMenuW">
        <button type="button"
            class="btn btn-default yHybridAction ySEComponentMenuW--button"
            data-ng-click="triggerAction(item, $event)"
            aria-pressed="false"
            aria-haspopup="true"
            id="{{toolbarName}}_option_{{item.key}}_btn"
            aria-expanded="false">
            <span data-ng-if='item.iconClassName'
                id="{{toolbarName}}_option_{{item.key}}_btn_iconclass"
                data-ng-class="item.iconClassName"></span>
            <img data-ng-if='!item.iconClassName && item.icons'
                id="{{toolbarName}}_option_{{item.key}}"
                data-ng-src="{{::imageRoot}}{{item.icons[0]}}"
                class="file"
                id="{{toolbarName}}_option_{{item.key}}_btn_icon"
                title="{{item.name | translate}}"
                alt="{{item.name | translate}}" />
            <span class="ySEComponentMenuW--button--txt"
                id="{{toolbarName}}_option_{{item.key}}_btn_lbl">{{item.name | translate}}</span>
        </button>
    </div>
    <div data-ng-if="item.type == 'HYBRID_ACTION'"
        class="btn-group ySEHybridAction"
        data-uib-dropdown
        is-open="status.isopen ">
        <button data-ng-show="item.iconClassName || item.icons"
            type="button"
            class="btn btn-default yHybridAction yDddlbResolution"
            data-uib-dropdown-toggle
            ng-disabled="disabled "
            aria-pressed="false "
            data-ng-click="triggerAction(item, $event)">
            <span data-ng-if='item.iconClassName'
                data-ng-class="item.iconClassName"></span>
            <img data-ng-if='!item.iconClassName && item.icons'
                id="{{toolbarName}}_option_{{item.key}}"
                data-ng-src="{{::imageRoot}}{{item.icons[0]}}"
                class="file"
                title="{{item.name | translate}}"
                alt="{{item.name | translate}}" />
            <span class="ySEComponentMenuW--button--txt">{{item.name | translate}}</span>
        </button>

        <div data-ng-include="item.include"
            data-ng-if="item.include"></div>

    </div>
</div>