<div data-ng-if="$ctrl.ready"
    class="se-restriction-management-edit">
    <div data-ng-if="$ctrl.isTypeSupported"
        class="se-restriction-management-supported-edit">
        <div class="se-restriction-management-edit__header">
            <div class="se-restriction-management-edit__name">
                {{ $ctrl.restriction.name }}
            </div>
            <div class="se-restriction-management-edit__code">
                {{ $ctrl.restriction.typeCode }}
            </div>
        </div>
        <div class="se-restriction-management-edit__data">
            <item-manager data-item="$ctrl.restriction"
                data-mode="$ctrl.itemManagementMode"
                data-structure-api="$ctrl.structureApi"
                data-content-api="$ctrl.contentApi"
                data-uri-context="$ctrl.uriContext"
                data-component-type="$ctrl.restriction.itemtype"
                data-submit-function="$ctrl.submitInternal"
                data-is-dirty="$ctrl.isDirtyFn" />
        </div>
    </div>
    <div data-ng-if="!$ctrl.isTypeSupported">
        <div class="ySERestrictionsList-item">
            <div>
                {{ 'se.cms.page.restriction.management.select.type.not.supported.warning' | translate }}
            </div>
            <p class="ySERestrictionsNameHeader">{{ $ctrl.restriction.name }}</p>
            <div class="ySERestrictionsDescription">
                {{ $ctrl.restriction.description }}
            </div>
        </div>
    </div>
</div>