.yui-skin-sam main {
  display: inline;
}
.xformContainer .description {
  margin: 0 0 10px;
}
.orbeon.orbeon-portlet-div .navbar {
  display: none;
}
.orbeon.orbeon-portlet-div [class*="span"] {
  margin: 0;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form {
  width: 100%;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .fr-form-description {
  display: none;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .container {
  padding: 0;
  width: 100%;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .container .span12 {
  width: 100%;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .fr-border {
  position: relative;
  top: -1px;
  border: 1px solid #cccccc;
  border-top: none;
  padding: 20px 0 50px;
  margin-bottom: 0;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xxforms-animate {
  background-color: #f5f5f5;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section {
  background-color: #f5f5f5;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h2.fr-section-title,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h3.fr-section-title,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h4.fr-section-title,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h5.fr-section-title,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h6.fr-section-title {
  background-color: #f5f5f5;
  background-image: none;
  border-top: 1px solid #cccccc;
  padding: 20px 0 10px;
  pointer-events: none;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h2.fr-section-title a,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h3.fr-section-title a,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h4.fr-section-title a,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h5.fr-section-title a,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h6.fr-section-title a {
  border-top: none;
  color: #333333;
  font-size: 20px;
  padding: 9px 0;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h2.fr-section-title .fr-section-label.fr-section-closed,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h3.fr-section-title .fr-section-label.fr-section-closed,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h4.fr-section-title .fr-section-label.fr-section-closed,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h5.fr-section-title .fr-section-label.fr-section-closed,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h6.fr-section-title .fr-section-label.fr-section-closed {
  background-image: none;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h2.fr-section-title .fr-section-label.fr-section-open,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h3.fr-section-title .fr-section-label.fr-section-open,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h4.fr-section-title .fr-section-label.fr-section-open,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h5.fr-section-title .fr-section-label.fr-section-open,
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section h6.fr-section-title .fr-section-label.fr-section-open {
  background-image: none;
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xbl-fr-section.personal-details h2.fr-section-title:first-of-type {
  border: none;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form {
    margin: 0;
  }
  .orbeon.orbeon-portlet-div .orbeon-portlet-body .xforms-form .xforms-group {
    margin-bottom: 0 !important;
  }
}
.orbeon.orbeon-portlet-div .orbeon-portlet-body .fr-grid.fr-grid-2 .fr-grid-tr > .fr-grid-td {
  display: block;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .orbeon-portlet-body .fr-grid:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td {
    display: block;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td:first-of-type,
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td:first-of-type {
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
  width: 49%;
}
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td:first-of-type .fr-grid-content,
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td:first-of-type .fr-grid-content {
  position: relative;
  top: 5px;
  text-align: right;
}
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td:first-of-type .fr-grid-content .ageoftraveller.xforms-label,
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td:first-of-type .fr-grid-content .ageoftraveller.xforms-label {
  padding-right: 15px;
  width: 100%;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td:first-of-type,
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td:first-of-type {
    width: 100%;
  }
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td:first-of-type .fr-grid-content,
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td:first-of-type .fr-grid-content {
    top: 0px;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td,
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td {
  display: inline-block;
  margin-left: 1%;
  vertical-align: top;
  width: 9.2%;
}
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td .fr-grid-content .ageoftraveller .xforms-label,
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td .fr-grid-content .ageoftraveller .xforms-label {
  width: 30%;
}
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td .fr-grid-content .ageoftraveller .xforms-input-input,
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td .fr-grid-content .ageoftraveller .xforms-input-input {
  text-align: center;
  width: 70% !important;
}
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td .fr-grid-content .ageoftraveller .xforms-active.xforms-alert,
.orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td .fr-grid-content .ageoftraveller .xforms-active.xforms-alert {
  position: relative;
  left: -5px;
  width: 100%;
  text-align: right;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td,
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td {
    width: 19%;
  }
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td .fr-grid-content .ageoftraveller .xforms-label,
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td .fr-grid-content .ageoftraveller .xforms-label {
    width: 20%;
    padding-right: 15px;
  }
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:last-of-type .fr-grid-td .fr-grid-content .ageoftraveller .xforms-input-input,
  .orbeon.orbeon-portlet-div .fr-mode-edit div[id*="trip-details-control"] .fr-grid .fr-grid-body .fr-grid-tr:nth-last-child(-n+2) .fr-grid-td .fr-grid-content .ageoftraveller .xforms-input-input {
    width: 80% !important;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .fr-grid-content {
  padding: 0 0 15px!important;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .fr-grid-content {
    padding: 4px 0 !important;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body select {
  height: 40px;
  border-radius: 0;
  margin-left: -4px;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body select {
    margin-left: 0px;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label {
  display: inline-block;
  width: 50%;
  margin-left: -2px;
  margin-right: -2px;
  padding-right: 20px;
  vertical-align: middle;
  text-align: right;
  line-height: normal;
  text-transform: none;
  pointer-events: none;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label:before {
  line-height: 1;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label {
    width: 100%;
    text-align: left;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + .xforms-input-input,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + .xforms-control,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + select,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + .xforms-items,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + textarea {
  display: inline-block;
  width: 50% !important;
  margin-left: -2px;
  margin-right: -2px;
  vertical-align: middle;
  border-radius: 0;
  float: none;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + .xforms-input-input,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + .xforms-control,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + select,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + .xforms-items,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-label + textarea {
    width: 100% !important;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input {
  border-radius: 0;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="text"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="password"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="datetime"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="datetime-local"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="date"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="month"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="time"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="week"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="number"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="email"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="url"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="search"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="tel"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="color"] {
  border: 1px solid #c3c4cf;
  height: 40px;
  border-radius: 2px;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body input[type="text"] {
  padding: 10px;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-type-date:after {
  position: relative;
  right: 0;
  display: inline-block;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-type-date .xforms-input-input.xforms-type-date {
  background-image: url("images/calendar.png");
  padding: 10px;
  background-position: 98% center;
  background-repeat: no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items {
  background: none;
  border: 0;
  box-shadow: none;
  overflow: hidden;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items {
    text-align: center;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-selected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-selected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-selected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-selected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-selected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-selected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-deselected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-deselected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-deselected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-deselected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-deselected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-deselected {
  padding: 0 20px;
  margin: 0 0 0 -20px;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-deselected {
    padding: 15px;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-selected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-deselected,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-deselected {
    padding: 8px;
    margin: 0 auto;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-deselected span {
  background-size: contain !important;
  border: none;
  border-radius: 0;
  line-height: 1.2;
  margin: 0 auto;
  padding: 105px 0 0;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-transform: none;
  width: 96px;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-selected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-selected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-selected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-selected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-selected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-selected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-deselected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-deselected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-deselected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-deselected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-deselected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-deselected span::before,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-selected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-selected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-selected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-selected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-selected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-selected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-deselected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-deselected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-deselected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-deselected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-deselected span::after,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-deselected span::after {
  display: none;
}
@media (max-width: 768px) {
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-selected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-selected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-selected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-selected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-selected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-selected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items .xforms-deselected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items .xforms-deselected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items .xforms-deselected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items .xforms-deselected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items .xforms-deselected span,
  .orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items .xforms-deselected span {
    width: 72px;
    padding: 80px 0 0;
    text-transform: none;
  }
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required input[type="radio"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke input[type="radio"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials input[type="radio"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place input[type="radio"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke input[type="radio"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke input[type="radio"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required input[type="checkbox"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke input[type="checkbox"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials input[type="checkbox"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place input[type="checkbox"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke input[type="checkbox"],
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke input[type="checkbox"] {
  margin-left: 0;
  display: none;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items {
  padding: 0;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items span:first-child.xforms-selected span {
  background: url(images/property_form_building_contents_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items span:first-child.xforms-deselected span {
  background: url(images/property_form_building_contents.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items span:nth-child(2).xforms-selected span {
  background: url(images/property_form_building_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items span:nth-child(2).xforms-deselected span {
  background: url(images/property_form_building.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items span:nth-child(3).xforms-selected span {
  background: url(images/property_form_contents_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .property-cover-required .xforms-items span:nth-child(3).xforms-deselected span {
  background: url(images/property_form_contents.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke {
  padding: 0;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items span:first-child.xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items span:first-child.xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items span:first-child.xforms-selected span {
  background: url(images/property_form_smoking_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items span:first-child.xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items span:first-child.xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items span:first-child.xforms-deselected span {
  background: url(images/property_form_smoking.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items span:nth-child(2).xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items span:nth-child(2).xforms-selected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items span:nth-child(2).xforms-selected span {
  background: url(images/property_form_non_smoking_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .anyone-property-smoke .xforms-items span:nth-child(2).xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .do-you-smoke .xforms-items span:nth-child(2).xforms-deselected span,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .second-person-smoke .xforms-items span:nth-child(2).xforms-deselected span {
  background: url(images/property_form_non_smoking.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items {
  padding: 0;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items span:first-child.xforms-selected span {
  background: url(images/property_form_wood_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items span:first-child.xforms-deselected span {
  background: url(images/property_form_wood.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items span:nth-child(2).xforms-selected span {
  background: url(images/property_form_brick_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .exterior-construction-materials .xforms-items span:nth-child(2).xforms-deselected span {
  background: url(images/property_form_brick.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items {
  padding: 0;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items span:first-child.xforms-selected span {
  background: url(images/property_form_single_lock_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items span:first-child.xforms-deselected span {
  background: url(images/property_form_single_lock.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items span:nth-child(2).xforms-selected span {
  background: url(images/property_form_multi_lock_clicked.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .what-locks-are-in-place .xforms-items span:nth-child(2).xforms-deselected span {
  background: url(images/property_form_multi_lock.png) center top no-repeat;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-items {
  display: inline-block;
  vertical-align: middle;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-items .xforms-selected,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-items .xforms-deselected {
  display: inline-block;
  vertical-align: top;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-items .xforms-selected .radio,
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-grid .fr-grid-body .xforms-items .xforms-deselected .radio {
  margin: 0 0.5em 0 0;
  vertical-align: initial;
}
.orbeon.orbeon-portlet-div .fr-mode-edit .fr-buttons,
.orbeon.orbeon-portlet-div .fr-mode-edit .xbl-fr-error-summary {
  display: none;
}
.orbeon.orbeon-portlet-div .xforms-visited > .xforms-alert.xforms-active:not(:empty),
.orbeon.orbeon-portlet-div .xforms-visited > .xforms-visited.xforms-alert.xforms-active:not(:empty) {
  width: 50%;
  text-align: left;
  position: relative;
  float: right;
  left: -6px;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .xforms-visited > .xforms-alert.xforms-active:not(:empty),
  .orbeon.orbeon-portlet-div .xforms-visited > .xforms-visited.xforms-alert.xforms-active:not(:empty) {
    float: none;
    width: 100%;
    left: 0px;
  }
}
.orbeon.orbeon-portlet-div .xforms-hint-appearance-full .xforms-hint,
.orbeon.orbeon-portlet-div .xforms-hint-appearance-inline .xforms-hint {
  width: 50%;
  text-align: left;
  position: relative;
  left: -6px;
  padding: 1px;
}
@media (max-width: 767px) {
  .orbeon.orbeon-portlet-div .xforms-hint-appearance-full .xforms-hint,
  .orbeon.orbeon-portlet-div .xforms-hint-appearance-inline .xforms-hint {
    width: 100%;
    left: 0px;
  }
}
@media (max-width: 767px) {
  .xforms-select1 .xforms-items {
    text-align: center;
  }
  .life-coverage .xforms-select1 .xforms-items {
    text-align: left;
  }
}
.xforms-select1 .xforms-items span .radio {
  margin: 20px auto;
}
.xforms-select1 .xforms-items span .radio input[type="radio"] {
  display: none;
}
.xforms-select1 .xforms-items span .radio input[type="radio"]:checked ~ span::after {
  background: #263950;
}
.xforms-select1 .xforms-items span .radio span {
  line-height: 0;
  margin: 10px;
  padding-left: 49px;
  text-indent: -40px;
  text-transform: none;
  position: relative;
}
.xforms-select1 .xforms-items span .radio span::before {
  border: 5px solid #dadde0;
  border-radius: 100%;
  content: '';
  height: 40px;
  position: relative;
  width: 40px;
  display: inline-block;
  left: -9px;
  vertical-align: middle;
}
.xforms-select1 .xforms-items span .radio span::after {
  border-radius: 100%;
  content: '';
  display: block;
  position: absolute;
  height: 22px;
  width: 22px;
  top: 9px;
  left: 9px;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
div[id*="property-coverage-details-section-control"] .fr-section-title,
div[id*="section-1-control"] .fr-section-title,
div[id*="coverage-information-section-control"] .fr-section-title,
div[id*="trip-details-control"] .fr-section-title,
div[id*="contact-expert-control"] .fr-section-title {
  display: none;
}
.xbl-component > .xforms-group {
  margin-top: 30px;
}
.xbl-component.personal-details > .xforms-group {
  margin-top: 0;
}
@media (max-width: 767px) {
  .orbeon .fr-grid:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td {
    display: block;
  }
}
.orbeon .fr-grid:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td input::-ms-clear {
  display: none !important;
}
.xforms-select1.xforms-invalid.xforms-visited select {
  border: 2px solid #ff5454;
}
.xforms-input.xforms-invalid.xforms-visited input {
  border: 2px solid #ff5454 !important;
}
.xforms-invalid > .xforms-alert.xforms-active {
  color: #ff5454;
  text-align: right;
}
.xforms-input-input:focus {
  border: 2px solid #0078C0 !important;
  box-shadow: none !important;
  outline: none !important;
}
.xforms-select1 select:focus {
  border: 2px solid #0078C0 !important;
  box-shadow: none !important;
  outline: none !important;
}
/***Orbeon OLD***/
/*#######*/
/*make it the right width*/
/* label and inputs*/
/*input-fields*/
/*input-fields*/
/*alert-message*/
/*alert-message*/
/*input when invalid*/
/*calender*/
/*calheader*/
/*selected day*/
/*calweekdayrow*/
/*calbody*/
/*## sections with headlines ##*/
/*headlines*/
/* seperation lines and margin*/
/* background image for form-lables, when required true (red)*/
/* background image for form-lables, when required true (red)*/
/*Validation error popup*/
.orbeon a {
  outline: 0 !important;
}
.orbeon label {
  font-size: 14px;
}
.orbeon textarea {
  float: right;
  margin-left: 20px;
  border: 1px solid #c3c4cf;
  height: 35px;
  border-radius: 2px;
}
.orbeon .uneditable-input {
  float: right;
  margin-left: 20px;
  border: 1px solid #c3c4cf;
  height: 35px;
  border-radius: 2px;
}
.orbeon .xbl-component.xbl-fr-section + .fr-page-break-before {
  margin-top: -20px;
}
.orbeon .xbl-component.xbl-fr-section:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.orbeon .xbl-component.xbl-fr-section .xbl-component.xbl-fr-section {
  margin-bottom: 0;
  border-bottom: 2px dotted #898989;
}
.orbeon .xbl-component.xbl-fr-section .xbl-component.xbl-fr-section:last-child {
  border: none;
}
.orbeon .xforms-hint {
  float: right;
  text-align: right;
}
.orbeon .radio input[type="radio"] {
  margin-left: 20px;
}
.orbeon form {
  position: relative;
}
.orbeon .row {
  margin: 0 !important;
}
.orbeon .span12 {
  width: 100%;
}
.orbeon .container {
  width: 100%;
}
.orbeon .navbar-static-top .container {
  width: 100%;
}
.orbeon .navbar-fixed-top .container {
  width: 100%;
}
.orbeon .navbar-fixed-bottom .container {
  width: 100%;
}
.orbeon .xforms-trigger {
  cursor: default;
}
.orbeon .xforms-trigger a {
  cursor: default;
}
.yui-skin-sam .yui-panel-container {
  padding-right: 10px;
}
.yui-skin-sam .yui-calcontainer {
  border: 2px solid #0078c0;
  background-color: #ffffff;
  margin-left: 1px;
  padding: 0;
  /*calender_popup_popup*/
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav {
  width: 266px;
  background-color: #ffffff;
  border: none;
  margin: 0;
  left: 8%;
  top: 12%;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default {
  background: none;
  border: none;
  margin-bottom: 4px;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button {
  border: none;
  background-color: #263950;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  font-size: 15px;
  width: 70px;
  margin: 5px 10px 10px;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button:hover {
  background-color: #385980;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn {
  background: none;
  border: none;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button {
  background-color: #0078c0;
  color: #ffffff;
  border: none;
  font-size: 15px;
  width: 70px;
  margin: 5px 10px 10px;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button:hover {
  background-color: #3498db;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-m .yui-cal-nav-mc {
  margin-left: 0  !important;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-y .yui-cal-nav-yc {
  margin-bottom: 16px;
  float: left;
}
.yui-skin-sam table.yui-calendar {
  width: 320px;
  border-collapse: initial;
}
.yui-skin-sam table.yui-calendar a {
  transition: none;
}
.yui-skin-sam .yui-calendar .calhead .calheader {
  padding: 10px 0;
}
.yui-skin-sam .yui-calendar .calhead .calheader .calnavleft {
  background-position: 0 0;
  background-image: url("images/left.png");
  height: 17px;
  left: 10px;
  top: 12px;
}
.yui-skin-sam .yui-calendar .calhead .calheader .calnavright {
  background-image: url("images/right.png");
  background-position: 0 0;
  height: 17px;
  right: 10px;
  top: 12px;
}
.yui-skin-sam .yui-calendar a.calnav {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  border: none;
  text-decoration: none;
}
.yui-skin-sam .yui-calendar td.calcell {
  border: none;
}
.yui-skin-sam .yui-calendar td.calcell a {
  color: #333333;
  padding: 6px;
  height: auto;
}
.yui-skin-sam .yui-calendar td.calcell a:hover {
  background: #f5f5f5;
  color: #333333;
}
.yui-skin-sam .yui-calendar td.calcell:hover {
  background-color: #f5f5f5;
}
.yui-skin-sam .yui-calendar td.calcell.selected {
  background-color: #0078c0;
}
.yui-skin-sam .yui-calendar td.calcell.selected a {
  background: none;
  color: #ffffff;
}
.yui-skin-sam .yui-calendar td.calcell.selected.calcellhover {
  background-color: #0078c0;
}
.yui-skin-sam .yui-calendar td.calcell.oom {
  background-color: #ffffff;
  padding: 6px;
}
.yui-skin-sam .yui-calendar td.calcell.today {
  border: none;
  background-color: #263950;
}
.yui-skin-sam .yui-calendar td.calcell.today a {
  background-color: #263950;
  color: #ffffff;
  border: none;
}
.yui-skin-sam .yui-calendar td.calcell.today.calcellhover {
  background-color: #0078c0;
}
.yui-skin-sam .yui-calendar td.calcell.today.calcellhover a {
  background-color: #0078c0;
}
.yui-skin-sam .yui-calendar .calweekdayrow th {
  padding: 10px 0;
}
.yui-skin-sam .yui-calendar .calweekdayrow .calweekdaycell:first-child {
  padding-left: 10px;
}
.yui-skin-sam .yui-calendar .calweekdayrow .calweekdaycell:last-child {
  padding-right: 10px;
}
.yui-skin-sam .yui-calendar .calweekdaycell {
  color: #333333;
  background-color: #f5f5f5;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
}
.yui-skin-sam .mask {
  background: url("images/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  opacity: 0.9;
}
.yui-skin-sam .yui-panel {
  border: none;
  background-color: #ffffff;
  margin-right: 0;
}
.yui-skin-sam .yui-panel .hd {
  font-size: 20px;
  line-height: 1;
  padding-top: 30px;
  border-radius: 3px;
  border: none;
  background: #ffffff none;
  text-align: center;
  margin: 0;
}
.yui-skin-sam .yui-panel .bd {
  background-color: #ffffff;
  border: none;
  background: none;
  display: table-cell;
}
.yui-skin-sam .yui-panel .ft {
  background-color: #ffffff;
  border: none;
  background: none;
}
.yui-skin-sam .container-close {
  background: url("images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  height: 30px;
  top: 10px;
  width: 30px;
}
.calyearleft {
  display: none;
}
.calyearright {
  display: none;
}
.xforms-input input.xforms-type-date {
  width: 100% !important;
}
.xbl-fr-alert-dialog .xbl-fr-alert-dialog-message {
  padding-left: 0;
}
.xbl-fr-alert-dialog .xbl-fr-alert-dialog-message label {
  top: 0;
  width: 100%;
  text-align: center;
}
.xbl-fr-alert-dialog .xbl-fr-alert-dialog-buttons {
  border: none;
}
.xbl-fr-alert-dialog .xbl-fr-alert-dialog-buttons .xforms-trigger button.btn-primary {
  background-image: inherit;
  background-color: #0078c0;
  line-height: 28px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  width: 200px;
  display: block;
  margin: 0 auto 10px;
  outline: none;
}
.xbl-fr-alert-dialog .xbl-fr-alert-dialog-buttons .xforms-trigger button:hover {
  background-color: #0078c0;
}
.xbl-fr-alert-dialog.xbl-fr-alert-dialog-info .xbl-fr-alert-dialog-message {
  background-image: none;
  padding: 0 34px;
  text-align: center;
  min-height: initial;
}
div.orbeon div.fr-grid .fr-grid-content {
  float: left;
  width: 100%;
  padding: 8px 0 !important;
}
.page-multiStepCheckoutSummaryPage .orbeon .xforms-type-date:after {
  left: auto !important;
  right: 2px !important;
  top: 15px;
}
.xforms-loading-loading {
  top: 0;
  right: 0;
  left: auto;
  display: none !important;
}
.xbl-fr-dropdown-select1 label {
  margin-top: 11px !important;
}
.page-PropertyInsurancesHomeownersCategoryPage .section1 {
  margin: 0;
}
.page-PropertyInsurancesHomeownersCategoryPage .navbar-inverse {
  display: none;
}
.page-AutoInsurancesCategoryPage .orbeon-portlet-body form {
  margin-bottom: 0;
}
.page-AutoInsurancesCategoryPage #content .orbeon-portlet-body form .container {
  margin-bottom: 0;
}
.xbl-fr-box-select .xforms-select-appearance-full .xforms-items {
  height: auto !important;
}
.fr-language-choice {
  display: inline-block;
}
