@color-white: #ffffff;
@color-body: #333333;
@color-dark-grey: #666666;
@color-grey: #cccccc;
@color-light-grey: #f5f5f5;
@color-mild-grey: #e9e9e9;
@color-blue: #0078c0;
@color-dark-blue: #263950;
@color-red: #ff0000;
@color-dark-red: #c90400;
@color-green: #3ab85d;
@color-yellow: #ffd200;
@color-button-primary: @color-blue;
@color-button-primary-hover: #3498db;
@color-button-secondary: @color-dark-blue;
@color-button-secondary-hover: #385980;

//IE11 radiobuttons fix, don't delete!
.yui-skin-sam main {
	display: inline;
}
.xformContainer {
	.description {
		margin: 0 0 10px;
	}
}
.orbeon.orbeon-portlet-div {
	.navbar {
		display: none;
	}
	[class*="span"]{
		margin: 0;
	}
	.orbeon-portlet-body {
		.xforms-form {
			.fr-form-description {
				display: none;
			}
			width: 100%;
			.container {
				padding: 0;
				width: 100%;
				.span12 {
					width: 100%;
				}
			}
			.fr-border {
				position: relative;
				top: -1px;
				border: 1px solid @color-grey;
				border-top: none;
				padding: 20px 0 50px;
				margin-bottom: 0;
			}
			.xxforms-animate {
				background-color: @color-light-grey;
			}
			.xbl-fr-section {
				background-color: @color-light-grey;
				margin: 0 auto;
				max-width: 940px;
				width: 100%;
				h2, h3, h4, h5, h6 {
					&.fr-section-title {
						background-color: @color-light-grey;
						background-image: none;
						border-top: 1px solid @color-grey;
						padding: 20px 0 10px;
						pointer-events: none;
						a {
							border-top: none;
							color: @color-body;
							font-size: 20px;
							padding: 9px 0;
						}
						.fr-section-label {
							&.fr-section-closed {
								background-image: none;
							}
							&.fr-section-open {
								background-image: none;
							}
						}
					}
				}
				&.personal-details {
					h2 {
						&.fr-section-title:first-of-type {
							border: none;
						}
					}
				}
			}
			@media (max-width: 767px) {
				margin: 0;
				.xforms-group {
					margin-bottom: 0 !important;
				}
			}
		}
		.fr-grid {
			&.fr-grid-2 {
				.fr-grid-tr > .fr-grid-td {
					display: block;
				}
			}
			&:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td {
				@media (max-width: 767px) {
					display: block;
				}
			}
		}
	}
	.fr-mode-edit {
		div[id*="trip-details-control"] {
			.fr-grid .fr-grid-body {
				.fr-grid-tr {
					&:last-of-type, &:nth-last-child(-n+2) {
						.fr-grid-td:first-of-type {
							display: inline-block;
							margin-left: 0;
							vertical-align: middle;
							width: 49%;
							.fr-grid-content {
								position: relative;
								top: 5px;
								text-align: right;
								.ageoftraveller {
									&.xforms-label {
										padding-right: 15px;
										width: 100%
									}
								}
							}
							@media (max-width: 767px) {
								width: 100%;
								.fr-grid-content {
									top: 0px;
								}
							}
						}
						.fr-grid-td {
							display: inline-block;
							margin-left: 1%;
							vertical-align: top;
							width: 9.2%;
							.fr-grid-content {
								.ageoftraveller {
									.xforms-label {
										width: 30%;
									}
									.xforms-input-input {
										text-align: center;
										width: 70% !important;
									}
									.xforms-active.xforms-alert {
										position: relative;
										left: -5px;
										width: 100%;
										text-align: right;
									}
								}
							}
							@media (max-width: 767px) {
								width: 19%;
								.fr-grid-content {
									.ageoftraveller {
										.xforms-label {
											width: 20%;
											padding-right: 15px;
										}
										.xforms-input-input {
											width: 80% !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.fr-grid .fr-grid-body {
			.fr-grid-content {
				padding: 0 0 15px!important;
				@media (max-width: 767px) {
					padding: 4px 0 !important;
				}
			}
			select {
				height: 40px;
				border-radius: 0;
				margin-left: -4px;
				@media (max-width: 767px) {
					margin-left: 0px;
				}
			}
			.xforms-label {
				display: inline-block;
				width: 50%;
				margin-left: -2px;
				margin-right: -2px;
				padding-right: 20px;
				vertical-align: middle;
				text-align: right;
				line-height: normal;
				text-transform: none;
				pointer-events: none;
				&:before {
					line-height: 1;
				}
				@media (max-width: 767px) {
					width: 100%;
					text-align: left;
				}
				& + .xforms-input-input,
				& + .xforms-control,
				& + select,
				& + .xforms-items,
				& + textarea {
					display: inline-block;
					width: 50% !important;
					margin-left: -2px;
					margin-right: -2px;
					vertical-align: middle;
					border-radius: 0;
					float: none;
					@media (max-width: 767px) {
						width: 100% !important;
					}
				}
			}
			input {
				border-radius: 0;
				&[type="text"], &[type="password"], &[type="datetime"],
				&[type="datetime-local"], &[type="date"], &[type="month"],
				&[type="time"], &[type="week"], &[type="number"],
				&[type="email"], &[type="url"], &[type="search"],
				&[type="tel"], &[type="color"] {
				//					float: right;
				//					margin-left: 20px;
					border: 1px solid #c3c4cf;
					height: 40px;
					border-radius: 2px;
				}
				&[type="text"] {
					padding: 10px;
				}
			}
			.xforms-type-date {
				&:after {
					position: relative;
					right: 0;
					display: inline-block;
				}
				.xforms-input-input.xforms-type-date {
					background-image: url("images/calendar.png");
					padding: 10px;
					background-position: 98% center;
					background-repeat: no-repeat;
				}
			}
			.property-cover-required,
			.anyone-property-smoke,
			.exterior-construction-materials,
			.what-locks-are-in-place,
			.do-you-smoke,
			.second-person-smoke {
				.xforms-items {
					background: none;
					border: 0;
					box-shadow: none;
					overflow: hidden;
					vertical-align: middle;
					@media (max-width: 767px) {
						text-align: center;
					}
					.xforms-selected, .xforms-deselected {
						padding: 0 20px;
						margin:  0 0 0 -20px;
						@media (max-width: 767px) {
							padding: 15px;
							margin:  0 auto;
						}
						@media (max-width: 360px) {
							padding: 8px;
							margin:  0 auto;
						}
						span {
							background-size: contain !important;
							border: none;
							border-radius: 0;
							line-height: 1.2;
							margin: 0 auto;
							padding: 105px 0 0;
							position: relative;
							text-align: center;
							text-indent: 0px;
							text-transform: none;
							width: 96px;
							transition: border .25s linear;
							-webkit-transition: border .25s linear;
							&::before, &::after {
								display: none;
							}
							@media (max-width: 768px) {
								width: 72px;
								padding: 80px 0 0;
								text-transform: none;
							}
						}
//						.checkbox {
//							@media (max-width: 767px) {
//								margin: 0;
//							}
//						}
					}
				}
				input[type="radio"], input[type="checkbox"] {
					margin-left: 0;
					display:  none;
				}
			}
			.property-cover-required .xforms-items {
				padding: 0;
				span {
					&:first-child {
						&.xforms-selected span {
							background: url(images/property_form_building_contents_clicked.png) center top no-repeat;
						}
						&.xforms-deselected span {
							background: url(images/property_form_building_contents.png) center top no-repeat;
						}
					}
					&:nth-child(2) {
						&.xforms-selected span {
							background: url(images/property_form_building_clicked.png) center top no-repeat;
						}
						&.xforms-deselected span {
							background: url(images/property_form_building.png) center top no-repeat;
						}
					}
					&:nth-child(3) {
						&.xforms-selected span {
							background: url(images/property_form_contents_clicked.png) center top no-repeat;
						}
						&.xforms-deselected span {
							background: url(images/property_form_contents.png) center top no-repeat;
						}
					}
				}
			}
			.anyone-property-smoke, .do-you-smoke, .second-person-smoke {
				padding: 0;
				.xforms-items {
					span {
						&:first-child {
							&.xforms-selected span {
								background: url(images/property_form_smoking_clicked.png) center top no-repeat;
							}
							&.xforms-deselected span {
								background: url(images/property_form_smoking.png) center top no-repeat;
							}
						}
						&:nth-child(2) {
							&.xforms-selected span {
								background: url(images/property_form_non_smoking_clicked.png) center top no-repeat;
							}
							&.xforms-deselected span {
								background: url(images/property_form_non_smoking.png) center top no-repeat;
							}
						}
					}
				}
			}
			.exterior-construction-materials .xforms-items {
				padding: 0;
				span {
					&:first-child {
						&.xforms-selected span {
							background: url(images/property_form_wood_clicked.png) center top no-repeat;
						}
						&.xforms-deselected span {
							background: url(images/property_form_wood.png) center top no-repeat;
						}
					}
					&:nth-child(2) {
						&.xforms-selected span {
							background: url(images/property_form_brick_clicked.png) center top no-repeat;
						}
						&.xforms-deselected span {
							background: url(images/property_form_brick.png) center top no-repeat;
						}
					}
				}
			}
			.what-locks-are-in-place .xforms-items {
				padding: 0;
				span {
					&:first-child {
						&.xforms-selected span {
							background: url(images/property_form_single_lock_clicked.png) center top no-repeat;
						}
						&.xforms-deselected span {
							background: url(images/property_form_single_lock.png) center top no-repeat;
						}
					}
					&:nth-child(2) {
						&.xforms-selected span {
							background: url(images/property_form_multi_lock_clicked.png) center top no-repeat;
						}
						&.xforms-deselected span {
							background: url(images/property_form_multi_lock.png) center top no-repeat;
						}
					}
				}
			}
			.xforms-items {
				display: inline-block;
				vertical-align: middle;
				.xforms-selected, .xforms-deselected {
					display: inline-block;
					vertical-align: top;
					.radio {
						margin: 0 0.5em 0 0;
						vertical-align: initial;
					}
				}
			}
		}
		.fr-buttons, .xbl-fr-error-summary {
			display: none;
		}
	}
	.xforms-visited {
	 	& > .xforms-alert.xforms-active, & > .xforms-visited.xforms-alert.xforms-active {
			&:not(:empty) {
				width: 50%;
				text-align: left;
				position: relative;
				float: right;
				left: -6px;
				@media (max-width: 767px) {
					float: none;
					width: 100%;
					left: 0px;
				}
			}
		}
	}
	.xforms-hint-appearance-full .xforms-hint,
	.xforms-hint-appearance-inline .xforms-hint {
		width: 50%;
		text-align: left;
		position: relative;
		left: -6px;
		padding: 1px;
		@media (max-width: 767px) {
			width: 100%;
			left: 0px;
		}
	}
}

.xforms-select1 {
	.xforms-items {
		@media (max-width: 767px) {
			text-align: center;
			.life-coverage & {
				text-align: left;
			}
		}
		span {
			.radio {
				margin: 20px auto;
				input[type="radio"] {
					display: none;
					&:checked {
						& ~ span::after{
							background: @color-dark-blue;
						}
					}
				}
				span {
					line-height: 0;
					margin: 10px;
					padding-left: 49px;
					text-indent: -40px;
					text-transform: none;
					position: relative;
					&::before {
						border: 5px solid #dadde0;
						border-radius: 100%;
						content: '';
						height: 40px;
						position: relative;
						width: 40px;
						display: inline-block;
						left: -9px;
						vertical-align: middle;
					}
					&::after {
						border-radius: 100%;
						content: '';
						display: block;
						position: absolute;
						height: 22px;
						width: 22px;
						top: 9px;
						left: 9px;
						transition: background 0.25s linear;
						-webkit-transition: background 0.25s linear;
					}
				}
			}
		}
	}
}

div[id*="property-coverage-details-section-control"], div[id*="section-1-control"],
div[id*="coverage-information-section-control"], div[id*="trip-details-control"],
div[id*="contact-expert-control"] {
	.fr-section-title {
		display: none;
	}
}
.xbl-component {
	>.xforms-group {
		margin-top: 30px;
	}
	&.personal-details {
		>.xforms-group {
			margin-top: 0;
		}
	}
}

.orbeon .fr-grid:not(.fr-repeat) > .fr-grid-body > .fr-grid-tr > .fr-grid-td {
	@media (max-width: 767px) {
		display: block;
	}
	input::-ms-clear {
		display: none !important;
	}
}
//Very important for orbeon pop-up - don't erase!
.yui-skin-sam .yui-panel-container.yui-dialog {
//	position: fixed;
}

// Red border on invalid SELECT fields
.xforms-select1.xforms-invalid.xforms-visited {
	select {
		border: 2px solid #ff5454;
	}
}

// Red border on invalid INPUT fields
.xforms-input.xforms-invalid.xforms-visited {
	input {
		border: 2px solid #ff5454 !important;
	}
}

// Color and alignment of the error message displayed below input fields
.xforms-invalid {
	>.xforms-alert.xforms-active {
		color: @color_1;
		text-align: right;
	}
}

// Border styling of input fields on focus
.xforms-input-input {
	&:focus {
		border: 2px solid #0078C0 !important;
		box-shadow: none !important;
		outline: none !important;
	}
}

// **Aco**  Border styling of select fields on focus
.xforms-select1 {
	select {
		&:focus {
			border: 2px solid #0078C0 !important;
			box-shadow: none !important;
			outline: none !important;
		}
	}
}

/***Orbeon OLD***/

//.orbeon .container, .orbeon .span12, .orbeon FORM { width: 602px }
//
//.orbeon .orbeon-portlet-div .xforms-disable-hint-as-tooltip .xforms-disable-alert-as-tooltip {width: 510px}
//
//.orbeon-portlet-body {width: 500px}


/*#######*/

/*make it the right width*/


@color_1: #ff5454;
@color_2: #fff;
@color_3: #515151;
@color_5: #222;
@color_6: #333;
//@font_family_1: 'Roboto', sans-serif;
//@background_color_1: #f5f5f5;
@background_color_3: #3498DB;
@background_color_5: gray;
@background_color_6: #c8cdd3;

/* label and inputs*/
/*input-fields*/
/*input-fields*/
/*alert-message*/
/*alert-message*/
/*input when invalid*/
/*calender*/
/*calheader*/
/*selected day*/
/*calweekdayrow*/
/*calbody*/
/*## sections with headlines ##*/
/*headlines*/
/* seperation lines and margin*/
/* background image for form-lables, when required true (red)*/
/* background image for form-lables, when required true (red)*/
/*Validation error popup*/
.orbeon {
	a {
		outline: 0 !important;
	}
	//h2 {
	//	background: none;
	//	background-color: @color-light-grey;
	//}
	label {
		font-size: 14px;
//		line-height: 29px !important;
	}
	textarea {
		float: right;
		margin-left: 20px;
		border: 1px solid #c3c4cf;
		height: 35px;
		border-radius: 2px;
	}
	.uneditable-input {
		float: right;
		margin-left: 20px;
		border: 1px solid #c3c4cf;
		height: 35px;
		border-radius: 2px;
	}
	//.fr-grid {
//		select {
//			width: 54%;
//		}
//		textarea {
//			width: 54%;
//		}
//		input[type="text"] {
//			width: 54%;
//		}
//		input[type="password"] {
//			width: 54%;
//		}
//		input[type="datetime"] {
//			width: 54%;
//		}
//		input[type="datetime-local"] {
//			width: 54%;
//		}
//		input[type="date"] {
//			width: 54%;
//		}
//		input[type="month"] {
//			width: 54%;
//		}
//		input[type="time"] {
//			width: 54%;
//		}
//		input[type="week"] {
//			width: 54%;
//		}
//		input[type="number"] {
//			width: 54%;
//		}
//		input[type="email"] {
//			width: 54%;
//		}
//		input[type="url"] {
//			width: 54%;
//		}
//		input[type="search"] {
//			width: 54%;
//		}
//		input[type="tel"] {
//			width: 54%;
//		}
//		input[type="color"] {
//			width: 54%;
//		}
//		.uneditable-input {
//			width: 54%;
//		}
//		.fr-grid-content {
//			padding: 0 !important;
//			span.xforms-control {
//				padding: 10px 0 !important;
//				display: block;
//			}
//			.xforms-label {
//				line-height: 20px !important;
//				margin: 7px 0 10px;
//			}
//		}
//		.xforms-label {
//			width: 40%;
//			box-sizing: border-box;
//		}
//	}

	//.xforms-active.xforms-alert {
	//	float: right;
	//}
	//
	//.xforms-alert.xforms-active.xforms-invalid {
	//	color: @color_1;
	//	width: 54%;
	//	text-align: right;
	//}

//	.xforms-select1 {
//		select {
//			float: right !important;
//			width: 54% !important;
//			margin-left: 20px !important;
//			height: 35px;
//			border-radius: 2px !important;
//		}
//	}

	//.xforms-input {
	//	input.xforms-type-date {
	//		background-image: none;
	//	}
	//}
	//.xforms-type-date {
	//	position: relative;
	//}
	//.xbl-fr-section {
		//.fr-section-title {
			//.fr-section-label {
			//	&.fr-section-closed {
			//		background-image: none !important;
			//		//position: relative;
			//		//&:after {
			//		//	content: "";
			//		//	background-image: url("images/edit_icon.png");
			//		//	background-repeat: no-repeat;
			//		//	display: block;
			//		//	background-position: center;
			//		//	width: 54px;
			//		//	height: 54px;
			//		//	background-color: @background_color_6;
			//		//	position: absolute;
			//		//	top: 0;
			//		//	right: 0;
			//		//}
			//	}
			//	&.fr-section-open {
			//		background-image: none !important;
			//	}
			//}
		//}
		//.fr-section-content {
			//.fr-section-title {
				//.fr-section-label {
				//	a {
				//		text-transform: uppercase;
				//		color: @color_6;
				//		font-size: 18px;
				//	}
				//}
				//.fr-section-label.fr-section-closed {
				//	overflow: visible;
				//	&:after {
				//		top: 3px;
				//		right: -16px;
				//	}
				//	a {
				//		padding: 10px 0;
				//	}
				//}
			//}
			//.fr-section-content {
			//	padding: 0 !important;
			//}
		//}
	//}
	.xbl-component.xbl-fr-section {
//		margin-bottom: 20px;
		&+.fr-page-break-before {
			margin-top: -20px;
		}
		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}
		.xbl-component.xbl-fr-section {
			margin-bottom: 0;
			border-bottom: 2px dotted #898989;
			&:last-child {
				border: none;
			}
		}
		//.fr-section-title {
			//.fr-section-label {
			//	a {
			//		border-top: 1px solid #d3d6da;
			//		padding: 25px 0 9px;
			//		margin: 20px 20px 0 0;
			//		cursor: pointer;
			//	}
			//}
			//.overlay {
			//	display: none;
			//}
			//.fr-section-label.fr-section-closed {
			//	&::after {
			//		right: 20px;
			//		top: 40px;
			//	}
			//}
		//}
	}
	//.xforms-trigger-appearance-xxforms-primary {
	//	.btn {
	//		background-image: inherit;
	//		background-color: @color-blue;
	//		font-weight: lighter;
	//		font-family: @font_family_1 !important;
	//		line-height: 28px;
	//		border: none;
	//		text-transform: uppercase;
	//		color: @color_2;
	//		cursor: pointer;
	//		font-size: 18px;
	//		padding-top: 10px;
	//		padding-bottom: 10px;
	//		width: 200px;
	//		display: block;
	//		margin-left: 100px;
	//		margin-bottom: 40px;
	//		outline: none;
	//		background-color: @color-blue;
	//	}
	//}
	//label.radio {
	//	span {
	//		padding-left: 10px;
	//	}
	//		input {
	//			margin-top: 6px !important;
	//			margin-left: 27px !important;
	//		}
	//}
	.xforms-hint {
		float: right;
		text-align: right;
	}
	.radio {
		input[type="radio"] {
			margin-left: 20px;
		}
	}
	form {
		position: relative;
	}
	.row {
		margin: 0 !important;
	}
	.span12 {
		width: 100%;
	}
	.container {
		width: 100%;
	}
	.navbar-static-top {
		.container {
			width: 100%;
		}
	}
	.navbar-fixed-top {
		.container {
			width: 100%;
		}
	}
	.navbar-fixed-bottom {
		.container {
			width: 100%;
		}
	}
	.xforms-trigger {
		cursor: default;
		a {
			cursor: default;
		}
	}
	//span.xforms-items {
	//	label.radio {
	//		input[type="radio"] {
	//			margin-top: 7px;
	//			&+span {
	//				padding-left: 60px;
	//			}
	//		}
	//	}
	//}
	//.fr-body {
	//	.xbl-fr-section {
	//		&:nth-child(2) {
	//			.fr-section-title {
	//				.fr-section-label {
	//					a {
	//						border: medium none;
	//						cursor: default;
	//						margin: 0;
	//						padding: 9px 0;
	//					}
	//				}
	//			}
	//		}
	//	}
	//}
}


//.xxforms-animate {
//	background-color: @color-light-grey;
//}
//.orbean {
//	h3 {
//		background: none;
//		background-color: @color-light-grey;
//	}
//}

// Orbeon popup
.yui-skin-sam {
	.yui-panel-container {
		padding-right: 10px;
	}
	// Dropdown calendar
	.yui-calcontainer {
		border: 2px solid @color-blue;
		background-color: @color-white;
		margin-left: 1px;
		padding: 0;

		/*calender_popup_popup*/
		.yui-cal-nav {
			width: 266px;
			background-color: @color-white;
			border: none;
			margin: 0;
			left: 8%;
			top: 12%;
			.yui-cal-nav-btn.yui-default {
				background: none;
				border: none;
				margin-bottom: 4px;
				button {
					border: none;
					background-color: @color-button-secondary;
					text-transform: uppercase;
					color: @color-white;
					outline: none;
					font-size: 15px;
					width: 70px;
					margin: 5px 10px 10px;
					&:hover {
						background-color: @color-button-secondary-hover;
					}
				}
			}
			.yui-cal-nav-btn {
				background: none;
				border: none;
				button {
					background-color: @color-button-primary;
					color: @color-white;
					border: none;
					font-size: 15px;
					width: 70px;
					margin: 5px 10px 10px;
					&:hover {
						background-color: @color-button-primary-hover;
					}
				}
			}
			.yui-cal-nav-m {
				.yui-cal-nav-mc {
					// temporary important
					margin-left: 0  !important;
				}
			}
		}
		.yui-cal-nav-y {
			.yui-cal-nav-yc {
				margin-bottom: 16px;
				float: left;
			}
		}
	}
	table.yui-calendar {
		width: 320px;
		border-collapse: initial;
		a {
			transition: none;	
		}
	}
	.yui-calendar {
		.calhead {
			.calheader {
				padding: 10px 0;
				.calnavleft {
					background-position: 0 0;
					background-image: url("images/left.png");
					height: 17px;
					left: 10px;
					top: 12px;
				}
				.calnavright {
					background-image: url("images/right.png");
					background-position: 0 0;
					height: 17px;
					right: 10px;
					top: 12px;
				}
			}
		}
		a.calnav {
			color: @color-body;
			font-size: 18px;
			font-weight: normal;
			border: none;
			text-decoration: none;
		}
		td.calcell {
			border: none;
			a {
				color: @color-body;
				padding: 6px;
				height: auto;
				&:hover {
					background: @color-light-grey;
					color: @color-body;
				}
			}
			&:hover {
				background-color: @color-light-grey;
			}
			&.selected {
				background-color: @color-blue;
				a {
					background: none;
					color: @color-white;
				}
				&.calcellhover {
					background-color: @color-blue;
				}
			}
			&.oom {
				background-color: @color-white;
				padding: 6px;
			}
			&.today {
				border: none;
				background-color: @color-dark-blue;
				a {
					background-color: @color-dark-blue;
					color: @color-white;
					border: none;
				}
				&.calcellhover {
					background-color: @color-blue;
					a {
						background-color: @color-blue;
					}
				}
			}
		}
		.calweekdayrow {
			th {
				padding: 10px 0;
			}
			.calweekdaycell {
				&:first-child {
					padding-left: 10px;
				}
				&:last-child {
					padding-right: 10px;
				}
			}
		}
		.calweekdaycell {
			color: @color-body;
			background-color: @color-light-grey;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: normal;
		}
	}
	.mask {
		background: url("images/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
		opacity: 0.9;
	}
	.yui-panel {
		border: none;
		background-color: @color-white;
		margin-right: 0;
		.hd {
			font-size: 20px;
			line-height: 1;
			padding-top: 30px;
			border: none;
			border-radius: 3px;
			border: none;
			background: @color-white none;
			text-align: center;
			margin: 0;
		}
		.bd {
			background-color: @color-white;
			border: none;
			background: none;
			display: table-cell;
		}
		.ft {
			background-color: @color-white;
			border: none;
			background: none;
		}
	}
	.container-close {
		background: url("images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		top: 10px;
		width: 30px;
	}
}
.calyearleft {
	display: none;
}
.calyearright {
	display: none;
}
.xforms-input {
	input.xforms-type-date {
		width: 100% !important;
//		margin-right: 48px;
	}
}
.xbl-fr-alert-dialog {
	.xbl-fr-alert-dialog-message {
		padding-left: 0;
		label {
			top: 0;
			width: 100%;
			text-align: center;
		}
	}
	.xbl-fr-alert-dialog-buttons {
		.xforms-trigger {
			button.btn-primary {
				background-image: inherit;
				background-color: @color-blue;
				line-height: 28px;
				border: none;
				text-transform: uppercase;
				color: @color_2;
				cursor: pointer;
				font-size: 14px;
				width: 200px;
				display: block;
				margin: 0 auto 10px;
				outline: none;
			}
			button {
				&:hover {
					background-color: @color-blue;
				}
			}
		}
		border: none;
	}
}
.xbl-fr-alert-dialog.xbl-fr-alert-dialog-info {
	.xbl-fr-alert-dialog-message {
		background-image: none;
		padding: 0 34px;
		text-align: center;
		min-height: initial;
	}
}
div.orbeon {
	div.fr-grid {
		.fr-grid-content {
			float: left;
			width: 100%;
			padding: 8px 0 !important;
		}
	}
}
.page-multiStepCheckoutSummaryPage {
	.orbeon {
		.xforms-type-date {
			&:after {
				left: auto !important;
				right: 2px !important;
				top: 15px;
			}
		}
	}
}
.xforms-loading-loading {
	top: 0;
	right: 0;
	left: auto;
	display: none !important;
}
.xbl-fr-dropdown-select1 {
	label {
		margin-top: 11px !important;
	}
}
.page-PropertyInsurancesHomeownersCategoryPage {
	.section1 {
		margin: 0;
	}
	.navbar-inverse {
		display: none;
	}
}
//.fr-section-title {
//	position: relative;
//	.overlay {
//		position: absolute;
//		top: 0;
//		left: 0;
//		width: 100%;
//		height: 55px;
//	}
//}
//.fr-grid-content
//	.xforms-input {
//		input.xforms-type-date {
//			margin-right: 53px;
//		}
//	}
//}
.page-AutoInsurancesCategoryPage {
	.orbeon-portlet-body {
		form {
			margin-bottom: 0;
		}
	}
	#content {
		.orbeon-portlet-body {
			form {
				.container {
					margin-bottom: 0;
				}
			}
		}
	}
}
.xbl-fr-box-select {
	.xforms-select-appearance-full {
		.xforms-items {
			height: auto !important;
		}
	}
}
.fr-language-choice {
	display: inline-block;
}