<div class="customization-component">
    <div class="modal-subheader-area">
        <div class="row">
            <div class="col-sm-10 col-xs-9">
                <span class="text-uppercase">{{selectedCustomization.name}}</span>
                <div>{{selectedVariation.name}}</div>
            </div>
            <div class="pull-right combinedview-letter-in-modal">
                <span ng-class="colorIndicatorForElement">{{letterIndicatorForElement}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <dl class="modal-data">
                <label class="personalization-modal__label" data-translate="personalization.modal.addeditaction.selected.mastercomponent.title"></label>
                <dd>{{componentType}}</dd>
            </dl>
        </div>
    </div>
    <label class="control-label required" data-translate="personalization.modal.addeditaction.selected.actions.title"></label>

    <ui-select ng-model="action.selected" theme="select2" title="" search-enabled="false">
        <ui-select-match placeholder="{{'personalization.modal.addeditaction.dropdown.placeholder' | translate}}">
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in actions" position="down">
            <span ng-bind="item.name "></span>
        </ui-select-choices>
    </ui-select>

    <ui-select ng-show="action.selected.id == 'use'" ng-model="component.selected" ng-keyup="componentSearchInputKeypress($event, $select.search)" theme="select2" title="" reset-search-input="false">
        <ui-select-match placeholder="{{'personalization.modal.addeditaction.dropdown.componentlist.placeholder' | translate}}">
            <span ng-bind="$select.selected.name | translate"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in components" position="down" personalization-infinite-scroll="addMoreComponentItems()" personalization-infinite-scroll-distance="2">
            <div class="row">
                <span class="col-md-7" ng-bind="item.name"></span>
                <span class="col-md-5" ng-bind="item.typeCode"></span>
            </div>
        </ui-select-choices>
    </ui-select>

    <ui-select ng-show="action.selected.id == 'create'" on-select="newComponentTypeSelectedEvent($item, $model)" ng-model="newComponent.selected" theme="select2" title="" search-enabled="false">
        <ui-select-match placeholder="{{'personalization.modal.addeditaction.dropdown.componenttype.placeholder' | translate}}">
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in newComponentTypes" position="down">
            <span ng-bind="item.i18nKey | translate"></span>
        </ui-select-choices>
    </ui-select>
</div>