<div class="ySmartEditToolbars"
    style="position:absolute">
    <div>
        <toolbar data-css-class="ySmartEditTitleToolbar"
            data-image-root="imageRoot"
            data-toolbar-name="smartEditTitleToolbar"></toolbar>
    </div>
</div>
<div class="se-landing-page">
    <span class="se-landing-page-title"
        data-translate='landingpage.title' />

    <div class="se-landing-page-site-selection"
        data-ng-if="landingCtl.model != undefined">
        <se-dropdown data-field="landingCtl.field"
            data-qualifier="landingCtl.qualifier"
            data-model="landingCtl.model"
            data-id="landingCtl.sites_id"></se-dropdown>
    </div>

    <span class="se-landing-page-label"
        data-translate='landingpage.label' />

    <div class="se-landing-page-catalogs">
        <div class="se-landing-page-catalog"
            data-ng-repeat="catalog in landingCtl.catalogs track by catalog.catalogId">
            <catalog-details data-catalog="catalog"
                data-is-catalog-for-current-site="$last"
                data-site-id-for-catalog="landingCtl.model.site"></catalog-details>
        </div>
    </div>
</div>