<div data-uib-dropdown
    is-open="status.isopen"
    class="ySEpreview"
    auto-close="disabled">
    <button type="button"
        data-uib-dropdown-toggle
        id="experience-selector-btn"
        class="btn yWebsiteSelectBtn"
        aria-pressed="false"
        title="{{action.name}}"
        alt="{{action.name}}"
        data-ng-click="resetExperienceSelector()">
        <span class="yWebsiteSelectBtn--label"
            data-translate="experience.selector.previewing"></span>
        <span class="yWebsiteSelectBtn--text">{{$ctrl.buildExperienceText()}}</span>
        <span class="yWebsiteSelectBtn--arrow hyicon hyicon-arrow "></span>
    </button>
    <div class="dropdown-menu bottom btn-block yDdResolution "
        role="menu">
        <experience-selector data-experience="$ctrl.experience"
            data-dropdown-status="status"
            data-reset-experience-selector="resetExperienceSelector"></experience-selector>
    </div>
</div>