<div class="ySEComponentItem col-xs-6">

    <div class="smartEditComponent"
        data-smartedit-component-type="{{componentType.code}}">
        <img data-ng-src="{{imageRoot}}/images/component_default.png"
            class=" "
            alt="{{componentItem.i18nKey | translate}}"
            title="{{componentType.i18nKey | translate}}" />
    </div>
    <div class="ySECustomCompTitle ySECompTypeTitle">
        <div class="ySECustCompType"
            title="{{componentType.i18nKey | translate}}">{{componentType.i18nKey | translate}}</div>
    </div>

</div>