<div data-uib-dropdown
    is-open="status.isopen"
    auto-close="disabled"
    class="ySEComponentMenuW">
    <button type="button"
        class="btn btn-default yHybridAction ySEComponentMenuW--button"
        data-uib-dropdown-toggle
        ng-disabled="disabled "
        aria-pressed="false">
        <span class="hyicon hyicon-addlg se-toolbar-menu-ddlb--button__icon" />
        <span class="ySEComponentMenuW--button--txt">{{'componentmenu.btn.label.addcomponent' | translate}}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-left btn-block ySEComponentMenu"
        role="menu"
        ng-click="preventDefault($event);">
        <li role="menuitem "
            class="item "
            data-ng-show="status.isopen">
            <component-search data-status="status"
                data-search-term="searchTerm"
                data-on-search-focus="onSearchFocus($event)"
                data-on-search-reset="onSearchReset($event)"></component-search>
        </li>
        <li class="divider "></li>
        <li role="menuitem "
            class="item "
            data-ng-show="status.isopen">
            <component-tabs></component-tabs>
        </li>
    </ul>
</div>