<div class="input-group ySEComponentSearch">
    <span class="input-group-addon glyphicon glyphicon-search ySESearchIcon"
        ng-click="$ctrl.preventDefault($event); "></span>
    <input type="text"
        class="form-control ySECompSearchField"
        name="srch-term"
        ng-model="$ctrl.searchTerm"
        ng-keypress="$ctrl.onSearchFocus({$event: $event});"
        ng-click="$ctrl.selectSearch($event); "
        placeholder="{{'componentmenu.search.placeholder' | translate}}">
    <span data-ng-show="$ctrl.showResetButton"
        class="input-group-addon glyphicon glyphicon-remove-sign ySESearchIcon"
        ng-click="$ctrl.onSearchReset({$event: $event}); $ctrl.searchTerm='';"></span>
</div>