<div class="nav-management-link-container">
    <a class="nav-management-link-item__link se-catalog-version__link"
        data-ng-href="#!/navigations/{{$ctrl.siteId}}/{{$ctrl.catalog.catalogId}}/{{$ctrl.catalogVersion.version}}"
        data-translate="cataloginfo.navigationmanagement"></a>
</div>