<div class="ySmartEditToolbars"
    style="position:absolute">
    <div>
        <toolbar data-css-class="ySmartEditTitleToolbar"
            data-image-root="imageRoot"
            data-toolbar-name="smartEditTitleToolbar"></toolbar>
    </div>
</div>

<div class="navigationEditorWrapper"
    ng-if="nav.readOnly !== undefined">
    <div class="navEditorHeaderWrapper">
        <h1 class="ySEPage-list-title"
            data-translate='navigationmanagement.title'></h1>
        <h4 class="ySEPage-list-label">{{nav.catalogName | l10n}} - {{nav.catalogVersion}}</h4>
    </div>
    <navigation-editor data-uri-context="nav.uriContext"
        data-read-only="nav.readOnly"></navigation-editor>
</div>