<style>
    .y-add-btn {
        height: inherit !important;
    }
    .sliderpanel-container{
        height: 100%!important;
        width: 100%!important;
        top: 0!important;
        left: 0!important;
    }
</style>

<div style="padding-top: 30px; padding-left: 30px">
    <button class="btn btn-primary" id='test-save-button-id' data-ng-click="controller.dialogSaveFn()">Save</button>
    <button class="btn btn-primary" id='test-reset-button-id' data-ng-click="controller.resetFn()">Reset</button>
    <button class="btn btn-primary" id='test-cancel-button-id' data-ng-click="controller.cancelFn()">Cancel</button>
</div>
<div>
    <span id="save-result-msg">{{controller.saveResult}}</span>
</div>
<div style="border: double; border-color: #808080">
    <page-restrictions-editor
            page="controller.page"
            editable="controller.editable"
            save-fn="controller.saveFn"
            reset-fn="controller.resetFn"
            cancel-fn="controller.cancelFn"
            is-dirty-fn="controller.isDirtyFn">
    </page-restrictions-editor>
</div>