<div class="page-type-step-template">
    <div class="page-type-step-template-list-search input-group">
        <span class="input-group-addon hyicon hyicon-search ySEPage-list-search-icon"
            ng-click="preventDefault($event); " />
        <input type="text"
            class="form-control ySEPage-list-search-input"
            placeholder="{{ 'se.cms.pagewizard.templatestep.searchplaceholder' | translate }}"
            data-ng-model="$ctrl.searchString"
            name="query" />
        <span data-ng-if="$ctrl.searchString"
            class="input-group-addon glyphicon glyphicon-remove-sign ySESearchIcon"
            data-ng-click="$ctrl.clearSearch()" />
    </div>
    <div class="page-wizard-list">
        <div data-ng-repeat="template in $ctrl.pageTemplates | templateNameFilter:$ctrl.searchString track by $id(template)"
            data-ng-class="{ 'page-type-step-template__item__selected': $ctrl.isSelected(template)}"
            class="page-type-step-template__item"
            data-ng-click="$ctrl.templateSelected(template)">
            <span class="hyicon hyicon-checked page-type-step-template__item__icon"></span>
            <div class="page-type-step-template__item--info">
                <div class="page-type-step-template__item--info__title">{{ template.name }}</div>
            </div>
        </div>
    </div>
</div>