<new-page-display-condition data-page-type-code="clonePageWizardCtrl.getPageTypeCode()"
    data-uri-context="clonePageWizardCtrl.uriContext"
    data-result-fn="clonePageWizardCtrl.variationResult"
    data-initial-condition-selected="page.displaycondition.variation">
</new-page-display-condition>
<component-clone-option-form data-on-selection-change="clonePageWizardCtrl.triggerUpdateCloneOptionResult($cloneOptionData)"></component-clone-option-form>