<span data-ng-if="clonePageWizardCtrl.isPageInfoActive()">

    <div class=" edit-page-basic-tab--header">
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="control-label"
                    data-translate="se.pageinfo.page.type"></label>
                <div class="form-readonly-text form-readonly-text__tight">{{clonePageWizardCtrl.getPageTypeCode()}}</div>
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label"
                    data-translate="se.pageinfo.page.template"></label>
                <div class="form-readonly-text form-readonly-text__tight">{{clonePageWizardCtrl.getPageTemplate()}}</div>
            </div>
        </div>
    </div>

    <generic-editor data-structure="clonePageWizardCtrl.getPageInfoStructure()"
        data-content="clonePageWizardCtrl.getPageInfo()"
        data-submit="clonePageWizardCtrl.callbacks.savePageInfo"
        data-reset="clonePageWizardCtrl.callbacks.resetPageInfo"
        data-is-dirty="clonePageWizardCtrl.callbacks.isDirtyPageInfo"
        data-is-valid="clonePageWizardCtrl.callbacks.isValidPageInfo">
    </generic-editor>
</span>