<span data-ng-if="clonePageWizardCtrl.isRestrictionsActive()">
    <page-restrictions-editor data-page="clonePageWizardCtrl.getBasePageInfo()"
        data-editable="true"
        data-save-fn="clonePageWizardCtrl.restrictionsEditorFunctionBindings.save"
        data-reset-fn="clonePageWizardCtrl.restrictionsEditorFunctionBindings.reset"
        data-cancel-fn="clonePageWizardCtrl.restrictionsEditorFunctionBindings.cancel"
        data-is-dirty-fn="clonePageWizardCtrl.restrictionsEditorFunctionBindings.isDirty"
        data-on-restrictions-changed="clonePageWizardCtrl.restrictionsResult($onlyOneRestrictionMustApply, $restrictions)">
    </page-restrictions-editor>
</span>