<div class="cmsx-ctx-wrapper1">
    <div class="cmsx-ctx-wrapper2">
        <div class="decorative-top-border decorative-border"
            data-ng-if="ctrl.active"></div>
        <div class="decorative-right-border decorative-border"
            data-ng-if="ctrl.active"></div>
        <div class="decorative-bottom-border decorative-border"
            data-ng-if="ctrl.active"></div>
        <div class="decorative-left-border decorative-border"
            data-ng-if="ctrl.active"></div>
        <div class="contextualMenuOverlay"
            data-ng-show="ctrl.showOverlay() || ctrl.status.isopen">
            <div data-ng-repeat="item in ctrl.getItems().leftMenuItems"
                class="btn btn-primary cmsx-ctx-btns"
                data-ng-init="itemsrc = item.iconIdle"
                data-ng-mouseout="itemsrc = item.iconIdle"
                data-ng-mouseover="itemsrc = item.iconNonIdle">
                <!-- If SVG icon exists in Techne, load it in the span; otherwise load the corresponding image for the icon -->
                <span id="{{item.i18nKey | translate}}-{{ctrl.smarteditComponentId}}-{{ctrl.smarteditComponentType}}-{{$index}}"
                    data-ng-if="ctrl.isHybrisIcon(item.displayIconClass)"
                    data-ng-click="ctrl.triggerItemCallback(item, $event)"
                    data-contextual-menu-item=""
                    data-item="item"
                    data-component-id="{{ctrl.smarteditComponentId}}"
                    data-component-uuid="{{ctrl.componentAttributes.smarteditComponentUuid}}"
                    data-component-type="{{ctrl.smarteditComponentType}}"
                    data-container-id="{{ctrl.smarteditContainerId}}"
                    data-container-type="{{ctrl.smarteditContainerType}}"
                    class="{{item.displayIconClass}} ng-class:{'clickable':true}; {{item.displayClass}}"
                    title="{{item.i18nKey | translate}}">
                </span>
                <img id="{{item.i18nKey | translate}}-{{ctrl.smarteditComponentId}}-{{ctrl.smarteditComponentType}}-{{$index}}"
                    title="{{item.i18nKey | translate}}"
                    data-ng-if="!ctrl.isHybrisIcon(item.displayIconClass)"
                    class="{{item.displayClass}}"
                    data-ng-class="{clickable:true}"
                    data-ng-click="ctrl.triggerItemCallback(item, $event)"
                    data-ng-src="{{itemsrc}}"
                    data-contextual-menu-item=""
                    data-item="item"
                    data-component-id="{{ctrl.smarteditComponentId}}"
                    data-component-uuid="{{ctrl.componentAttributes.smarteditComponentUuid}}"
                    data-component-type="{{ctrl.smarteditComponentType}}"
                    data-container-id="{{ctrl.smarteditContainerId}}"
                    data-container-type="{{ctrl.smarteditContainerType}}" />
            </div>
            <div data-ng-if="ctrl.getItems().moreMenuItems.length > 0"
                class="cmsx-ctx-more">

                <div class="btn-group yCmsCtxMenu"
                    data-uib-dropdown
                    is-open="ctrl.status.isopen"
                    dropdown-append-to-body>

                    <a type="button"
                        class="cmsx-ctx-more-btn pull-right"
                        data-uib-dropdown-toggle
                        data-ng-click="ctrl.toggleDropdown($event)">
                        <!-- Ctx more button icon loaded as an SVG -->
                        <span title="{{ctrl.moreButton.i18nKey | translate}}"
                            class="{{ctrl.moreButton.displayClass}}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right"
                        id="{{::ctrl.smarteditComponentId}}-{{::ctrl.smarteditComponentType}}-more-menu"
                        role="menu"
                        data-uib-dropdown-menu
                        data-ng-class="{'cmsx-ctx-dropdown-menu': ctrl.status.isopen}">
                        <li data-ng-repeat="item in ctrl.getItems().moreMenuItems"
                            data-ng-init="itemsrc = item.smallIconIdle"
                            data-ng-mouseout="itemsrc = item.smallIconIdle"
                            data-ng-mouseover="itemsrc = item.smallIconNonIdle">
                            <a data-ng-click="ctrl.triggerItemCallback(item, $event)"
                                data-item="item"
                                data-smartedit-id="{{ctrl.smarteditComponentId}}"
                                data-smartedit-type="{{ctrl.smarteditComponentType}}">
                                <!-- If small SVG icon exists in Techne, load it in the span; otherwise load the corresponding image for the icon -->
                                <span data-ng-if="ctrl.isHybrisIcon(item.displaySmallIconClass)"
                                    data-ng-click="ctrl.triggerItemCallback(item, $event)"
                                    data-contextual-menu-item=""
                                    data-item="item"
                                    data-component-id="{{ctrl.smarteditComponentId}}"
                                    data-component-uuid="{{ctrl.componentAttributes.smarteditComponentUuid}}"
                                    data-component-type="{{ctrl.smarteditComponentType}}"
                                    data-container-id="{{ctrl.smarteditContainerId}}"
                                    data-container-type="{{ctrl.smarteditContainerType}}"
                                    class="{{item.displaySmallIconClass}} ng-class:{'clickable':true}; {{item.displayClass}}"
                                    title="{{item.i18nKey | translate}}">
                                </span>
                                <img id="{{item.i18nKey | translate}}-{{ctrl.smarteditComponentId}}-{{ctrl.smarteditComponentType}}-{{$index}}"
                                    title="{{item.i18nKey | translate}}"
                                    data-ng-if="item.smallIconIdle && !ctrl.isHybrisIcon(item.displaySmallIconClass)"
                                    class="cmsx-ctx__icon-more--small"
                                    data-ng-class="item.displayClass"
                                    data-ng-click="ctrl.triggerItemCallback(item, $event)"
                                    data-ng-src="{{itemsrc}}"
                                    data-contextual-menu-item=""
                                    data-item="item"
                                    data-component-id="{{ctrl.smarteditComponentId}}"
                                    data-component-uuid="{{ctrl.componentAttributes.smarteditComponentUuid}}"
                                    data-component-type="{{ctrl.smarteditComponentType}}"
                                    data-slot-id="{{ctrl.smarteditSlotId}}"
                                    data-slot-uuid="{{ctrl.smarteditSlotUuid}}"
                                    data-container-id="{{ctrl.smarteditContainerId}}"
                                    data-container-type="{{ctrl.smarteditContainerType}}" />

                                <span class="labeltext cmsx-ctx-dropdown-menu__label ng-class:{'cmsx-ctx-dropdown-menu__label-remove': item.displayClass == 'removebutton' }">{{item.i18nKey | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contextualmenuBackground"></div>
        </div>
        <div class="yWrapperData">
            <div data-ng-transclude></div>
        </div>
    </div>
</div>