<a data-uib-popover-template="ctrl.contentUrl"
    data-ng-click="$event.stopPropagation()"
    data-popover-append-to-body="true"
    data-popover-placement="left"
    data-popover-trigger="'mouseenter'"
    tabindex="0"
    class="media-container-advanced-information">
    <img class="media-advanced-information--image"
        data-ng-src="{{ctrl.advInfoIcon}}"
        alt="{{ctrl.i18nKeys.INFORMATION | translate}}"
        title="{{ctrl.i18nKeys.INFORMATION | translate}}">
    <p class="media-advanced-information--p">{{ctrl.i18nKeys.INFORMATION | translate}}</p>
</a>