<div>
	<table width="100%" cellspacing="0" style="margin: 0; padding: 0; table-layout: auto; border: 1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="TopHeaderSlot" /></td>
			</tr>
			<tr>
				<td colspan="2" height="125px" width="35%" rowspan="2" class="structureViewSection"><cockpit code="SiteLogo" /></td>
				<td colspan="2" class="structureViewSection"><cockpit code="HeaderLinks" /></td>
				<td colspan="2" width="20%" rowspan="2" class="structureViewSection"><cockpit code="MiniCart" /></td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection"><cockpit code="NavigationBar" /></td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="BottomHeaderSlot" /></td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="ConfigOverviewTitle" /></td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="ConfigOverviewHeader" /></td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="Section1" /></td>
			</tr>			
			<tr height="543px">
				<td colspan="4"  class="structureViewSection"><cockpit code="ConfigOverviewContent" /></td>
				<td colspan="2" rowspan="2" class="structureViewSection"><cockpit code="ConfigOverviewSidebar" /></td>				
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection"><cockpit code="ConfigOverviewBottombar" /></td>
			</tr>			
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="Section2" /></td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="Section3" /></td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection"><cockpit code="Section4" /></td>
			</tr>
			<tr height="270px">
				<td colspan="6" class="structureViewSection"><cockpit code="Footer" /></td>
			</tr>
		</tbody>
	</table>
	<div style="width: 100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>