/* *
/* This file is the parent of all the styles and the only variable converted to css and visible to the outside world.
/* All the imports should go here only
*/
/* *
/* Imports of Techne components, patterns not used in SmartEdit
*/
/* BTN SETS */
.y-tree {
  color: #27394f;
}
.y-tree * {
  transition: all .25s ease;
}
.y-tree .row {
  margin-left: 0;
  margin-right: 0;
}
.y-tree .desktop-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 20px 15px 10px 15px;
}
.y-tree .mobile-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 15px;
  position: relative;
}
.y-tree .mobile-layout .tree-head {
  padding: inherit;
  background: inherit;
}
.y-tree .mobile-layout .mobile-data {
  padding-bottom: 20px;
}
.y-tree .mobile-layout .mobile-more-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
.y-tree .tree-head {
  font-size: 13px;
  text-transform: uppercase;
  color: #7f90a4;
  background: 0 0;
  background-color: transparent;
  padding: 50px 15px 15px 15px;
}
.y-tree .primaryData {
  font-weight: 600;
  color: #27394f;
}
.y-tree .inactive-level {
  background-color: #f3f6f9;
}
.y-tree .active-level .desktop-layout,
.y-tree .active-level .mobile-layout {
  background-color: #ffffff;
}
.y-tree .active-level--last {
  margin-bottom: 12px;
}
.y-tree .category-toggle,
.y-tree .dropdown-toggle {
  padding: 0;
}
.y-tree .category-toggle {
  margin: -5px 0 0 -10px;
}
.y-tree .hyicon-chevron:before {
  font-size: 30px;
  transition: all 0.25s ease;
}
.y-tree .category-toggle[aria-expanded=true] .hyicon-chevron:before {
  transform: rotate(90deg);
}
/* *
/* Imports of personalization variables, common styles, fixes and re-usable components
*/
/* *
/* This file will include all the constants (e.g. colors, fonts, etc)
*/
/** Colors
/* all the colors used - write them once in this section so we can easier keep track and re-use
*/
/* *
/* This file includes the common styles used in Personalization
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
/* new: the active status is now called enabled
 /* the inactive status is now called disabled 
 */
.status-active {
  color: green;
}
.status-ignore,
.status-inactive {
  color: #8592a2;
}
.perso__scrollzone {
  position: fixed;
  z-index: 10000;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #f3f6f9;
}
.perso__scrollzone--top {
  top: 0;
}
.perso__scrollzone--bottom {
  bottom: 0;
}
/* *
* Let's put here all the css hacks and document what we fixed
* From time to time (every release?) would be nice to come back to this file and try to clean it up
* Don't feel bad from the name, it is a common practice ;)
* More here: https://csswizardry.com/2013/04/shame-css/
*/
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .perso-tree__segments-layout .angular-ui-tree-placeholder {
    margin: 0;
  }
}
/* * 
/* Imports of the rest of personalization styling
*/
.personalizationsmarteditVariationComponentSelected-icon {
  background-image: url("../icons/selected_component.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.personalizationsmarteditVariationComponentSelected {
  border: 5px;
  border-style: solid;
  border-color: #0486e0;
}
.customization__marker,
.commerce-customization__marker--icon {
  width: 30px;
  height: 30px;
  top: -5px;
  background-color: transparent;
  display: inline-block;
}
.commerce-customization__marker--icon {
  background-image: url("../icons/promotion_off.png");
  background-repeat: no-repeat;
}
.modal-fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-fullscreen > .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #e0e9f0;
}
.modal_bigger {
  font-size: 15px;
}
.modal_bigger .modal-body {
  min-height: 600px;
}
.ySEComponentMenuW--button-with-context,
.ySEComponentMenuW--button-with-context:hover,
.ySEComponentMenuW--button-with-context:active,
.ySEComponentMenuW--button-with-context:hover:active,
.ySEComponentMenuW--button-with-context:focus,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:hover,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:active,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:hover:active,
.ySEComponentMenuW.open .ySEComponentMenuW--button-with-context:focus,
.ySEComponentMenuW.open .toolbar-context--btn,
.ySEComponentMenuW.open .toolbar-context--btn:hover,
.ySEComponentMenuW.open .toolbar-context--btn:active,
.ySEComponentMenuW.open .toolbar-context--btn:hover:active,
.ySEComponentMenuW.open .toolbar-context--btn:focus {
  border-right: 0 none;
}
.toolbar-context {
  display: inline-block;
  background-color: #e5f1f9;
}
.toolbar-context .hyicon {
  font-size: 20px;
  padding-top: 2px;
  padding-left: 0;
}
.toolbar-context .hyicon:hover {
  opacity: 0.6;
}
.toolbar-context .ySEComponentMenuW--button-hyicon {
  min-width: 30px;
}
.toolbar-context--btn,
.toolbar-context--btn:hover,
.toolbar-context--btn:active,
.toolbar-context--btn:hover:active,
.toolbar-context--btn:focus {
  border-right: 0 none;
  margin-left: -4px;
  margin-right: -3px;
  background: url("../icons/toolbar-context-border.png") no-repeat;
  cursor: default;
  opacity: 1;
}
.toolbar-context--btn--txt {
  height: 51px;
  padding-top: 7px;
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 13px;
}
.personalization-modal__label {
  font-size: 13px;
  font-weight: 700;
}
.personalization-ctx__icon:before {
  vertical-align: inherit;
}
.personalization-ctx__icon:hover {
  background: #ffffff;
  color: #00c6ff;
}
/* *
/* This file includes the styles used in Combined View Panel and Modal
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.combinedview-configure-layout {
  margin-left: 0;
  margin-right: 0;
  font-size: 15px;
  padding: 15px 0 15px 10px;
}
.combinedview-configure-layout .status-toggle label {
  height: inherit;
}
.combinedview-configure-layout .combinedview-btn {
  font-weight: 600;
  font-family: 'Open Sans';
}
.combinedview-divider {
  border-top: 1px solid #d4d7dc;
}
.combinedview-list-layout {
  font-size: 15px;
  margin-left: 0;
  margin-right: 0;
  padding: 15px;
  border-bottom: 1px solid #d4d7dc;
}
.combinedview-list-item--last {
  border-bottom: none;
}
.combinedview-variation-layout {
  font-weight: 600;
}
.combinedview-inactive-layout {
  opacity: 0.5;
}
.combinedview-modal-search {
  margin: 20px 0 40px 0;
}
.combinedview-modal-search .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.combinedview-modal-search-placeholder {
  font-size: 15px;
  color: #8a8fa1;
}
.combinedview-search-items-layout {
  border-right: 1px solid #d4d7dc;
  border-bottom: 1px solid #d4d7dc;
  margin-left: 0;
  margin-right: 0;
}
.combinedview-search-items-text {
  padding-top: 15px;
  font-weight: 600;
}
.combinedview-reset-padding {
  padding-left: 0;
  padding-right: 0;
}
.combinedview-reset-right {
  padding-right: 0;
}
.combinedview-hyicon-remove {
  top: 0;
  right: 5px;
  position: relative;
  padding: 5px 0 0 0;
  font-weight: 600;
  font-size: 22px;
  color: #7f90a4;
}
.combinedview-hyicon-remove:hover {
  opacity: 0.5;
}
.combinedview-dropdown-item-selected {
  font-weight: bold;
}
/* *
/* This file includes the styles used in Create New Customization modal
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.customization-form {
  margin-top: 43px;
  word-wrap: break-word;
  color: #27394f;
}
.customization-form .perso-btn-group {
  margin-bottom: 15px;
}
.customization-form .perso-btn-group .hyicon {
  font-family: inherit;
}
.customization-form .perso-btn-group .hyicon:before {
  vertical-align: top;
  padding-right: 5px;
}
.customization-form .perso-btn-group::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #d4d7dc;
  padding-top: 20px;
}
.customization-form .form-group-dates {
  margin-bottom: 5px;
}
.customization-form .form-group {
  margin-bottom: 30px;
}
.customization-form .description-area {
  resize: none;
}
.customization-form .status-toggle {
  padding-right: 0;
}
.customization-form .status-toggle label {
  height: inherit;
  padding-bottom: 30px;
}
.customization-form .text-muted {
  font-size: 13px;
  font-style: italic;
}
.customization-form .help-icon-inline {
  font-size: larger;
}
.customization-form .navtab-info {
  margin-top: -20px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.customization-form .navtab-info::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #d4d7dc;
  padding-top: 20px;
}
.customization-form .navtab-info--name {
  font-size: 18px;
  font-weight: 600;
}
.customization-form .navtab-info--dates {
  font-size: 11px;
  float: right;
}
.customization-form .navtab-forms {
  margin-left: 15px;
  margin-bottom: 20px;
}
.customization-form .navtab-row::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #d4d7dc;
  padding-top: 20px;
}
.customization-form .navtab-row__item {
  margin-left: 15px;
  margin-right: 10px;
}
.customization-form .navtab-col {
  padding-left: 0;
}
.customization-form .badge {
  margin-right: 0;
  font-weight: 700;
}
.customization-form .select2-choices {
  margin-top: 15px;
}
.customization-form .ui-select-match-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
.customization-form .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.customization-form .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.customization-form .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.customization-form .list-group {
  padding-bottom: 20px;
}
.customization-form .list-group-item:hover {
  background-color: #a9c9ea;
}
.customization-form .list-group-item {
  margin-top: 15px;
  border-style: none;
  padding: 10px 0 0 0;
}
.customization-form .targetgroup-list__title {
  font-weight: 600;
}
.customization-form .variation-layout {
  font-weight: bold;
  text-transform: uppercase;
  color: #0486e0;
  padding-right: 5px;
}
.customization-form .variation-layout--selected {
  color: #8592a2;
}
.customization-form .variation-layout--selected .status-active,
.customization-form .variation-layout--selected .status-inactive,
.customization-form .variation-layout--selected .status-ignore {
  color: #8592a2;
}
.customization-form .segment-contextual-menu__button {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin-top: -5px;
}
.customization-form .perso-sliderpanel__expression-text {
  font-weight: 700;
}
@media (max-width: 768px) {
  .customization-form .navtab-info--dates {
    padding-left: 1%;
  }
  .customization-form .commerce-customization-ui-select-sm {
    width: 250px;
  }
}
/* *
/* This file includes the styles used in Create New Customization modal, sliding panel
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.customization-form__sliderpanel .form-group {
  margin-bottom: 30px;
}
.customization-form__sliderpanel .row {
  margin-left: 0;
  margin-right: 0;
}
.customization-form__sliderpanel .select2-choices {
  margin-top: 15px;
}
.customization-form__sliderpanel .ui-select-match-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
.customization-form__sliderpanel .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.customization-form__sliderpanel .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.customization-form__sliderpanel .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.sliderpanel-body {
  overflow: auto;
}
.sliderpanel-footer {
  padding-top: 15px;
}
.perso-sliderpanel__btn-link {
  font-weight: 600;
  font-family: 'Open Sans';
  text-transform: uppercase;
  padding: 0;
}
.perso-sliderpanel__expression-text {
  font-weight: 700;
}
.sliderpanel-row {
  margin-left: 0;
  margin-right: 0;
}
.sliderpanel-col {
  padding-left: 0;
}
.sliderPanelParentModal.modal-fullscreen #y-modal-dialog {
  height: 100vh;
}
.customization-component {
  word-wrap: break-word;
  font-size: 15px;
}
.customization-component .select2-container {
  margin-bottom: 20px;
  display: block;
}
.customization-component .select2-result-label {
  font-weight: bold;
}
.customization-component .combinedview-letter-in-modal {
  padding-right: 15px;
}
.customization-component .modal-subheader-area {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d7dc;
}
.customization-component .modal-data {
  padding-top: 20px;
}
/* *
/* This file includes the styles used in Manage Customization Library modal
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.manage-customization {
  text-align: center;
  font-size: 16px;
  word-wrap: break-word;
}
.manage-customization .y-tree * {
  transition: none;
}
.manage-customization .y-tree .mobile-more-menu {
  padding-top: 10px;
}
.manage-customization .tree-head {
  font-size: 12px;
  font-weight: 700;
}
.manage-customization .category-toggle {
  margin: 0;
}
.manage-customization .modal-header.ng-scope h4 {
  font-family: Dosis, medium;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #27394f;
  margin: 0 auto 0 auto;
}
.manage-customization .modal-header {
  border: none;
  padding-right: 0px;
}
.manage-customization .modal-body {
  padding-top: 0;
}
.manage-customization .h2-color--grey-font {
  color: #8592a2;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.manage-customization .customization-search {
  margin: 2em auto .5em auto;
}
.manage-customization .customization-search .glyphicon {
  top: 0;
  background-color: #ffffff;
  font-size: 16px;
}
.manage-customization .customization-search .glyphicon-search {
  border-right: none;
}
.manage-customization .customization-search .form-control {
  color: #27394f;
  font-size: 15px;
  font-weight: 500;
  border-left: none;
  padding-left: 0;
  box-shadow: none;
  border-right: none;
}
.manage-customization .customization-search input[type=text]:focus {
  border-bottom: 1px solid #d4d7dc;
  border-top: 1px solid #d4d7dc;
  border-left: none;
  border-right: none;
}
.manage-customization .search-results {
  width: 50%;
  margin: auto auto .5em auto;
  color: #8592a2;
  font-style: italic;
}
.manage-customization .filter-layout .ui-select-container {
  width: 96%;
  text-align: left;
}
.manage-customization .filter-layout--no-results {
  min-height: 150px;
}
.manage-customization .col-reset-padding {
  padding-left: 0;
  padding-right: 0;
}
.manage-customization .categoryTable {
  margin: 0 auto .5em auto;
  color: #27394f;
}
.manage-customization .categoryTable-lefttoolbar {
  margin-top: 5px;
}
.manage-customization .statusDataValue {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.manage-customization .dates-layout {
  font-size: 12px;
}
.manage-customization .customization__glyphicon-chevron {
  padding-left: 5px;
  padding-right: 10px;
}
.manage-customization .lefttoolbar--glyphicon-chevron {
  font-size: 14px;
  top: 10px;
}
.manage-customization .hyicon-more {
  font-size: 24px;
}
.manage-customization .divider {
  border-bottom: 1px solid #d4d7dc;
}
.manage-customization .button-margin {
  margin-top: 15px;
}
.manage-customization .hyicon {
  font-family: inherit;
}
.manage-customization .hyicon:before {
  vertical-align: top;
}
.manage-customization .hyicon-lefttoolbar::before {
  vertical-align: middle;
}
.manage-customization .y-add-btn .hyicon:before {
  padding-right: 5px;
}
.manage-customization .primaryData {
  font-weight: 600;
}
.manage-customization .hyicon-arrow {
  font-size: 18px;
}
.manage-customization .list-arrow:before {
  vertical-align: middle;
  line-height: 1.2;
}
.manage-customization .active-level {
  background: #ffffff;
}
.manage-customization .inactive-level {
  background: #f3f6f9;
}
.manage-customization personalizationsmartedit-pagination .dropdown-menu {
  min-width: 160px;
  text-align: left;
}
.manage-customization .search-item-lefttoolbar {
  width: 102%;
  height: 100%;
  padding: 15px;
  background: #f3f6f9;
  box-shadow: 0 2px 3px rgba(138, 143, 161, 0.2);
}
.manage-customization .search-item-lefttoolbar .select2-search-field input {
  padding-left: 5px;
}
.manage-customization .search-item-lefttoolbar .select2-search-field::before {
  font-weight: 400;
  font-family: hyicon;
  content: "\e00f";
  padding-left: 10px;
  vertical-align: middle;
  font-size: 18px;
}
.manage-customization .search-item-lefttoolbar .statusDataValue {
  font-size: 11px;
}
.manage-customization .row-lefttoolbar {
  margin-left: 0;
  padding: 15px;
  border-bottom: 1px solid #d4d7dc;
}
.manage-customization .row-lefttoolbar.filter-layout.filter-layout--no-results,
.manage-customization .row-lefttoolbar.customization--last {
  border-bottom: none;
}
.manage-customization .customization--last {
  padding-bottom: 30px;
}
.manage-customization .col-lefttoolbar-glyphicon {
  padding-left: 0;
  padding-right: 15px;
}
.manage-customization .col-lefttoolbar-hyicon {
  padding-left: 0;
}
.manage-customization .dropdown-menu-leftoolbar {
  min-width: 100px;
}
.manage-customization .overflow-wrapper-lefttoolbar {
  margin-bottom: -30px;
  max-height: 55vh;
  overflow-x: hidden;
}
.manage-customization .dropdown-menu-single-item {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 10px 16px;
}
.manage-customization .selectedVariation {
  background-color: #32a0ec;
  color: #ffffff;
}
.manage-customization .selectedVariation .selectedVariation-icon {
  background-image: url("../icons/selected_variation.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  top: -5px;
}
.manage-customization .selectedVariation .status-active,
.manage-customization .selectedVariation .status-inactive,
.manage-customization .selectedVariation .status-ignore {
  color: #ffffff;
}
.manage-customization .selectedVariation .commerce-customization__marker--icon {
  background-image: url("../icons/promotion_on.png");
}
.select2-highlighted .status-active,
.select2-highlighted .status-inactive,
.select2-highlighted .status-ignore {
  color: #ffffff;
}
.customize-panel__marker-icon {
  margin-left: -10px;
}
.ySEComponentMenu-customized {
  max-width: 370px;
  top: inherit;
}
.ySEComponentMenu-customized .ySEComponentMenuList--item,
.ySEComponentMenu-customized .ySEComponentMenuList--item--last {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -10px;
  overflow: hidden;
}
.ySEComponentMenu-customized .ySEComponentMenuList--item .ySEComponentMenu-anchor,
.ySEComponentMenu-customized .ySEComponentMenuList--item--last .ySEComponentMenu-anchor {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 0;
}
.ySEComponentMenu-customized .ySEComponentMenuList--item .ySEComponentMenu-anchor:hover,
.ySEComponentMenu-customized .ySEComponentMenuList--item--last .ySEComponentMenu-anchor:hover,
.ySEComponentMenu-customized .ySEComponentMenuList--item .ySEComponentMenu-anchor:focus,
.ySEComponentMenu-customized .ySEComponentMenuList--item--last .ySEComponentMenu-anchor:focus {
  background: none;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
}
.ySEComponentMenu-customized .ySEComponentMenuList--item--last {
  margin-bottom: 9px;
}
.ySEComponentMenu-headers {
  color: #ffffff;
  padding-left: 25px;
  padding-right: 30px;
  margin-bottom: 20px;
}
.ySEComponentMenu-headers .h2 {
  font-size: 19px;
  font-weight: normal;
}
.ySEComponentMenu-headers .small {
  font-style: italic;
}
.ySEComponentMenu-customized > li.item:first-of-type {
  padding: 0 0 30px 0;
}
.menuitem-lefttoolbar {
  background: #ffffff;
  margin-bottom: -5px;
}
.divider-lefttoolbar {
  margin: 0;
}
@media (min-width: 992px) {
  .header-status-layout {
    padding-left: 40%;
  }
}
@media (min-width: 1200px) {
  .header-status-layout {
    padding-left: 15%;
  }
}
@media (min-width: 1500px) {
  .header-status-layout {
    padding-right: 25%;
    padding-left: 0;
  }
  .number-in-col-layout {
    padding-left: 25%;
  }
}
@media (min-width: 2200px) {
  .item-status-layout {
    padding-left: 10%;
  }
}
.personalization-toolbar-menu-variation-status-enabled {
  color: green;
}
.personalization-toolbar-menu-variation-status-disabled {
  color: red;
}
.personalizationsmarteditComponentSelected,
.personalizationsmarteditComponentSelected0,
.personalizationsmarteditComponentSelected1,
.personalizationsmarteditComponentSelected2,
.personalizationsmarteditComponentSelected3,
.personalizationsmarteditComponentSelected4,
.personalizationsmarteditComponentSelected5,
.personalizationsmarteditComponentSelected6,
.personalizationsmarteditComponentSelected7,
.personalizationsmarteditComponentSelected8,
.personalizationsmarteditComponentSelected9,
.personalizationsmarteditComponentSelected10,
.personalizationsmarteditComponentSelected11,
.personalizationsmarteditComponentSelected12,
.personalizationsmarteditComponentSelected13,
.personalizationsmarteditComponentSelected14 {
  border: 5px;
  border-style: solid;
  border-color: #0486e0;
}
.personalizationsmarteditComponentSelectedList,
.personalizationsmarteditComponentSelectedList0,
.personalizationsmarteditComponentSelectedList1,
.personalizationsmarteditComponentSelectedList2,
.personalizationsmarteditComponentSelectedList3,
.personalizationsmarteditComponentSelectedList4,
.personalizationsmarteditComponentSelectedList5,
.personalizationsmarteditComponentSelectedList6,
.personalizationsmarteditComponentSelectedList7,
.personalizationsmarteditComponentSelectedList8,
.personalizationsmarteditComponentSelectedList9,
.personalizationsmarteditComponentSelectedList10,
.personalizationsmarteditComponentSelectedList11,
.personalizationsmarteditComponentSelectedList12,
.personalizationsmarteditComponentSelectedList13,
.personalizationsmarteditComponentSelectedList14 {
  color: #ffffff;
  width: 44px;
  height: 44px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}
.personalizationsmarteditComponentSelected0 {
  border-color: #0486e0;
}
.personalizationsmarteditComponentSelected1 {
  border-color: #9dc75b;
}
.personalizationsmarteditComponentSelected2 {
  border-color: #fd621f;
}
.personalizationsmarteditComponentSelected3 {
  border-color: #b831b4;
}
.personalizationsmarteditComponentSelected4 {
  border-color: #faba0d;
}
.personalizationsmarteditComponentSelected5 {
  border-color: #1ec8df;
}
.personalizationsmarteditComponentSelected6 {
  border-color: #de356b;
}
.personalizationsmarteditComponentSelected7 {
  border-color: #1f4d70;
}
.personalizationsmarteditComponentSelected8 {
  border-color: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelected9 {
  border-color: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelected10 {
  border-color: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelected11 {
  border-color: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelected12 {
  border-color: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelected13 {
  border-color: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelected14 {
  border-color: rgba(31, 77, 112, 0.3);
}
.personalizationsmarteditComponentSelectedList0 {
  background: #0486e0;
}
.personalizationsmarteditComponentSelectedList1 {
  background: #9dc75b;
}
.personalizationsmarteditComponentSelectedList2 {
  background: #fd621f;
}
.personalizationsmarteditComponentSelectedList3 {
  background: #b831b4;
}
.personalizationsmarteditComponentSelectedList4 {
  background: #faba0d;
}
.personalizationsmarteditComponentSelectedList5 {
  background: #1ec8df;
}
.personalizationsmarteditComponentSelectedList6 {
  background: #de356b;
}
.personalizationsmarteditComponentSelectedList7 {
  background: #1f4d70;
}
.personalizationsmarteditComponentSelectedList8 {
  background: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelectedList9 {
  background: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelectedList10 {
  background: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelectedList11 {
  background: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelectedList12 {
  background: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelectedList13 {
  background: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelectedList14 {
  background: rgba(31, 77, 112, 0.3);
}
.perso-tree__segments-layout {
  background-color: #f3f6f9;
  border-left: 20px solid #c4cedc;
  border-top: 1px solid #c4cedc;
  border-right: 1px solid #c4cedc;
  border-bottom: 1px solid #c4cedc;
  margin-bottom: 10px;
  padding-right: 10px;
}
.perso-tree__collapsed-container {
  border-left-color: #5f7084;
}
.perso-tree__empty-container .angular-ui-tree-placeholder {
  display: none;
}
.perso-tree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.perso-tree__btn {
  padding-right: 10px;
}
.perso-tree__container {
  padding: 10px 0;
}
.perso-tree__empty-container-node {
  background-color: #ffffff;
  border: 1px dashed #c4cedc;
  color: #c4cedc;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.perso-tree__empty-container-node--text {
  margin: auto;
}
.perso-tree__node--icon {
  font-size: 13px;
  padding-left: 5px;
}
.perso-tree__container--btn-icon {
  font-size: 13px;
  padding-right: 10px;
  padding-left: 0;
}
.perso-tree__node {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #c4cedc;
}
.perso-tree__node .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-tree__container .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-tree__node--content,
.perso-tree__node--content:hover {
  background-color: #ffffff;
  color: inherit;
  font-weight: 400;
  border: none;
  flex: 2 2 auto;
}
.perso-tree__node:hover .perso-tree__actions,
.perso-tree__container:hover .perso-tree__actions {
  visibility: visible;
}
.perso-tree__actions {
  display: inline-block;
  visibility: hidden;
}
.perso-tree__actions:hover {
  text-decoration: none;
}
.perso-tree__toggle {
  display: inline-block;
}
.perso-tree__dropdown {
  display: inline-block;
  margin-left: -10px;
}
.perso-tree__glyphicon {
  left: -17px;
  position: relative;
  color: #ffffff;
}
.perso-tree__glyphicon:hover {
  opacity: 0.8;
}
.perso-tree__angular-ui-tree-handle--empty {
  flex: 2 2 auto;
  border: none;
  background-color: transparent;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 10px;
}
@media (max-width: 600px) {
  .perso-tree__container {
    flex-direction: column;
  }
}
.angular-ui-tree-placeholder {
  margin: 10px;
  padding: 0;
  min-height: 30px;
}
.angular-ui-tree-drag .tree-node-content {
  margin-top: 0;
}
.angular-ui-tree-drag {
  color: #27394f;
  font-size: 15px;
}
