<div class="container">
    <h2>Show a system alert</h2>
    <div class="row">
        <div class="col-xs-6">
            <form>
                <div class="form-group">
                    <h5>Message</h5>
                    <textarea id="test-alert-message"
                        class="form-control"
                        type="text"
                        data-ng-model="$ctrl.alert.message"></textarea>
                </div>
                <div class="form-group">
                    <h5>Type</h5>
                    <select id="test-alert-type"
                        class="form-control"
                        name="mySelect"
                        ng-options="type for type in $ctrl.types"
                        ng-model="$ctrl.alert.type">
                    </select>
                </div>
                <div class="form-group">
                    <h5>Closeable</h5>
                    <input id="test-alert-closeable"
                        class="form-control"
                        type="checkbox"
                        data-ng-model="$ctrl.alert.closeable">
                </div>
                <div class="form-group">
                    <h5>Timeout</h5>
                    <input id="test-alert-timeout"
                        class="form-control"
                        type="number"
                        step="1"
                        data-ng-model="$ctrl.alert.timeout">
                </div>

                <div class="form-group">
                    <h5>Create multiple (not for automation)</h5>
                    <input class="form-control"
                        type="number"
                        step="1"
                        data-ng-model="$ctrl.count">
                </div>
            </form>
        </div>
    </div>
    <button id='test-alert-add-button'
        class="btn btn-primary"
        data-ng-click="$ctrl.addAlert()">Show Alert</button>
    <button id='test-alert-reset-button'
        class="btn btn-secondary"
        data-ng-click="$ctrl.reset()">Reset</button>
</div>

</div>