<div data-ng-cloak
    class="ySEGenericEditor">
    <form name="componentForm"
        novalidate
        data-ng-submit="ge.editor.submit(componentForm)"
        class="no-enter-submit">
        <div class="modal-header"
            data-ng-show="modalHeaderTitle">
            <h4 class="modal-title">{{modalHeaderTitle| translate}}</h4>
        </div>
        <div class="ySErow"
            data-ng-repeat="holder in ge.editor.holders"
            data-ng-switch="field.cmsStructureType">
            <div class="">
                <label class="control-label"
                    data-ng-class="{'required': holder.field.required}"
                    id="{{holder.field.qualifier}}-label">{{holder.field.i18nKey | lowercase | translate}}
                </label>

            </div>
            <div class=""
                id="{{holder.field.qualifier}}">
                <localized-element data-ng-if="holder.field.localized"
                    data-model="holder"
                    data-languages="ge.editor.languages"
                    class="form-group multi-tabs-editor"
                    data-input-template="genericEditorFieldWrapperTemplate.html"></localized-element>
                <generic-editor-field data-ng-if="!holder.field.localized"
                    data-editor="holder.editor"
                    data-field="holder.field"
                    data-model="ge.editor.component"
                    data-qualifier="holder.field.qualifier"
                    data-id="ge.editor.id" />
            </div>
        </div>
        <div class="ySErow"
            data-ng-if="ge.showNoEditSupportDisclaimer()">
            <y-message data-type="info"
                id="GenericEditor.NoEditingSupportDisclaimer">
                <message-description>
                    <translate>editor.notification.editing.not.supported</translate>
                </message-description>
            </y-message>
        </div>

        <div class="ySEBtnRow modal-footer"
            data-ng-show="(ge.editor.alwaysShowReset || (ge.editor.showReset===true && ge.editor.isDirty()  && ge.editor.isValid())) || (ge.editor.alwaysShowSubmit || (ge.editor.showSubmit===true && ge.editor.isDirty()  && ge.editor.isValid() && componentForm.$valid))">
            <button type="button"
                id="cancel"
                class="btn btn-subordinate"
                data-ng-if="ge.editor.alwaysShowReset || (ge.editor.showReset===true && ge.editor.isDirty() && ge.editor.isValid())"
                data-ng-click="ge.reset()">{{ge.cancelButtonText| translate}}</button>
            <button type="submit"
                id="submit"
                class="btn btn-primary"
                data-ng-if="ge.editor.alwaysShowSubmit || (ge.editor.showSubmit===true && ge.editor.isDirty()  && ge.editor.isValid() && componentForm.$valid)"
                data-ng-disabled="ge.isSubmitDisabled(componentForm)">{{ge.submitButtonText| translate}}</button>
        </div>
    </form>
</div>