<?xml version="1.0" encoding="UTF-8"?>
<!--
 [y] hybris Platform
 
 Copyright (c) 2017 SAP SE or an SAP affiliate company.
 All rights reserved.
 
 This software is the confidential and proprietary information of SAP
 ("Confidential Information"). You shall not disclose such Confidential
 Information and shall use it only in accordance with the terms of the
 license agreement you entered into with SAP.
-->
<zk xmlns="http://www.zkoss.org/2005/zul"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd ">
	<div id="mainCnt" width="100%" style="position: relative;" height="100%" apply="${rulesModuleSyncComposer}">
		<div height="100%" style="background: white;">
			<vlayout height="100%" spacing="none" sclass="yrb-modal-content">
				<div>
					<label value="${c:l('action.rules.module.sync.selectModule')}" sclass="envselectorlabel"/>
					<combobox id="envInput" autocomplete="false" readonly="true" value="${c:l('action.rules.module.sync.pleaseSelect')}">
						<custom-attributes ytestid="envInput"/>
						<comboitem label="${c:l('action.rules.module.sync.pleaseSelect')}">
							<custom-attributes ytestid="envInputItem"/>
						</comboitem>
					</combobox>
				</div>
				<hlayout sclass="yrb-modal-controls yw-wizard-navigation">
					<button id="cancelBtn" label="${c:l('action.rules.module.sync.cancel')}"/>
					<button id="okBtn" label="${c:l('action.rules.module.sync.ok')}" autodisable="self" disabled="true" sclass="yw-btn-primary"/>
				</hlayout>
			</vlayout>
		</div>
	</div>
</zk>
