<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>dummy storefront</title>
    <script src="../../../../../buildArtifacts/static-resources/thirdparties/jquery/dist/jquery.min.js"></script>
    <script src="../../../../../buildArtifacts/static-resources/webApplicationInjector.js"></script>

    <link rel="stylesheet" href="../../../../../buildArtifacts/static-resources/thirdparties/bootstrap/dist/css/bootstrap.min.css">

    <style type="text/css">
    #component2 {
        margin-top: 300px
    }
    </style>
</head>

<body class="smartedit-page-uid-secondpage smartedit-page-uuid-secondpage">
    <br/>
    <label>second page of storefront</label>
    <div class="smartEditComponent" id="component2" data-smartedit-component-type="componentType1" data-smartedit-component-id="component2" data-smartedit-component-uuid="component2" data-ng-model="component1">
        <div class="box">
            <p>component2</p>
        </div>
    </div>
</body>

</html>
