
@cmsx-ctx-btns__img--shadow: -1px 5px 12px -2px rgba(117, 117, 117, 0.44);
@cmsx-ctx-more-btn__bottom-shadow--box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1);
@cmsx-ctx-btns__img--max-width: 45px;
@cmsx-ctx-btns__img--top-margin: -20px;
@cmsx-ctx__icon--font-size: 10px;
@cmsx-ctx__icon--gutter: 10px;
@cmsx-ctx__icon-more--max-width: 24px;
@cmsx-ctx-dropdown-menu__label--font-size: 15px;

#smarteditoverlay{
    z-index: 50 !important;
}

.noboxshadow{
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
}

.yCmsCtxMenu.btn-group{
  box-shadow: none !important;
  display: inline-block;
  position: relative;

  ul.dropdown-menu{
    top: 41px;
    padding-top: 0;
    right: 0 !important;
    border: none !important;
    left: inherit !important;

    li a{
      padding-left: 26px;
      padding-right: 26px;
      &:hover{
        background-color: @smartedit-blue3;
        color: @white;
      }
    }

    .icontext{
      font-size: 15px;
    }

    .labeltext{
      font-size: 11px;
    }

  }
}

.smartEditComponentX {
	z-index: 10;
}

.smartEditComponentX > div {
  height: 100%;
}

.se\.slotContextualMenu > div {
  height: 100%;
}

.cmsx-slot-ctx-wrapper1 {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;

  .cmsx-slot-ctx-wrapper2 {
    display: table-cell;
    vertical-align: middle;
    position: relative;

    .yWrapperData{
      min-width: 51px;
      min-height: 49px;
    }

    .decorative-border{
      background-color: @contextmenuoverlaycolor;
      position: absolute;
    }
  }
}

.cmsx-ctx-wrapper1 {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;

  .cmsx-ctx-wrapper2 {
    display: table-cell;
    vertical-align: middle;

    .yWrapperData{
      min-width: 51px;
      min-height: 49px;
    }

    .decorative-border{
      background-color: @contextmenuoverlaycolor;
      position: absolute;
    }

    .decorative-top-border{
      height: 3px;
      top: 0;
      width: 100%;
    }

    .decorative-right-border{
      width: 3px;
      left: 0;
      top:0;
      height: 100%;
    }

    .decorative-bottom-border{
      height: 3px;
      bottom: 0;
      width: 100%;
    }

    .decorative-left-border{
      width: 3px;
      right: 0;
      top:0;
      height: 100%;
    }

    .contextualmenuBackground{
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

      /* IE 5-7 */
      filter: alpha(opacity=30);

      /* Netscape */
      -moz-opacity: 0.30;

      /* Safari 1.x */
      -khtml-opacity: 0.30;

      /* Good browsers */
      opacity: 0.30;

      &.editMode{
        background-color: @contextmenuoverlaycolor;
      }
    }

    .cmsx-ctx-btns,
    .cmsx-ctx-more-btn {
      position: relative;
      border-radius: 0;
      opacity: 1;
      border: 0;
      box-shadow: none;
      padding: 0px 0px;
      z-index: 5001;
      width: auto;
      background-color: transparent;
      &:focus {
        outline-color: transparent;
        outline-style: none;
      }
    }

    .cmsx-ctx-btns {
      margin-right: 2px;
      background-color: transparent;
      width: auto;
    }

    .cmsx-ctx-btns img {
      opacity: 1;
      -webkit-box-shadow: @cmsx-ctx-btns__img--shadow;
      -moz-box-shadow: @cmsx-ctx-btns__img--shadow;
      box-shadow: @cmsx-ctx-btns__img--shadow;
    }

    .contextualMenuOverlay .cmsx-ctx-btns img {
      margin-top: @cmsx-ctx-btns__img--top-margin;
    }

    .cmsx-ctx-more{
      height: 100%;
      .pull-right();
    }

    .cmsx-ctx-btns img{
      max-width: @cmsx-ctx-btns__img--max-width;
      -webkit-box-shadow: @cmsx-ctx-btns__img--shadow;
      -moz-box-shadow: @cmsx-ctx-btns__img--shadow;
      box-shadow: @cmsx-ctx-btns__img--shadow;
    }

    .yCmsCtxMenu.dropdown .dropdown-menu {
      z-index: 1013;
      border: 0;
      border-radius: 0;
      font-family: Dosis;
    }

    .cmsx-ctx-menu-more-icon {
      max-width: 20px;
      margin-right: 10px;
    }

    .yCmsCtxMenu.dropdown .dropdown-menu li,
    .yCmsCtxMenu.dropdown .dropdown-menu li a {
      z-index: 5000;
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .yCmsCtxMenu.dropdown ul.dropdown-menu {
      margin-top: 0;
    }

    .cmsx-ctx-more-btn .bottom-shadow {
      box-shadow: @cmsx-ctx-more-btn__bottom-shadow--box-shadow;
      z-index: 1014;
      position: relative;
    }
  }
}

.cmsx-ctx-btns,
.cmsx-ctx-more-btn{
  border-radius: 0;
  opacity: 1;
  border: 0;
  box-shadow: none;
  padding: 0px 0px;
  z-index: 5001;
}

.cmsx-ctx-btns{
  margin-right: 2px;
}

.cmsx-ctx-btns img{
  opacity: 1;
}

.cmsx-ctx__icon {
  background: @smartedit-blue3;
  color: @smartedit-white;
  -webkit-box-shadow: @cmsx-ctx-btns__img--shadow;
  -moz-box-shadow: @cmsx-ctx-btns__img--shadow;
  box-shadow: @cmsx-ctx-btns__img--shadow;
  display: inline-block;
  font-size: 2.7*@cmsx-ctx__icon--font-size;
  padding: .5*@cmsx-ctx__icon--gutter .9*@cmsx-ctx__icon--gutter .3*@cmsx-ctx__icon--gutter;
}

.cmsx-ctx__icon-remove {
  &:extend(.cmsx-ctx__icon);
  background: @smartedit-red1;

  &:before {
    vertical-align: inherit;
  }

  &:hover {
    background: @smartedit-white;
    color: @smartedit-red1;
  }
}

.cmsx-ctx__icon-edit {
  &:extend(.cmsx-ctx__icon);

  &:before {
    vertical-align: inherit;
  }

  &:hover {
    background: @smartedit-white;
    color: @smartedit-blue3;
  }
}

.cmsx-ctx__icon-more {
  &:extend(.cmsx-ctx__icon);
  padding: 0 0 0 .4*@cmsx-ctx__icon--gutter;
  font-size: 3.7*@cmsx-ctx__icon--font-size;
  line-height: 1;
  box-shadow: none;

  &:before {
    padding-right: .4*@cmsx-ctx__icon--gutter;
  }
  &:hover {
    background: @smartedit-white;
    color: @smartedit-blue3;
    padding: 0 0 0 .4*@cmsx-ctx__icon--gutter;
  }
}

.cmsx-ctx__icon-more--small{
  max-width: @cmsx-ctx__icon-more--max-width;
  margin-right: .6*@cmsx-ctx__icon--gutter;
}

.cmsx-ctx__icon--small {
  font-size: 1.6*@cmsx-ctx__icon--font-size;
  color: @smartedit-grey3;
  margin-right: @cmsx-ctx__icon--gutter;
}

.cmsx-ctx__icon-edit--small{
  &:extend(.cmsx-ctx__icon--small);
  font-size: 1.9*@cmsx-ctx__icon--font-size;
  margin-right: .6*@cmsx-ctx__icon--gutter;
}

.cmsx-ctx-dropdown-menu__label {
  text-transform: uppercase;
  font-size: @cmsx-ctx-dropdown-menu__label--font-size;
}

.cmsx-ctx-dropdown-menu__label-remove {
  &:extend(.cmsx-ctx-dropdown-menu__label);
  color: @smartedit-red1;
}

.cmsx-ctx-wrapper1{
  overflow: hidden;
  display: table;
}

.cmsx-ctx-wrapper2{
  display: table-cell;
  vertical-align: middle;
}

.cmsx-ctx-btns img,
.cmsx-ctx-more-btn img{
  max-width: @cmsx-ctx-btns__img--max-width;
}

.contextualMenuOverlay .cmsx-ctx-btns img {
  margin-top: @cmsx-ctx-btns__img--top-margin;
}

.yCmsCtxMenu.dropdown .dropdown-menu {
  z-index: 1013;
  border: 0;
  border-radius: 0;
  font-family: Dosis;
}

.yCmsCtxMenu.dropdown .dropdown-menu li,
.yCmsCtxMenu.dropdown .dropdown-menu li a{
  z-index: 5000;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.yCmsCtxMenu.dropdown ul.dropdown-menu{
  margin-top: 0;
}

.cmsx-ctx-more-btn .bottom-shadow {
  box-shadow: @cmsx-ctx-more-btn__bottom-shadow--box-shadow;
  z-index: 1014;
  position: relative;
}

.cmsx-ctx-btns,
.cmsx-ctx-more-btn{
  border-radius: 0;
  opacity: 1;
  border: 0;
  box-shadow: none;
  padding: 0px 0px;
  z-index: 5001;
}

.cmsx-ctx-btns{
  margin-right: 2px;
}

.cmsx-ctx-btns img{
  opacity: 1;
}

.contextualMenuOverlay{
  position: absolute;
  z-index: 9997;
  left: 3px;
  top: 3px;
  right: 3px;
  &.editMode{
    width: 100%;
    height: 100%;
  }
}

.decoratorHolder{
  position:relative;
}
.hideDecoratorHolder{
  visibility:hidden;
}
.decorators{
  position:absolute;
  visibility:visible;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.ySEEmptySlot{
  min-height: 47px;
}

.cmsx-ctx-wrapper2,
.cmsx-ctx-wrapper1{
    overflow: visible;
}

ul.cmsx-ctx-dropdown-menu {
    min-width: 200px;
    max-width: 240px;
    padding: 0;
    left: auto !important;
}

ul.cmsx-ctx-dropdown-menu li {
  margin-top: 0;

  &:first-child > a {       //added to adjust position of dragdrop image icon in dropdown menu
      padding: 12px;
  }
}

ul.cmsx-ctx-dropdown-menu > li > a {
  padding: 12px 16px;
  color: @smartedit-blue3;

  &:hover {
    background: @smartedit-blue3;
    color: @smartedit-white;

    .cmsx-ctx__icon--small,
    .cmsx-ctx__icon-edit--small,
    .cmsx-ctx-dropdown-menu__label-remove{
      color: @smartedit-white;
    }
  }
}