@color-base: @smartedit-grey24;

@disabled-shared-slot-gutter: 1px;
@disabled-shared-slot-font-size: 10px;
@disabled-shared-slot-opacity: 1;
@disabled-shared-slot-popover-border-radius: 3px;

.disabled-shared-slot {
  background-color: @color-base;
  width: 100%;
  height: 100%;
  color: @smartedit-grey25;
  opacity: 0.15*@disabled-shared-slot-opacity;
  text-align: center;
  word-wrap: break-word;
  text-overflow: clip;
  position: relative;
}

.disabled-shared-slot__icon--outer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: @disabled-shared-slot__icon--outer-background;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.disabled-shared-slot__icon--inner {
  position: absolute;
  font-weight: bold;
  color: @smartedit-white;

  &.hyicon-lock {
    font-size: 4.2*@disabled-shared-slot-font-size;
    left: 4*@disabled-shared-slot-gutter;
    bottom: -4*@disabled-shared-slot-gutter;
  }
  &.hyicon-linked {
    font-size: 1.1*@disabled-shared-slot-font-size;
    left: 7.5*@disabled-shared-slot-gutter;
    top: 12*@disabled-shared-slot-gutter;
  }
}

.disabled-shared-slot-hovered {
  opacity: 0.35*@disabled-shared-slot-opacity;
}

.disabled-shared-slot__icon--outer-hovered {
  background-color: @smartedit-blue4;
  opacity: @disabled-shared-slot-opacity;
}

#smarteditoverlay + .popover.bottom {
  border-radius: @disabled-shared-slot-popover-border-radius;

  &> .arrow, &> .arrow:after {
    border-bottom-color: @default-greyblue;
  }
}

#smarteditoverlay + .popover.bottom .popover-content{
  padding: 0;
}

.disabled-shared-slot-tooltip__wrapper {
  background: @default-greyblue;
  display: flex;
  align-items: center;
  border-radius: @disabled-shared-slot-popover-border-radius;
}

.disabled-shared-slot-tooltip__info {
  color: @smartedit-white;
  padding: .4*@smartedit-gutter;
}


