.ySEWaitDialog .modal-dialog{
    width: 220px;
    .modal-content{
        background-color: transparent;
        box-shadow: none;
        border: none;
        display: inline-block;
        .modal-body{
            display: inline-block;
        }
    }
} 

.ySEPanelSpinner{
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: inline-block;

    .panel-body{
        display: inline-block;
    }
}

.ySESpinner{
    margin-top: 15px;
    margin-bottom: 15px;
}

.ySESpinnerText{
    font-size: 24px;
    color: @smartedit-white;
    font-family: @font-open-sans;
}

.smartEditLogin,
.smartEditLoginModal{
    background: -webkit-linear-gradient(@default-blue, @smartedit-blue5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@default-blue, @smartedit-blue5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@default-blue, @smartedit-blue5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@default-blue, @smartedit-blue5); /* Standard syntax (must be last) */
    color: @white;

    input{
        background: -webkit-linear-gradient(@default-blue, @smartedit-blue5); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(@default-blue, @smartedit-blue5); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(@default-blue, @smartedit-blue5); /* For Firefox 3.6 to 15 */
        background: linear-gradient(@default-blue, @smartedit-blue5); /* Standard syntax (must be last) */
        color: @white;
    }

    .signinForm{
        padding-top: 20px;
    }

    .ySELoginLabel{
        color: @white;
    }

    .alert{
        margin-bottom: 0;
    }

    .form-group input{
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border: 1px solid @white;
        box-shadow: none;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    @white;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    @white;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    @white;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    @white;
    }

    .top-buffer {
        margin-top:20px;
    }
    .top-buffer2{
        margin-top: 40px;
    }

    .ySELoginLanguage{
        padding-left: 0;
        li{
            color: @black;
        }
    }

    .btn{
        text-transform: uppercase;
    }

}

.smartEditLogin.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.ySELoginNotInit div.modal-dialog{
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    .modal-dialog{
        width: 100%;
        height: 100%;
    }

    .modal-content{
        border: 0;
        height: 100%;
    }

    .modal-body{
        padding: 0;
    }
}

.smartEditLoginModal{
    overflow: hidden;

    .ySELoginAuthMessage{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        text-align: center;
    }
}
.smartEditLogin,
.smartEditLoginModal{

    .alert{
        box-shadow: none;
    }
    color: @white;
    font-family: Dosis, sans-serif;

    .form-group input{
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        box-shadow: none;
    }

    .alert.alert-error-bluebg {
        background-color: tomato;
        border-color: @white;
    }

    language-selector {
        padding-left: 0;
        padding-right: 0;
        text-transform: uppercase;
        color: @smartedit-grey4;
    }

}

.smartEditLoginModal{
    padding: 150px 0;
}

.ySELoginInit {
    z-index: 1070;
}

.ySELoginInit .modal-body{
    padding: 0;
}

.smartEditLogin .ySELogo{
    padding-bottom: 30px;
}

.smartEditLogin{
    display:flex;
    justify-content:center;
    align-items:center;
}

//fallback for IE
.ySELoginNotInit{
    height:100%;
    .modal-dialog{
        height: 100%;
        .modal-content{
            height: 100%;
            .modal-body{
                height: 100%;
                >div{
                    height: 100%;
                    .smartEditLogin{
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: @screen-xs-max) {
    .smartEditLogin .ySELoginContent{
        width: 400px;
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .smartEditLogin .ySELoginContent{
        width: 500px;
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .smartEditLogin .ySELoginContent{
        width: 700px;
    }
}

@media (min-width: @screen-lg-min) {
    .smartEditLogin .ySELoginContent{
        width: 900px;
    }
}

.ySELoginGroup,
.ySELoginAuthMessage,
.ySELogo{
    margin-left:auto;
    margin-right:auto;
    padding-left: 10px;
    padding-right: 10px;
}

.ySELoginGroup,
.ySELoginAuthMessage{
    max-width: 466px;
}

.ySELoginField,
.ySELoginLanguageSelector,
.ySELoginButton,
.ySELoginGroup-error,
.ySELoginInlineMsg,
.ySELogoImage{
    width: 100%;
}

.ySELoginButton{
    text-transform: uppercase;
}

.ySELogo{
    max-width: 366px;
}