@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,600,700);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,600);

@import "../../webroot/static-resources/thirdparties/bootstrap/less/bootstrap";
@import (less) "../../webroot/static-resources/thirdparties/angular-ui-tree/dist/angular-ui-tree.min.css";

@icon-font-path:          "../../../thirdparties/bootstrap/dist/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@bootstrap-path:          "../../../thirdparties/bootstrap";

@import (less) "../../webroot/static-resources/thirdparties/angular-ui-select/dist/select.min.css";
@import (less) "../../webroot/static-resources/thirdparties/select2/select2.css";

@import "node_modules/hyTechne/src/less/globals/_variables";

@icon-font-path:          "../../../thirdparties/bootstrap/dist/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@bootstrap-path:          "../../../thirdparties/bootstrap";

@import "node_modules/hyTechne/src/less/globals/_utils";
@import "node_modules/hyTechne/src/less/overwrites/__overwrites";

@import "node_modules/hyTechne/src/less/overwrites/_alert.less";

@import "node_modules/hyTechne/src/less/overwrites/_buttons";
@import "node_modules/hyTechne/src/less/components/_forms-toggle";

@import "node_modules/hyTechne/src/less/overwrites/_dropdowns";

@import "node_modules/hyTechne/src/less/overwrites/_forms";
@import "node_modules/hyTechne/src/less/components/_forms-hint-text";
@import "node_modules/hyTechne/src/less/components/_forms-checkboxes";
@import "node_modules/hyTechne/src/less/components/_forms-radiobuttons";
@import "node_modules/hyTechne/src/less/components/_forms-readonly";
@import "node_modules/hyTechne/src/less/components/_forms-help";
@import "node_modules/hyTechne/src/less/components/_forms-validationandhelp";
@import "node_modules/hyTechne/src/less/components/_icons";
@import "node_modules/hyTechne/src/less/components/_spinner";
@import "node_modules/hyTechne/src/less/techne-patterns/_dialogues-modals";
@import "node_modules/hyTechne/src/less/techne-patterns/_action-bar";
@import "node_modules/hyTechne/src/less/techne-patterns/_multi-tab-editor";
@import "node_modules/hyTechne/src/less/overwrites/_navs";
@import "node_modules/hyTechne/src/less/overwrites/_pagination.less";
@import "node_modules/hyTechne/src/less/overwrites/_tabs";

@import "node_modules/hyTechne/src/less/globals/_shame";
@import "node_modules/hyTechne/src/less/vendor/_select2";

@import "variables";
@import "reusable-components";

@import "se-select";
@import "navigation";
@import "landing-page";
@import "components";
@import "configuration";
@import "genericeditor";
@import "login";
@import "techne";
@import "drag-n-drop";
@import "iframe";
@import "client-paged-list";
@import "media-upload";
@import "page-list";
@import "media-container";
@import "wizards";
@import "richtexteditor";
@import "restriction-menu";
@import "navigation-editor";
@import "page-info";
@import "ie";
@import "slider-panel";
@import "synchronization";
@import "carousel-component";
@import "yCollapsibleContainer";
@import "y-notification-panel";