//newer techne styling
.modal-dialog .modal-footer,
.ySEGenericEditor  .modal-footer{
    padding: 0 0 2px 0;
}

experience-selector .ySEGenericEditor  .modal-footer{
    padding-bottom: 0px;
    margin-top: 95px; //in order to show full datepicker
    border-top: 1px solid @smartedit-blue;
}

.modal-dialog .modal-footer>span,
.ySEGenericEditor .modal-footer>span {
    display: inline-block;
}

.modal-dialog .modal-footer .btn,
.ySEGenericEditor .modal-footer .btn{
    font-size: 23px;
    font-family: @font-dosis;
    padding: 20px 50px 20px 50px;
}

.modal-dialog .modal-footer{
    border-top: 1px solid @smartedit-grey22;
    background: inherit;
}

.modal-dialog .modal-header{
    background: inherit;
    border-bottom: 1px solid @smartedit-grey22;
}

.modal-dialog .modal-header .hyicon.hyicon-close{
    color: @default-greyblue;
    font-size: 25px;
}

.modal-dialog .modal-header .close{
    margin-top: -9px;
}

.modal-dialog .modal-header h4{
    font-family: @font-dosis;
    font-size: 33px;
    margin: 0;
}

.modal-dialog .modal-header {
    padding-left: 50px;
    padding-top: 35px;
    padding-right: 30px;
}

experience-selector .ySEGenericEditor form{
    padding-right: 0;
}

experience-selector .ySEGenericEditor .btn-subordinate{
    color: @white;
}

.overlay {
    position:absolute;
    z-index:300
}

select, option{
    color: @black;
}

.form-control{
    height:auto;
}

.alert-overlay {
    position: fixed;
    z-index: 1091;
    left: 0;
    right: 0;
    margin-top:40px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 8px 20% 8px 20%;
}

.ySEEmptyMessage{
    display: none;
}


/* Fix techne bug for dropdown template */
.ui-select-container a:hover {
    color: @gray !important;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.alert.alert-success{
    background-color: @smartedit-green1;
    border-color: @smartedit-green1;
    opacity: 0.95;
    .close{
        color: @white;
    }
}

.alert.alert-danger{
    background-color: @smartedit-red2;
    border-color: @smartedit-red2;
    opacity: 0.95;

    .close{
        color: @white;
    }
}

.alert.alert-info{
    background-color: @default-greyblue;
    border-color: @default-greyblue;
    opacity:0.95;
    .close{
        color: @white;
    }
}

.alert.alert-warning {
    background-color: @default-orange;
    border-color: @default-orange;
    color: @black;
    opacity:0.95;
}

.alert .close{
    color: @black;
}

.error-input,
input.has-error{
    color: @default-red;
}

input.has-error, textarea.has-error{
    border-color: @default-red;
}


.nav-tabs li a.sm-tab-error{
    color: @default-red;
}
.nav-tabs li a.sm-tab-error:before{
    content: "! ";
}

.ySEWaitDialog{
    margin-top:300px
}

button.close{
    margin-right:20px;
}
div.synchronize{
    position:relative;
}
img.synchronize{
    position: absolute;
    right: 0;
    z-index: 500
}
.piled{
    margin-top:0;
    margin-bottom:0;
}
.clickable{
    cursor:pointer;
}

.toptoolbar {
    position: absolute;
    padding: 10px;
    margin-left:60px;
    z-index: 100;
}
.floating-perspective {
    position: fixed;
    padding: 10px;
    left: 10px;
    z-index: 700;
}

.floating-bg {
    color: @white;
    border: 1px solid @white;
    background: @smartedit-bluegrey;
    padding: 5px 20px 0px 20px;
}

.ySELoginNotInit .form-group,
.ySELoginInit .form-group{
    margin-bottom: 15px;
}