@screenXs:480px;
@screenSm:768px;
@screenMd:992px;
@screenLg:1200px;

@screenXsMin:480px;
@screenSmMin:768px;
@screenMdMin:992px;
@screenLgMin:1200px;

@screenXsMax:767px;
@screenSmMax:991px;
@screenMdMax:1199px;

@screen-xs:@screenXs;
@screen-sm:@screenSm;
@screen-md:@screenMd;
@screen-lg:@screenLg;

@screen-xs-min:@screenXsMin;
@screen-sm-min:@screenSmMin;
@screen-md-min:@screenMdMin;
@screen-lg-min:@screenLgMin;

@screen-xs-max:@screenXsMax;
@screen-sm-max:@screenSmMax;
@screen-md-max:@screenMdMax;

@contextmenuoverlaycolor: #00c6ff;

@smartedit-blue: #0486e0;
@smartedit-blue2: #2877cb;
@smartedit-blue3: #00c6ff;
@smartedit-lightblue: #32a0ec;
@smartedit-blue4: #016cb7;
@smartedit-blue5: #1c9aed;

@smartedit-green1: #00be26;
@smartedit-green: @default-green;

@smartedit-grey: #e5f1f9;
@smartedit-grey2: #dbe3eb;
@smartedit-grey3: #8592a2;
@smartedit-grey4: #5f7084;
@smartedit-grey5: #f3f6f9;
@smartedit-grey6: #bdc6d2;
@smartedit-grey7: #313440;
@smartedit-grey8:#caddf0;

@smartedit-grey9: #212120;
@smartedit-grey10: #e0e9f0;
@smartedit-grey11: #d5d8dc;
@smartedit-grey12: #f8f8f8;
@smartedit-grey13: #d5dee8;
@smartedit-grey14: #9ba1a9;
@smartedit-grey15: #b7c1cd;
@smartedit-grey16: #d2dae4;
@smartedit-grey17: #d4d7dc;
@smartedit-grey18: #c6c6c6;
@smartedit-grey19: #feffff;
@smartedit-grey20: #e5eef5;
@smartedit-grey21: #27394f;
@smartedit-grey22: #ebeef1;
@smartedit-grey23: #dae2ea;
@smartedit-grey24: #445976;
@smartedit-grey25: #585858;

@smartedit-bluegrey: #444d52;

@smartedit-black: @black;
@smartedit-white: @white;

@smartedit-error: #f55f5f;
@smartedit-red1: #f1291e;
@smartedit-red2: #f0514e;
@smartedit-red: @default-red;

@smartedit-yellow: #fccf63;

@smartedit-success: #2ec447;

@smartedit-border2: 1px solid rgba(189, 198, 210, .35);
@smartedit-border3: 1px solid rgba(255, 255, 255, .35);
@smartedit-border4: 1px solid #7ac1f3;
@smartedit-leftmenu-color: #233243;

@smartedit-border1:1px solid rgba(4, 134, 224, .35);
@smartedit-blue2-opacity: rgba(40, 119, 203, .4);

@font-weight--semibold: 600;
@font-weight--bold: 700;
@font-weight--medium: 500;
@font-weight--normal: 400;
@font-weight--book: 300;
@font-weight--light: 200;

@font-dosis: Dosis, sans-serif;
@font-open-sans:"Open Sans", sans-serif;
@font-roboto:"Roboto", sans-serif;

@smartedit-gutter: 50px;

@icon-font-path:          "../../../thirdparties/bootstrap/dist/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@bootstrap-path:          "../../../thirdparties/bootstrap";
@hytech-path: "../";

@slider-panel-background: rgba(0,0,0,.5);

@disabled-shared-slot__icon--outer-background: rgba(95, 112, 132, 0.5);