<div class="se-media-container-field">
    <div class="row">
        <se-media-format class="col-sm-6 col-md-4 col-lg-3 se-media-container-cell"
            ng-repeat="option in ctrl.field.options"
            data-media-uuid="ctrl.model[ctrl.qualifier][option.id]"
            data-is-under-edit="ctrl.isFormatUnderEdit(option.id)"
            data-media-format="option.id"
            data-errors="ctrl.field.errors"
            data-on-file-select="ctrl.fileSelected(files, option.id)"
            data-on-delete="ctrl.imageDeleted(option.id)">
        </se-media-format>

    </div>
    <se-media-upload-form data-ng-if="ctrl.image.file"
        data-image="ctrl.image"
        data-field="ctrl.field"
        data-on-upload-callback="ctrl.imageUploaded(uuid)"
        data-on-cancel-callback="ctrl.resetImage()"
        data-on-select-callback="ctrl.fileSelected(files)">
    </se-media-upload-form>
    <se-errors-list data-errors="ctrl.fileErrors"></se-errors-list>
</div>