#slide-view .banner img{
    display: block;
    width: 100%;
    height: auto;
}

.product__listing--sold-by{
	margin: 0 0 0 106px;
}
.sold-by {
	color: #008000;
	font-size: 14px;
	font-style: oblique;
}

.vendorLandingSlot{
	padding-left:0px;
	padding-right:0px;
} 

.pageType-VendorPage header {
	margin-bottom:0px;
	
}

.vendorLogo{
	text-align:center;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding-top:10px; 
	padding-bottom:10px;
}

.vendorLeft{
	padding-right:0px;
}

.vendorRefine{
	margin-bottom:20px;
	
}

.link-vendor{
	text-transform: uppercase;
}

@media only screen and (min-width : 640px) and (max-width : 1024px) {
	.vendorLeft {
    width: 100%;
}
}

.order-review-label{
	text-transform: none;
}

.order-review-head{
	padding-left: 20px;
	padding-right: 20px;
}

.order-review-form{
	padding-left: 20px;
	padding-right: 20px;
}

.order-review-product_list{
	padding-bottom: 30px;
}

.order-review-form-label{
	padding-bottom: 10px
}

.order-review-textarea{
	width: 100%;
	min-height:50px;
}

.review-rating:before,
.review-rating:after {
  content: " ";
  display: table;
}
.review-rating:after {
  clear: both;
}
.review-rating:before,
.review-rating:after {
  content: " ";
  display: table;
}
.review-rating:after {
  clear: both;
}
.review-rating .review-rating-stars {
  margin: 0 5px 0 0;
  padding: 3px 0 1px;
  position: relative;
}
@media (max-width: 1023px) {
  .review-rating .review-rating-stars {
    font-size: 18px;
    float: none;
  }
  .review-rating .review-rating-stars:before,
  .review-rating .review-rating-stars:after {
    content: " ";
    display: table;
  }
  .review-rating .review-rating-stars:after {
    clear: both;
  }
  .review-rating .review-rating-stars:before,
  .review-rating .review-rating-stars:after {
    content: " ";
    display: table;
  }
  .review-rating .review-rating-stars:after {
    clear: both;
  }
}
.review-rating .review-rating-stars .greenStars {
  position: absolute;
  overflow: hidden;
  top: 3px;
  left: 0;
  white-space: nowrap;
  width: 0;
}
.review-rating .review-rating-stars span {
  color: #dee3e8;
  margin: 0 0.1em;
  overflow: hidden;
}
.review-rating .review-rating-stars span.fh {
  width: 0.47em;
  margin-right: 0;
  float: left !important;
}
.review-rating .review-rating-stars span.lh {
  width: 0.5em;
  text-indent: -0.44em;
  margin-left: 0;
  float: left !important;
}
.review-rating .review-rating-stars span.active {
  color: #47b6b1;
}
.review-rating.review-rating-set .review-rating-stars {
  cursor: pointer;
  display: inline-block;
}

.detailAverage{
  cursor: pointer;
  z-index: 999;
  position: relative;
}

.vendor__listing.vendor__grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px
}
.vendor__listing.vendor__grid .vendor-item {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 20%;
}
@media (min-width: 640px) {
  .vendor__listing.vendor__grid .vendor-item {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .vendor__listing.vendor__grid .vendor-item {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .vendor__listing.vendor__grid .vendor-item {
    float: left;
    width: 20%;
  }
}
.vendor__listing.vendor__grid .vendor-item:first-child {
  margin-left: -1px;
}
.vendor__listing.vendor__grid .thumb {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  height: 180px;
  overflow: hidden;
}
.vendor__listing.vendor__grid .thumb img {
  width: 100%;
  height: auto;
  max-width: 140px;
}
.vendor__listing.vendor__grid .details {
  text-align: center;
  margin: 0 auto;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.vendor__listing.vendor__grid .details .name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 10px;
  height: 70px;
  overflow: hidden;
  color: #154259;
}
.vendor__listing.vendor__grid .details .promo {
  color: #00a651;
  font-size: 14px;
  font-weight: bold;
}
@media (min-width: 640px) {
  .vendor__listing.vendor__grid .vendor-item:nth-child(4n+1) {
    clear: both;
  }
}
@media (max-width: 639px) {
  .vendor__listing.vendor__grid .vendor-item:nth-child(2n+1) {
    clear: both;
  }
}

.vendor-Url{
	text-align: center;
    font-size: large;
    font-weight: bolder;
}

.vendor-index-title{
	color: #154259;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    padding: 20px 0;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.vendors-img-link{
	text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.vendors-img{
	width: inherit;
    height: inherit;
}
.review-container{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
.review-container:nth-child(odd){
	background-color: #f4f4f4;
}
.reviews-container .reviews_container{
	padding-left: 0;
	padding-right: 0;
}
.review-comment{
	word-wrap: break-word;
}
.rating-header{
	text-align: left;
	padding-left: 0;
}
.reviews-rating {
	padding-left: 0;
}
.review-lt{
	padding-left: 10px;
	padding-bottom: 20px;
}
.reviewer-label{
	color: #0068b3;
}
.review-pagination-bottom{
	padding-left: 0;
	padding-right: 0;
}
.stars{
	padding-left: 0;
	padding-right: 0;
	margin-top: -2px;
}

#slide-view .banner img{
    display: block;
    width: 100%;
    height: auto;
}

.product__listing--sold-by{
	margin: 0 0 0 106px;
}
.sold-by {
	color: #008000;
	font-size: 14px;
	font-style: oblique;
}

.vendorLandingSlot{
	padding-left:0px;
	padding-right:0px;
} 

.pageType-VendorPage header {
	margin-bottom:0px;
	
}

.vendorLogo{
	text-align:center;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding-top:10px; 
	padding-bottom:10px;
}

.vendorLeft{
	padding-right:0px;
}

.vendorRefine{
	margin-bottom:20px;
	
}

.link-vendor{
	text-transform: uppercase;
}

@media only screen and (min-width : 640px) and (max-width : 1024px) {
	.vendorLeft {
    width: 100%;
}
}

.order-review-label{
	text-transform: none;
}

.order-review-head{
	padding-left: 20px;
	padding-right: 20px;
}

.order-review-form{
	padding-left: 20px;
	padding-right: 20px;
}

.order-review-product_list{
	padding-bottom: 30px;
}

.order-review-form-label{
	padding-bottom: 10px
}

.order-review-textarea{
	width: 100%;
	min-height:50px;
}

.review-rating:before,
.review-rating:after {
  content: " ";
  display: table;
}
.review-rating:after {
  clear: both;
}
.review-rating:before,
.review-rating:after {
  content: " ";
  display: table;
}
.review-rating:after {
  clear: both;
}
.review-rating .review-rating-stars {
  margin: 0 5px 0 0;
  padding: 3px 0 1px;
  position: relative;
}
@media (max-width: 1023px) {
  .review-rating .review-rating-stars {
    font-size: 18px;
    float: none;
  }
  .review-rating .review-rating-stars:before,
  .review-rating .review-rating-stars:after {
    content: " ";
    display: table;
  }
  .review-rating .review-rating-stars:after {
    clear: both;
  }
  .review-rating .review-rating-stars:before,
  .review-rating .review-rating-stars:after {
    content: " ";
    display: table;
  }
  .review-rating .review-rating-stars:after {
    clear: both;
  }
}
.review-rating .review-rating-stars .greenStars {
  position: absolute;
  overflow: hidden;
  top: 3px;
  left: 0;
  white-space: nowrap;
  width: 0;
}
.review-rating .review-rating-stars span {
  color: #dee3e8;
  margin: 0 0.1em;
  overflow: hidden;
}
.review-rating .review-rating-stars span.fh {
  width: 0.47em;
  margin-right: 0;
  float: left !important;
}
.review-rating .review-rating-stars span.lh {
  width: 0.5em;
  text-indent: -0.44em;
  margin-left: 0;
  float: left !important;
}
.review-rating .review-rating-stars span.active {
  color: #47b6b1;
}
.review-rating.review-rating-set .review-rating-stars {
  cursor: pointer;
  display: inline-block;
}

.detailAverage{
  cursor: pointer;
  z-index: 999;
  position: relative;
}

.vendor__listing.vendor__grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px
}
.vendor__listing.vendor__grid .vendor-item {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 20%;
}
@media (min-width: 640px) {
  .vendor__listing.vendor__grid .vendor-item {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .vendor__listing.vendor__grid .vendor-item {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .vendor__listing.vendor__grid .vendor-item {
    float: left;
    width: 20%;
  }
}
.vendor__listing.vendor__grid .vendor-item:first-child {
  margin-left: -1px;
}
.vendor__listing.vendor__grid .thumb {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  height: 180px;
  overflow: hidden;
}
.vendor__listing.vendor__grid .thumb img {
  width: 100%;
  height: auto;
  max-width: 140px;
}
.vendor__listing.vendor__grid .details {
  text-align: center;
  margin: 0 auto;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.vendor__listing.vendor__grid .details .name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 10px;
  height: 70px;
  overflow: hidden;
  color: #154259;
}
.vendor__listing.vendor__grid .details .promo {
  color: #00a651;
  font-size: 14px;
  font-weight: bold;
}
@media (min-width: 640px) {
  .vendor__listing.vendor__grid .vendor-item:nth-child(4n+1) {
    clear: both;
  }
}
@media (max-width: 639px) {
  .vendor__listing.vendor__grid .vendor-item:nth-child(2n+1) {
    clear: both;
  }
}

.vendor-Url{
	text-align: center;
    font-size: large;
    font-weight: bolder;
}

.vendor-index-title{
	color: #154259;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    padding: 20px 0;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.vendors-img-link{
	text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.vendors-img{
	width: inherit;
    height: inherit;
}

/* Tabbed Product-Carousel */
.yComponentWrapper .tabs {
  margin: 20px 0 0;
}

.yComponentWrapper .tabs .tabbody {
  background-color: #FFF;
}

.tabhead.of-carousel, .tabs .tabbody .carousel__component--headline {
  display: none;
}

.facet__list--hidden{
  display: none;
}

.vendor_no_reviews{
	margin: 45px 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #154259;
}