@charset "utf-8";

@media screen and (max-width : 1023px) {
	#verticalNavigation {
		display: none !important;
	}
	#headlineImage {
		width: 100%;
	}
}

#section1ABContainer {
	position: relative;
}

#verticalNavigation {
	position: absolute;
	height: 100%;
}

#headlineImage {
	float: right;
}

#vertical_navigation_bar {
	height: 100%;
	margin-bottom: 0;
	background: #142939;
	filter: alpha(opacity = 100 finishopacity = 50 style = 1 startx = 0, starty = 0,
		finishx = 0, finishy = 150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#142939,
		endcolorstr=#111e2b, gradientType=0); /* IE */
	-ms-filter: alpha(opacity = 100 finishopacity = 50 style = 1 startx = 0, starty = 0,
		finishx = 0, finishy = 150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#142939,
		endcolorstr=#111e2b, gradientType=0); /* IE8 */
	background: -moz-linear-gradient(left, #142939, #111e2b); /* Firefox */
	background: -webkit-gradient(linear, 0 0, right bottom, from(#142939),
		to(#111e2b)); /* Chrome & Safari */
	background: -o-linear-gradient(left, #142939, #111e2b); /* Opera11 */
}

div#vertical_navigation_bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 14px;
}

#banner_menu_wrap {
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	z-index: 21;
	opacity: 0.95;
	-moz-opacity: 0.95; /* older Gecko-based browsers */
	filter: alpha(opacity = 95); /* For IE6&7 */
	display: block;
}

#banner_menu_wrap>li {
	width: 100%;
	height: 12%;
	position: relative;
	transition: all 3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	line-height: 40px;
	cursor: pointer;
	margin: 3px 0;
}

#banner_menu_wrap>li a {
	outline: 0;
}

#banner_menu_wrap>li>a {
	color: #ffffff;
	padding-left: 15px;
	float: left;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

#banner_menu_wrap>li>a:hover {
	background: #ff6700;
}

#banner_menu_wrap li .banner_menu_content {
	display: none;
	z-index: 24;
	position: absolute;
	left: 100%;
	width: 150%;
}

#banner_menu_wrap li .banner_menu_content ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	background: #fff;
}

#banner_menu_wrap li .banner_menu_content li {
	height: 50px;
	margin: 5px;
}

#banner_menu_wrap li .banner_menu_content li.thumbnail_only {
	width: 50%;
}

#banner_menu_wrap li .banner_menu_content li a {
	color: #424242;
	margin-left: 5px;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
}

#banner_menu_wrap li .banner_menu_content li a:hover {
	color: #ff6700;
}

#banner_menu_wrap li .banner_menu_content li a>img {
	margin: 2%;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
}

#banner_menu_wrap li .banner_menu_content li.thumbnail_only a>img {
	width: 60%;
	height: 30%;
	margin-left: 5%;
}

#banner_menu_wrap li .banner_menu_content li.thumbnail_only a{
	text-align: center;
}