<div class="slot-visibility-button-template">
    <div class="btn-group slot-visibility-button-template__btn-group"
        data-uib-dropdown
        data-dropdown-append-to-body
        data-is-open="ctrl.isComponentListOpened">
        <button type="button"
            data-uib-dropdown-toggle
            class="btn btn-primary slot-visibility-button-template__btn"
            data-ng-if="ctrl.buttonVisible"
            data-ng-class="{'ySEVisibilityOpen': ctrl.isComponentListOpened}"
            id="slot-visibility-button-{{::ctrl.slotId}}">
            <img class="slot-visibility-button-template__btn__img "
                data-ng-src="{{ ctrl.eyeImageUrl }}" />{{ ::ctrl.hiddenComponentCount }}
        </button>
        <ul class="dropdown-menu dropdown-menu-right slot-visibility-button-template__menu"
            data-uib-dropdown-menu
            role="menu"
            id="slot-visibility-list-{{::ctrl.slotId}}">
            <lh class="slot-visibility-button-template__menu__title">
                <p class="slot-visibility-button-template__menu__title__text">{{'slotvisibility.list.title' | translate}}</p>
            </lh>
            <li class="slot-visibility-component slot-visibility-button-template__menu__component"
                data-ng-repeat="component in ctrl.hiddenComponents">
                <slot-visibility-component data-component="component"
                    data-slot-id="{{::ctrl.slotId}}"></slot-visibility-component>
            </li>
        </ul>
    </div>
</div>