<div class="slot-visiblity-component-template">
    <div class="slot-visiblity-component-template__icon">
        <img data-ng-src="{{::ctrl.imageRoot}}/component_default.png"
            class="slot-visiblity-component-template__icon__image"
            alt="{{::ctrl.component.typeCode}}" />
    </div>
    <div class="slot-visiblity-component-template__text">
        <a class="slot-visiblity-component-template__text__name"
            href="#"
            data-ng-click="ctrl.openEditorModal()">{{ ::ctrl.component.name }}</a>
        <p class="slot-visiblity-component-template__text__type">{{ ::ctrl.component.typeCode }}</p>
    </div>
</div>